/*
|--------------------------------------------------------------------------
| Sort
|--------------------------------------------------------------------------
| @namespace: fltr-
|
*/
.fltr-Sort {
  display: block;
  padding: 10px var(--Grid_Gutter);

  background-color: #fff;
  border: 1px solid var(--Color_Border);

  @media (--xs-viewport) {
    width: 41px;
    margin-left: auto;

    border-top: 0;
  }

  /* stylelint-disable selector-max-type */
  svg {
    display: block;
    width: 20px;
    height: @width;

    color: var(--Color_Dark-1);
  }
  /* stylelint-enable */
}
