{% extends "base.html" %}
{% import "macros/page.html" as page %}

{% block content_class %}lyt-Content-full{% endblock %}

{% block strapline_title %}Squad Builder{% endblock %}

{% block main %}
  <div id="js-Builder"
       {% block builder_data %}{% endblock %}
       data-editable="{% block builder_editable %}true{% endblock %}"
       data-formation="{% block builder_formation %}442{% endblock %}"
       data-is-sbc="{% block builder_is_sbc %}false{% endblock %}"
       data-page="{% block builder_page_id %}{{ pages.current.id }}{% endblock %}"
       data-save-url="{% block builder_action %}/squads/builder/save/{% endblock %}"
       data-share='{% block builder_share %}{"url": "", "title": ""}{% endblock %}'
       data-title="{% block builder_title %}{% endblock %}"
       data-user="{{ user_data }}">
    <form class="bld-Builder {% block builder_class %}{% endblock %}"
          {% if self.builder_action() %}action=""{% endif %}>
      <header class="bld-Builder_Header">{% block builder_header %}{% endblock %}</header>

      <div class="bld-Builder_Body">
        {% block builder_body_top %}{% endblock %}
        <div class="bld-Builder_Team">
          <canvas class="bld-Builder_Canvas" ref="canvas"></canvas>

          <ul class="bld-Builder_Players">{% block builder_players %}{% endblock %}</ul>

          {% block builder_players_after %}{% endblock %}
        </div>

        <div class="bld-Builder_ExtraPlayers">
          <div class="bld-ExtraPlayers">
            <div class="bld-ExtraPlayers_Inner">
              <div class="bld-ExtraPlayers_Body">
                <div class="bld-ExtraPlayers_Bench">
                  <p class="bld-ExtraPlayers_Title">Bench</p>

                  <ul class="bld-ExtraPlayers_Items">
                    {% block builder_bench %}
                      <li class="bld-ExtraPlayers_Item" data-builder-formation-index="11"></li>
                      <li class="bld-ExtraPlayers_Item" data-builder-formation-index="12"></li>
                      <li class="bld-ExtraPlayers_Item" data-builder-formation-index="13"></li>
                      <li class="bld-ExtraPlayers_Item" data-builder-formation-index="14"></li>
                      <li class="bld-ExtraPlayers_Item" data-builder-formation-index="15"></li>
                      <li class="bld-ExtraPlayers_Item" data-builder-formation-index="16"></li>
                      <li class="bld-ExtraPlayers_Item" data-builder-formation-index="17"></li>
                    {% endblock %}
                  </ul>
                </div>

                <div class="bld-ExtraPlayers_Reserves">
                  <p class="bld-ExtraPlayers_Title">Reserves</p>

                  <ul class="bld-ExtraPlayers_Items">
                    {% block builder_reserves %}
                      <li class="bld-ExtraPlayers_Item" data-builder-formation-index="18"></li>
                      <li class="bld-ExtraPlayers_Item" data-builder-formation-index="19"></li>
                      <li class="bld-ExtraPlayers_Item" data-builder-formation-index="20"></li>
                      <li class="bld-ExtraPlayers_Item" data-builder-formation-index="21"></li>
                      <li class="bld-ExtraPlayers_Item" data-builder-formation-index="22"></li>
                    {% endblock %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}

{% block content_below %}
  <template id="PlayerCardResult">
    <li class="plyr-CardList_Item">
      <div class="plyr-Card plyr-Card-medium">
        <header class="plyr-Card_Header">
          <div class="plyr-Card_Meta">
            <span class="plyr-Card_Rating"></span>
            <span class="plyr-Card_Position"></span>
            <img alt="" class="plyr-Card_Club">
            <img alt="" class="plyr-Card_Nation">
          </div>

          <img alt="" class="plyr-Card_Image">
        </header>

        <div class="plyr-Card_Body">
          <p class="plyr-Card_Name"></p>

          <div class="plyr-Card_Extra">
            <p class="plyr-Card_Workrates"></p>
            <p class="plyr-Card_Stars plyr-Card_Stars-skillMoves"></p>
            <p class="plyr-Card_Stars plyr-Card_Stars-weakFoot"></p>
          </div>

          <div class="plyr-Card_Stats">
            <div class="plyr-Card_Stat plyr-Card_Stat-1">
              <span class="plyr-Card_StatValue"></span>
              <span class="plyr-Card_StatKey"></span>
            </div>

            <div class="plyr-Card_Stat plyr-Card_Stat-2">
              <span class="plyr-Card_StatValue"></span>
              <span class="plyr-Card_StatKey"></span>
            </div>

            <div class="plyr-Card_Stat plyr-Card_Stat-3">
              <span class="plyr-Card_StatValue"></span>
              <span class="plyr-Card_StatKey"></span>
            </div>

            <div class="plyr-Card_Stat plyr-Card_Stat-4">
              <span class="plyr-Card_StatValue"></span>
              <span class="plyr-Card_StatKey"></span>
            </div>

            <div class="plyr-Card_Stat plyr-Card_Stat-5">
              <span class="plyr-Card_StatValue"></span>
              <span class="plyr-Card_StatKey"></span>
            </div>

            <div class="plyr-Card_Stat plyr-Card_Stat-6">
              <span class="plyr-Card_StatValue"></span>
              <span class="plyr-Card_StatKey"></span>
            </div>
          </div>
        </div>

        <footer class="plyr-Card_Footer">
          <p class="plyr-Card_Chem">
            Chem:
            <span class="plyr-Card_ChemValue"></span>
          </p>
        </footer>
      </div>
    </li>
  </template>
{% endblock %}
