{% extends "squads/builder_base.html" %}

{% block strapline_text %}
  {{ object.title }}{% if object.user %} by <a href="{{ object.user.get_absolute_url() }}">{{ object.user }}</a>{% endif %}
{% endblock %}

{% block builder_class %}js-Detail{% endblock %}

{% block builder_formation %}{{ squad.formation }}{% endblock %}

{% block builder_players %}
  {% for player in squad.get_players() %}
    <li class="bld-Builder_PlayersItem bld-Builder_PlayersItem-{{ FORMATION_POSITIONS.verbose[loop.index0] | lower() }}"
        data-builder-formation-index="{{ loop.index0 }}">
      <div class="bld-Builder_Player"
        {% if player %}
           data-builder-initial-data="{{ player.player.get_serializer_data() }}"
        {% endif %}>
        {% if player %}
          {{ player.player.render_card(chemistry=player.chemistry) }}
        {% endif %}
      </div>
      <span class="bld-Builder_Pedestal">{{ player.position if player else FORMATION_POSITIONS.positions[loop.index0] }}</span>
    </li>
  {% endfor %}
{% endblock %}

{% block builder_footer %}
  <div class="bld-Builder_Columns">
    <div class="bld-Builder_Column">
      <div class="frm-Form_Items">
        <div class="frm-Form_Item frm-Form_Item-full frm-Form_Item-floatingLabel js-FloatingLabel js-FloatingLabel-active">
          <label class="frm-Form_Label js-FloatingLabel_Label" for="name">
            Formation:
          </label>

          <select class="frm-Form_Select js-FloatingLabel_Input"
                  id="formation"
                  name="formation">
            <option value="">Formations</option>
            {% for value, label in formations.items() %}
              <option value="{{ value }}"{% if squad.formation == value %}
                      selected{% endif %}>{{ label }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="frm-Form_Item frm-Form_Item-full frm-Form_Item-floatingLabel js-FloatingLabel">
          <label class="frm-Form_Label js-FloatingLabel_Label" for="title">
            Squad Name:
          </label>

          <input type="text"
                 class="frm-Form_Input js-FloatingLabel_Input"
                 placeholder="Name"
                 name="title"
                 value="{{ squad.title }}"
                 id="title" />
        </div>
      </div>
    </div>

    <div class="bld-Builder_Column">
      <div class="bld-Builder_Stats">
        <div class="bld-Stats">
          <ul class="bld-Stats_Items">
            <li class="bld-Stats_Item" data-builder-stat-name="rating">
              <span class="bld-Stats_Label">Rating:</span>
              <span class="bld-Stats_Value">{{ squad.rating }}</span>
            </li>

            <li class="bld-Stats_Item" data-builder-stat-name="chemistry">
              <span class="bld-Stats_Label">Chemistry:</span>
              <span class="bld-Stats_Value">{{ squad.chemistry }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="bld-Builder_Column">
      <div class="bld-Builder_Stats">
        <div class="bld-Stats">
          <ul class="bld-Stats_Items">
            <li class="bld-Stats_Item" data-builder-stat-name="attack">
              <span class="bld-Stats_Label">Attack</span>
              <span class="bld-Stats_Value" data-builder-stat-value>{{ squad.attack }}</span>
            </li>

            <li class="bld-Stats_Item" data-builder-stat-name="midfield">
              <span class="bld-Stats_Label">Midfield</span>
              <span class="bld-Stats_Value" data-builder-stat-value>{{ squad.midfield }}</span>
            </li>

            <li class="bld-Stats_Item" data-builder-stat-name="defence">
              <span class="bld-Stats_Label">Defence</span>
              <span class="bld-Stats_Value" data-builder-stat-value>{{ squad.defence }}</span>
            </li>

            <li class="bld-Stats_Item" data-builder-stat-name="pace">
              <span class="bld-Stats_Label">Pace</span>
              <span class="bld-Stats_Value" data-builder-stat-value>{{ squad.pace }}</span>
            </li>

            <li class="bld-Stats_Item" data-builder-stat-name="shooting">
              <span class="bld-Stats_Label">Shooting</span>
              <span class="bld-Stats_Value" data-builder-stat-value>{{ squad.shooting }}</span>
            </li>

            <li class="bld-Stats_Item" data-builder-stat-name="passing">
              <span class="bld-Stats_Label">Passing</span>
              <span class="bld-Stats_Value" data-builder-stat-value>{{ squad.passing }}</span>
            </li>

            <li class="bld-Stats_Item" data-builder-stat-name="dribbling">
              <span class="bld-Stats_Label">Dribbling</span>
              <span class="bld-Stats_Value" data-builder-stat-value>{{ squad.dribbling }}</span>
            </li>

            <li class="bld-Stats_Item" data-builder-stat-name="defending">
              <span class="bld-Stats_Label">Defending</span>
              <span class="bld-Stats_Value" data-builder-stat-value>{{ squad.defending }}</span>
            </li>

            <li class="bld-Stats_Item" data-builder-stat-name="physical">
              <span class="bld-Stats_Label">Physical</span>
              <span class="bld-Stats_Value" data-builder-stat-value>{{ squad.physical }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
