{% extends "base.html" %}

{% block strapline_title %}Squads{% endblock %}
{% block strapline_text %}Top rated Fifa {{ settings.CURRENT_FIFA_VERSION }} Squads{% endblock %}

{% block main %}
  <div class="ea-ObjectsTable">
    <header class="ea-ObjectsTable_Header">
      <div class="ea-ObjectsTable_Row">
        <div class="ea-ObjectsTable_RowLeft">
          <div class="ea-ObjectsTable_Cell ea-ObjectsTable_Cell-flex ea-ObjectsTable_Cell-left">Squad</div>
        </div>

        <div class="ea-ObjectsTable_RowRight">
          <div class="ea-ObjectsTable_Cell ea-ObjectsTable_Cell-80">
            <a class="ea-ObjectsTable_CellTitle"
               aria-current="false"
               href="#">
              Formation
            </a>
          </div>

          <div class="ea-ObjectsTable_Cell ea-ObjectsTable_Cell-80">
            <a class="ea-ObjectsTable_CellTitle"
               aria-current="false"
               href="#">
              Price
            </a>
          </div>

          <div class="ea-ObjectsTable_Cell ea-ObjectsTable_Cell-80">
            <a class="ea-ObjectsTable_CellTitle"
               aria-current="false"
               href="#">
              User
            </a>
          </div>

          <div class="ea-ObjectsTable_Cell ea-ObjectsTable_Cell-80">
            <a class="ea-ObjectsTable_CellTitle"
               aria-current="false"
               href="#">
              Chem
            </a>
          </div>

          <div class="ea-ObjectsTable_Cell ea-ObjectsTable_Cell-80">
            <a class="ea-ObjectsTable_CellTitle"
               aria-current="false"
               href="#">
              Rating
            </a>
          </div>

          <div class="ea-ObjectsTable_Cell ea-ObjectsTable_Cell-80">
            <a class="ea-ObjectsTable_CellTitle"
               aria-current="false"
               href="#">
              Likes
            </a>
          </div>
        </div>
      </div>
    </header>

    <div class="ea-ObjectsTable_Body">
      {% for object in object_list %}
        <a href="{{ object.get_absolute_url() }}" class="ea-ObjectsTable_Row">
          <div class="ea-ObjectsTable_RowLeft">
            <div class="ea-ObjectsTable_Cell ea-ObjectsTable_Cell-flex ea-ObjectsTable_Cell-left">
              <h3 class="ea-ObjectRow_Title">{{ object }}</h3>
            </div>
          </div>

          <div class="ea-ObjectsTable_RowRight">
            <div class="ea-ObjectsTable_Cell ea-ObjectsTable_Cell-80">
              <div class="ea-ObjectRow_Cell">
                <span class="ea-ObjectRow_CellText">{{ object.formation }}</span>
                <span class="ea-ObjectRow_CellTitle">Formation</span>
              </div>
            </div>

            <div class="ea-ObjectsTable_Cell ea-ObjectsTable_Cell-80">
              <div class="ea-ObjectRow_Cell">
                <span class="ea-ObjectRow_CellText">{{ object.price | intcomma() }}</span>
                <span class="ea-ObjectRow_CellTitle">Price</span>
              </div>
            </div>

            <div class="ea-ObjectsTable_Cell ea-ObjectsTable_Cell-80">
              <div class="ea-ObjectRow_Cell">
                <span class="ea-ObjectRow_CellText">{{ object.user | default_if_none('n/a') }}</span>
                <span class="ea-ObjectRow_CellTitle">User</span>
              </div>
            </div>

            <div class="ea-ObjectsTable_Cell ea-ObjectsTable_Cell-80">
              <div class="ea-ObjectRow_Cell">
                <span class="ea-ObjectRow_CellText">{{ object.chemistry }}</span>
                <span class="ea-ObjectRow_CellTitle">Chemistry</span>
              </div>
            </div>

            <div class="ea-ObjectsTable_Cell ea-ObjectsTable_Cell-80">
              <div class="ea-ObjectRow_Cell">
                <span class="ea-ObjectRow_CellText">{{ object.rating }}</span>
                <span class="ea-ObjectRow_CellTitle">Rating</span>
              </div>
            </div>

            <div class="ea-ObjectsTable_Cell ea-ObjectsTable_Cell-80">
              <div class="ea-ObjectRow_Cell">
                <span class="ea-ObjectRow_CellText">{{ object.likes }}</span>
                <span class="ea-ObjectRow_CellTitle">Likes</span>
              </div>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>

  {% if page_obj.has_other_pages() %}
    <div class="pg-Pagination">
      {{ render_pagination(page_obj) }}
    </div>
  {% endif %}
{% endblock %}

{% block aside %}
  <div class="asi-Blocks">
    <div class="asi-Block">
      <img alt="" src="http://placehold.it/300x250">
    </div>

    {% block aside_blocks_above %}{% endblock %}

    <div class="asi-Block">
      <h4 class="asi-Block_Title">Fifa {{ settings.CURRENT_FIFA_VERSION }} Objects</h4>

      <ul class="asi-LinkList">
        {% for link in aside_links %}
          <li class="asi-LinkList_Item">
            <a class="asi-LinkList_Link"
               href="{{ link.url }}"
               aria-current="{{ link.here }}">Fifa {{ settings.CURRENT_FIFA_VERSION }} {{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>

    {% block aside_blocks %}{% endblock %}
  </div>
{% endblock %}
