{% extends "squads/_builder_base.html" %}
{% import "comments/macros/comments.html" as comments with context %}
{% import "macros/share.html" as share with context %}
{% set title = '{} FIFA {} Ultimate Team squad'.format(object, settings.CURRENT_FIFA_VERSION) %}
{% set description = '{} a FIFA {} Ultimate Team squad built with the {} squad builder. Come and build your own'.format(object, settings.CURRENT_FIFA_VERSION, settings.SITE_NAME) %}

{% block meta_description %}{{ description }}{% endblock %}
{% block og_description %}{{ description }}{% endblock %}
{% block twitter_description %}{{ description }}{% endblock %}

{% block strapline_title %}{{ object.title }}{% endblock %}
{% block strapline_text %}{% if object.user %} by <a href="{{ object.user.get_absolute_url() }}">{{ object.user }}</a>{% endif %}{% endblock %}

{% block builder_data %}data-initial="{{ initial_data }}"{% endblock %}
{% block builder_editable %}false{% endblock %}
{% block builder_share %}{"url": "{{ path_to_url(request.path) | urlencode() }}", "title": "{{ squad.title | urlencode() }}"}{% endblock %}
{% block builder_title %}{{ object.title }}{% endblock %}

{% block builder_header %}
  <div class="bld-Builder_Columns bld-Builder_Columns-share">
    <div class="bld-Builder_Column">
      <div class="bld-Builder_Share">
        {{ share.share_bar(squad.title) }}
      </div>
    </div>

    <div class="bld-Builder_Column">
      <div class="bld-Builder_KeyValues">
        <div class="bld-Builder_KeyValue">
          <p class="bld-Builder_Key">Name</p>
          <h3 class="bld-Builder_Value">{{ squad.title }}{% if object.user %} by <a href="{{ object.user.get_absolute_url() }}">{{ object.user }}</a>{% endif %}</h3>
        </div>

        <div class="bld-Builder_KeyValue">
          <p class="bld-Builder_Key">Formation</p>
          <h3 class="bld-Builder_Value">{{ squad.formation }}</h3>
        </div>
      </div>
    </div>

    <div class="bld-Builder_Column">
      <div class="bld-Builder_Stats">
        <div class="bld-Stats">
          <ul class="bld-Stats_Items">
            <li class="bld-Stats_Item">
              <span class="bld-Stats_Label">Rating:</span>
              <span class="bld-Stats_Value bld-Stats_Value-{{ stat_grade(squad.rating) }}">{{ squad.rating }}</span>
            </li>

            <li class="bld-Stats_Item">
              <span class="bld-Stats_Label">Chemistry:</span>
              <span class="bld-Stats_Value bld-Stats_Value-{{ stat_grade(squad.chemistry) }}">{{ squad.chemistry }}</span>
            </li>
          </ul>
        </div>

        <div class="bld-Builder_Ratings">
          <div class="asi-Ratings js-ObjectRating"
               data-url="{{ squad.get_absolute_url() }}"
               data-user="{{ user.id }}"
               data-object="{{ squad.id }}">
            <button class="asi-Ratings_Control asi-Ratings_Control-up js-ObjectRating_Control"
                    data-action="up">
              <span class="asi-Ratings_Text">Up</span>
              <span class="asi-Ratings_Icon">{% include 'like.svg' %}</span>
            </button>
            <p class="asi-Ratings_Value js-ObjectRating_Value">{{ squad.likes }}</p>
            <button class="asi-Ratings_Control asi-Ratings_Control-down js-ObjectRating_Control"
                    data-action="down">
              <span class="asi-Ratings_Text">Down</span>
              <span class="asi-Ratings_Icon">{% include 'dislike.svg' %}</span>
            </button>
          </div>
        </div>

        <div class="bld-Builder_Copy">
          {% if user.is_authenticated and squad.user != user %}
            <a class="btn-Primary" href="{{ squad.get_copy_url() }}">Copy squad</a>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="bld-Builder_Column">
      <div class="bld-Builder_Stats">
        <div class="bld-Stats">
          <ul class="bld-Stats_Items">
            <li class="bld-Stats_Item">
              <span class="bld-Stats_Label">Attack</span>
              <span class="bld-Stats_Value bld-Stats_Value-{{ stat_grade(squad.attack) }}">{{ squad.attack }}</span>
            </li>

            <li class="bld-Stats_Item">
              <span class="bld-Stats_Label">Midfield</span>
              <span class="bld-Stats_Value bld-Stats_Value-{{ stat_grade(squad.midfield) }}">{{ squad.midfield }}</span>
            </li>

            <li class="bld-Stats_Item">
              <span class="bld-Stats_Label">Defence</span>
              <span class="bld-Stats_Value bld-Stats_Value-{{ stat_grade(squad.defence) }}">{{ squad.defence }}</span>
            </li>

            <li class="bld-Stats_Item">
              <span class="bld-Stats_Label">Pace</span>
              <span class="bld-Stats_Value bld-Stats_Value-{{ stat_grade(squad.pace) }}">{{ squad.pace }}</span>
            </li>

            <li class="bld-Stats_Item">
              <span class="bld-Stats_Label">Shooting</span>
              <span class="bld-Stats_Value bld-Stats_Value-{{ stat_grade(squad.shooting) }}">{{ squad.shooting }}</span>
            </li>

            <li class="bld-Stats_Item">
              <span class="bld-Stats_Label">Passing</span>
              <span class="bld-Stats_Value bld-Stats_Value-{{ stat_grade(squad.passing) }}">{{ squad.passing }}</span>
            </li>

            <li class="bld-Stats_Item">
              <span class="bld-Stats_Label">Dribbling</span>
              <span class="bld-Stats_Value bld-Stats_Value-{{ stat_grade(squad.dribbling) }}">{{ squad.dribbling }}</span>
            </li>

            <li class="bld-Stats_Item">
              <span class="bld-Stats_Label">Defending</span>
              <span class="bld-Stats_Value bld-Stats_Value-{{ stat_grade(squad.defending) }}">{{ squad.defending }}</span>
            </li>

            <li class="bld-Stats_Item">
              <span class="bld-Stats_Label">Physical</span>
              <span class="bld-Stats_Value bld-Stats_Value-{{ stat_grade(squad.physical) }}">{{ squad.physical }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block builder_class %}bld-Builder-{{ squad.formation }}{% endblock %}
{% block builder_formation %}{{ squad.formation }}{% endblock %}

{% block builder_players %}
  {% for player in squad.get_players()['team'] %}
    <li class="bld-Builder_PlayersItem bld-Builder_PlayersItem-{{ FORMATION_POSITIONS.verbose[loop.index0] | lower() }}"
        data-builder-formation-index="{{ loop.index0 }}">
      <div class="bld-Slot"
        {% if player.player %}
           data-builder-initial-data="{{ player.player.get_serializer_data() }}"
        {% endif %}>
        {% if player.player %}
          {{ player.player.render_card(chemistry=player.chemistry) }}
        {% endif %}
      </div>
      <span class="bld-Slot_Pedestal">{{ player.position if player else FORMATION_POSITIONS.positions[loop.index0] }}</span>
    </li>
  {% endfor %}
{% endblock %}

{% block builder_bench %}
  {% for player in squad.get_players()['bench'] %}
    <li class="bld-ExtraPlayers_Item" data-builder-formation-index="{{ loop.index + 10 }}">
      <div class="bld-Slot"
        {% if player.player %}
           data-builder-initial-data="{{ player.player.get_serializer_data() }}"
        {% endif %}>
        {% if player.player %}
          {{ player.player.render_card() }}
        {% endif %}
      </div>
    </li>
  {% endfor %}
{% endblock %}

{% block builder_reserves %}
  {% for player in squad.get_players()['reserve'] %}
    <li class="bld-ExtraPlayers_Item" data-builder-formation-index="{{ loop.index + 10 }}">
      <div class="bld-Slot"
        {% if player.player %}
           data-builder-initial-data="{{ player.player.get_serializer_data() }}"
        {% endif %}>
        {% if player.player %}
          {{ player.player.render_card() }}
        {% endif %}
      </div>
    </li>
  {% endfor %}
{% endblock %}

{% block content_below %}
  {{ comments.comments() }}
{% endblock %}
