{% extends "squads/_builder_base.html" %}
{% import "macros/share.html" as share with context %}

{% block strapline_text %}
  {{ object.title }}{% if object.user %} by <a href="{{ object.user.get_absolute_url() }}">{{ object.user }}</a>{% endif %}
{% endblock %}

{% block main %}
  <div class="bld-Builder_Above">
    <div class="bld-Builder_AboveInner">
      <div class="pg-Section">
        <header class="pg-Section_Header">
          <h2 class="pg-Section_Title">{{ object.title }}{% if object.user %} by <a href="{{ object.user.get_absolute_url() }}">{{ object.user }}</a>{% endif %}</h2>

          {% if user.is_authenticated and squad.user != user %}
            <a class="pg-Section_Link btn-Primary" href="{{ squad.get_copy_url() }}">Copy squad</a>
          {% endif %}
        </header>
      </div>
    </div>
  </div>

  {{ super() }}
{% endblock %}

{% block builder_class %}js-Detail{% endblock %}

{% block builder_formation %}{{ squad.formation }}{% endblock %}

{% block builder_players %}
  {% for player in squad.get_players() %}
    <li class="bld-Builder_PlayersItem bld-Builder_PlayersItem-{{ FORMATION_POSITIONS.verbose[loop.index0] | lower() }}"
        data-builder-formation-index="{{ loop.index0 }}">
      <div class="bld-Builder_Player"
        {% if player %}
           data-builder-initial-data="{{ player.player.get_serializer_data() }}"
        {% endif %}>
        {% if player %}
          {{ player.player.render_card(chemistry=player.chemistry) }}
        {% endif %}
      </div>
      <span class="bld-Builder_Pedestal">{{ player.position if player else FORMATION_POSITIONS.positions[loop.index0] }}</span>
    </li>
  {% endfor %}
{% endblock %}

{% block builder_footer %}
  <div class="bld-Builder_Columns bld-Builder_Columns-share">
    <div class="bld-Builder_Column">
      <div class="bld-Builder_Share">
        {{ share.share_bar(squad.title) }}
      </div>
    </div>

    <div class="bld-Builder_Column">
      <div class="bld-Builder_KeyValues">
        <div class="bld-Builder_KeyValue">
          <p class="bld-Builder_Key">Name</p>
          <h3 class="bld-Builder_Value">{{ squad.title }}</h3>
        </div>

        <div class="bld-Builder_KeyValue">
          <p class="bld-Builder_Key">Formation</p>
          <h3 class="bld-Builder_Value">{{ squad.formation }}</h3>
        </div>
      </div>
    </div>

    <div class="bld-Builder_Column">
      <div class="bld-Builder_Stats">
        <div class="bld-Stats">
          <ul class="bld-Stats_Items">
            <li class="bld-Stats_Item">
              <span class="bld-Stats_Label">Rating:</span>
              <span class="bld-Stats_Value bld-Stats_Value-{{ stat_grade(squad.rating) }}">{{ squad.rating }}</span>
            </li>

            <li class="bld-Stats_Item">
              <span class="bld-Stats_Label">Chemistry:</span>
              <span class="bld-Stats_Value bld-Stats_Value-{{ stat_grade(squad.chemistry) }}">{{ squad.chemistry }}</span>
            </li>
          </ul>
        </div>

        <div class="asi-Ratings js-ObjectRating"
             data-url="{{ squad.get_absolute_url() }}"
             data-user="{{ user.id }}"
             data-object="{{ squad.id }}">
          <button class="asi-Ratings_Control asi-Ratings_Control-up js-ObjectRating_Control"
                  data-action="up">
            <span class="asi-Ratings_Text">Up</span>
            <span class="asi-Ratings_Icon">{% include 'like.svg' %}</span>
          </button>
          <p class="asi-Ratings_Value js-ObjectRating_Value">{{ squad.likes }}</p>
          <button class="asi-Ratings_Control asi-Ratings_Control-down js-ObjectRating_Control"
                  data-action="down">
            <span class="asi-Ratings_Text">Down</span>
            <span class="asi-Ratings_Icon">{% include 'dislike.svg' %}</span>
          </button>
        </div>
      </div>
    </div>

    <div class="bld-Builder_Column">
      <div class="bld-Builder_Stats">
        <div class="bld-Stats">
          <ul class="bld-Stats_Items">
            <li class="bld-Stats_Item">
              <span class="bld-Stats_Label">Attack</span>
              <span class="bld-Stats_Value bld-Stats_Value-{{ stat_grade(squad.attack) }}">{{ squad.attack }}</span>
            </li>

            <li class="bld-Stats_Item">
              <span class="bld-Stats_Label">Midfield</span>
              <span class="bld-Stats_Value bld-Stats_Value-{{ stat_grade(squad.midfield) }}">{{ squad.midfield }}</span>
            </li>

            <li class="bld-Stats_Item">
              <span class="bld-Stats_Label">Defence</span>
              <span class="bld-Stats_Value bld-Stats_Value-{{ stat_grade(squad.defence) }}">{{ squad.defence }}</span>
            </li>

            <li class="bld-Stats_Item">
              <span class="bld-Stats_Label">Pace</span>
              <span class="bld-Stats_Value bld-Stats_Value-{{ stat_grade(squad.pace) }}">{{ squad.pace }}</span>
            </li>

            <li class="bld-Stats_Item">
              <span class="bld-Stats_Label">Shooting</span>
              <span class="bld-Stats_Value bld-Stats_Value-{{ stat_grade(squad.shooting) }}">{{ squad.shooting }}</span>
            </li>

            <li class="bld-Stats_Item">
              <span class="bld-Stats_Label">Passing</span>
              <span class="bld-Stats_Value bld-Stats_Value-{{ stat_grade(squad.passing) }}">{{ squad.passing }}</span>
            </li>

            <li class="bld-Stats_Item">
              <span class="bld-Stats_Label">Dribbling</span>
              <span class="bld-Stats_Value bld-Stats_Value-{{ stat_grade(squad.dribbling) }}">{{ squad.dribbling }}</span>
            </li>

            <li class="bld-Stats_Item">
              <span class="bld-Stats_Label">Defending</span>
              <span class="bld-Stats_Value bld-Stats_Value-{{ stat_grade(squad.defending) }}">{{ squad.defending }}</span>
            </li>

            <li class="bld-Stats_Item">
              <span class="bld-Stats_Label">Physical</span>
              <span class="bld-Stats_Value bld-Stats_Value-{{ stat_grade(squad.physical) }}">{{ squad.physical }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
