/*
|--------------------------------------------------------------------------
| Type
|--------------------------------------------------------------------------
| @namespace: pck-
|
*/
.pck-Type_Title {
  @apply --Font-30;

  margin-bottom: 0.75em;
  padding-bottom: 15px;

  font-weight: 400;

  border-bottom: 2px solid var(--Color_Border);
}

.pck-Type_Emphasis {
  font-weight: 600;
}

.pck-Type_Items {
  grid-column-gap: calc(var(--Grid_Gutter) * 2);
  grid-template-columns: repeat(2, 1fr);

  display: grid;
}

.pck-Type_Item {
  display: flex;
}
