<footer class="ft-Main">
  <div class="ft-Main_Inner">
    <div class="ft-Main_Body">
      <div class="ft-Main_Columns">
        <div class="ft-Main_Column ft-Main_Column-links">
          <h5 class="ft-Main_Title">Recent posts</h5>

          <div class="ft-Main_ColumnBody">
            <ul class="ft-Main_Links">
              <li class="ft-Main_LinksItem">
                <a class="ft-Main_Link" href="#">Amazing Standard Post</a>
                <time class="ft-Main_LinkMeta">26 May, 2017</time>
              </li>

              <li class="ft-Main_LinksItem">
                <a class="ft-Main_Link" href="#">Amazing Text Post</a>
                <time class="ft-Main_LinkMeta">26 May, 2017</time>
              </li>

              <li class="ft-Main_LinksItem">
                <a class="ft-Main_Link" href="#">Amazing Video Post</a>
                <time class="ft-Main_LinkMeta">26 May, 2017</time>
              </li>
            </ul>
          </div>
        </div>

        <div class="ft-Main_Column ft-Main_Column-links">
          <h5 class="ft-Main_Title">Recent comments</h5>

          <div class="ft-Main_ColumnBody">
            <ul class="ft-Main_Links">
              <li class="ft-Main_LinksItem">
                <a class="ft-Main_Link" href="#">Amazing Standard Post</a>
                <span class="ft-Main_LinkMeta">On Blog Title Amazing Design</span>
              </li>

              <li class="ft-Main_LinksItem">
                <a class="ft-Main_Link" href="#">Amazing Text Post</a>
                <span class="ft-Main_LinkMeta">On Blog Title Amazing Design</span>
              </li>

              <li class="ft-Main_LinksItem">
                <a class="ft-Main_Link" href="#">Amazing Video Post</a>
                <span class="ft-Main_LinkMeta">On Blog Title Amazing Design</span>
              </li>
            </ul>
          </div>
        </div>

        <div class="ft-Main_Column ft-Main_Column-links">
          <h5 class="ft-Main_Title">Archives</h5>

          <div class="ft-Main_ColumnBody">
            <ul class="ft-Main_Links">
              <li class="ft-Main_LinksItem">
                <a class="ft-Main_Link" href="#">March 2017</a>
                <span class="ft-Main_LinkMeta">1509 Posted</span>
              </li>

              <li class="ft-Main_LinksItem">
                <a class="ft-Main_Link" href="#">February 2017</a>
                <span class="ft-Main_LinkMeta">1109 Posted</span>
              </li>

              <li class="ft-Main_LinksItem">
                <a class="ft-Main_Link" href="#">January 2017</a>
                <span class="ft-Main_LinkMeta">1509 Posted</span>
              </li>
            </ul>
          </div>
        </div>

        <div class="ft-Main_Column ft-Main_Column-about">
          <h5 class="ft-Main_Title">About FUTILY</h5>

          <div class="ft-Main_ColumnBody">
            <ul class="ft-Main_Links">
              <li class="ft-Main_LinksItem">
                <a class="ft-Main_Link" href="#">Designed by Tam Tran</a>
                <span class="ft-Main_LinkMeta">The best PSD author on Themeforest</span>
              </li>

              <li class="ft-Main_LinksItem">
                <p class="ft-Main_Text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sagittis at arcu eu consectetur. Nam commodo posuere leo, eget convallis leo varius eget.</p>

                <a href="#" class="ft-Main_SecondaryLink">Learn more</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="ft-Under">
  <div class="ft-Under_Inner">
    <div class="ft-Under_Body">
      <p class="ft-Under_Left">FUTILY.com Copyright 2017. All FIFA assets are property of EA Sports.</p>

      <div class="ft-Under_Right">
        <ul class="ft-Under_Socials">
          <li class="ft-Under_SocialsItem">
            <a href="#" class="ft-Under_Social ft-Under_Social-twitter">
              {% include 'twitter.svg' %}
            </a>
          </li>

          <li class="ft-Under_SocialsItem">
            <a href="#" class="ft-Under_Social ft-Under_Social-facebook">
              {% include 'facebook.svg' %}
            </a>
          </li>

          <li class="ft-Under_SocialsItem">
            <a href="#" class="ft-Under_Social ft-Under_Social-twitch">
              {% include 'twitch.svg' %}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
