/*
|--------------------------------------------------------------------------
| Socials
|--------------------------------------------------------------------------
| @namespace: soc-
|
*/
.soc-Socials {
  display: flex;
}

.soc-Socials_Item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}
