/*
|--------------------------------------------------------------------------
| Card list
|--------------------------------------------------------------------------
| @namespace: plyr-
|
*/

/*
|--------------------------------------------------------------------------
| Items
|--------------------------------------------------------------------------
|
*/
.plyr-CardList_Items {
  grid-row-gap: 0.5vr;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));

  display: grid;
}

.plyr-CardList_Item {
  justify-content: center;

  display: flex;
}
