/*
|--------------------------------------------------------------------------
| Card block
|--------------------------------------------------------------------------
| @namespace: plyr-
|
*/
.plyr-CardBlock {
  margin-bottom: 2vr;

  &:last-child {
    margin-bottom: 0;
  }
}

.plyr-CardBlock_Title {
  @include Font_F;

  position: relative;

  margin-bottom: 1vr;
  padding-bottom: 10px;

  letter-spacing: calc(100em / 1000);

  text-transform: uppercase;

  &::after {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100px;
    height: 5px;

    background-color: var(--Color_Green);
  }
}
