/*
|--------------------------------------------------------------------------
| Card list
|--------------------------------------------------------------------------
| @namespace: plyr-
|
*/

/*
|--------------------------------------------------------------------------
| Items
|--------------------------------------------------------------------------
|
*/
.plyr-CardList_Items {
  grid-row-gap: 0.5vr;
  grid-template-columns: repeat(auto-fit, minmax(158px, 1fr));

  display: grid;
}

.plyr-CardList_Items-large {
  grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
}

.plyr-CardList_Items-tight {
  grid-template-columns: repeat(auto-fit, 175px);
}

.plyr-CardList_Item {
  justify-content: center;

  display: flex;
}

.plyr-CardList_Item-stacked {
  align-items: center;
  flex-direction: column;
}

.plyr-CardList_Text {
  font-weight: 600;
  text-align: center;
}
