/*
|--------------------------------------------------------------------------
| Card list
|--------------------------------------------------------------------------
| @namespace: plyr-
|
*/

/*
|--------------------------------------------------------------------------
| Items
|--------------------------------------------------------------------------
|
*/
.plyr-CardList_Items {
  --Size: var(--Card_Size-small);

  grid-row-gap: 1vr;
  grid-template-columns: repeat(auto-fit, minmax(var(--Size), 1fr));

  display: grid;

  @media (--md) {
    --Size: var(--Card_Size-medium);
  }
}

.plyr-CardList_Items-large {
  --Size: 202px;
}

.plyr-CardList_Items-tight {
  --Size: 175px;
}

.plyr-CardList_Items-small {
  --Size: var(--Card_Size-small);
}

.plyr-CardList_Item {
  justify-content: center;

  display: flex;
}

.plyr-CardList_Item-stacked {
  align-items: center;
  flex-direction: column;
}

.plyr-CardList_Text {
  font-weight: 600;
  text-align: center;
}
