/*
|--------------------------------------------------------------------------
| Card
|--------------------------------------------------------------------------
| @namespace: crd-
|
*/
.plyr-Card {
  position: relative;

  display: block;
  width: 158px;
  height: 247px;
  padding: 21px 23px 23px;

  color: var(--Card_Color);

  transition: opacity 0.2s, transform 0.2s;

  .bld-Builder & {
    &:hover {
      transform: none;
    }
  }

  .bld-Search_Results-loading & {
    opacity: 0.5;
  }

  &:hover {
    transform: translateY(-5px);

    &::after {
      opacity: 1;
    }
  }

  &::after {
    content: '';

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    background-image: inherit;
    background-position: inherit;
    background-size: inherit;
    filter: drop-shadow(0 0 10px rgba(#000, 0.3));
    opacity: 0;

    transition: 0.2s opacity;
  }
}

.plyr-Card-faded {
  opacity: 0.5;

  transition: opacity 0.3s, transform 0.2s;

  &:hover {
    opacity: 1;
  }
}

.plyr-Card-small {
  width: 140px;
  height: 219px;
  padding: 21px 16px 23px;

  background-image: resolve('ea/cards-small.png');
  background-size: @width @height;
}

.plyr-Card-large {
  width: 202px;
  height: 316px;
  padding: 26px 30px 29px;

  background-image: resolve('ea/cards-large.png');
  background-size: @width @height;
}

/* stylelint-disable selector-class-pattern */
.plyr-Card-bronze {
  background-image: resolve('ea/cards/large/bronze.png');
  color: var(--Color_Card-bronze);
}
.plyr-Card-silver {
  background-image: resolve('ea/cards/large/silver.png');
  color: var(--Color_Card-silver);
}
.plyr-Card-gold {
  background-image: resolve('ea/cards/large/gold.png');
  color: var(--Color_Card-gold);
}
.plyr-Card-rare_bronze {
  background-image: resolve('ea/cards/large/rare-bronze.png');
  color: var(--Color_Card-rare_bronze);
}
.plyr-Card-rare_silver {
  background-image: resolve('ea/cards/large/rare-silver.png');
  color: var(--Color_Card-rare_silver);
}
.plyr-Card-rare_gold {
  background-image: resolve('ea/cards/large/rare-gold.png');
  color: var(--Color_Card-rare_gold);
}
.plyr-Card-totw_bronze {
  background-image: resolve('ea/cards/special/totw-bronze.png');
  color: var(--Color_Card-totw_bronze);
}
.plyr-Card-totw_silver {
  background-image: resolve('ea/cards/special/totw-silver.png');
  color: var(--Color_Card-totw_silver);
}
.plyr-Card-totw_gold {
  background-image: resolve('ea/cards/special/totw-gold.png');
  color: var(--Color_Card-totw_gold);
}
.plyr-Card-tots_bronze {
  background-image: resolve('ea/cards/special/tots-bronze.png');
  color: var(--Color_Card-tots_bronze);
}
.plyr-Card-tots_silver {
  background-image: resolve('ea/cards/special/tots-silver.png');
  color: var(--Color_Card-tots_silver);
}
.plyr-Card-tots_gold {
  background-image: resolve('ea/cards/special/tots-gold.png');
  color: var(--Color_Card-tots_gold);
}
.plyr-Card-toty {
  background-image: resolve('ea/cards/special/toty.png');
  color: var(--Color_Card-toty);
}
.plyr-Card-legend {
  background-image: resolve('ea/cards/large/legend.png');
  color: var(--Color_Card-legend);
}
.plyr-Card-motm {
  background-image: resolve('ea/cards/special/motm.png');
  color: var(--Color_Card-motm);
}
.plyr-Card-teal {
  background-image: resolve('ea/cards/special/teal.png');
  color: var(--Color_Card-teal);
}
.plyr-Card-purple {
  background-image: resolve('ea/cards/special/purple.png');
  color: var(--Color_Card-purple);
}
.plyr-Card-pink {
  background-image: resolve('ea/cards/special/pink.png');
  color: var(--Color_Card-pink);
}
.plyr-Card-record_breaker {
  background-image: resolve('ea/cards/special/record-breaker.png');
  color: var(--Color_Card-record_breaker);
}
.plyr-Card-imotm {
  background-image: resolve('ea/cards/special/imotm.png');
  color: var(--Color_Card-imotm);
}
.plyr-Card-confederation_champions_motm {
  background-image: resolve(
    'ea/cards/special/confederation-champions-motm.png'
  );
  color: var(--Color_Card-confederation_champions_motm);
}
.plyr-Card-fut_birthday {
  background-image: resolve('ea/cards/special/fut-birthday.png');
  color: var(--Color_Card-fut_birthday);
}
.plyr-Card-futties_winner {
  background-image: resolve('ea/cards/special/futties-winner.png');
  color: var(--Color_Card-futties_winner);
}
.plyr-Card-ones_to_watch {
  background-image: resolve('ea/cards/special/ones-to-watch.png');
  color: var(--Color_Card-ones_to_watch);
}
.plyr-Card-sbc_base {
  background-image: resolve('ea/cards/special/sbc-base.png');
  color: var(--Color_Card-sbc_base);
}
.plyr-Card-sbc_premium {
  background-image: resolve('ea/cards/special/sbc-premium.png');
  color: var(--Color_Card-sbc_premium);
}
.plyr-Card-st_patricks {
  background-image: resolve('ea/cards/special/st-patricks.png');
  color: var(--Color_Card-st_patricks);
}
.plyr-Card-halloween {
  background-image: resolve('ea/cards/special/halloween.png');
  color: var(--Color_Card-halloween);
}
.plyr-Card-movember {
  background-image: resolve('ea/cards/special/movember.png');
  color: var(--Color_Card-movember);
}
.plyr-Card-award_winner {
  background-image: resolve('ea/cards/special/award-winner.png');
  color: var(--Color_Card-award_winner);
}
.plyr-Card-award_motm {
  background-image: resolve('ea/cards/special/motm.png');
  color: var(--Color_Card-award_motm);
}
.plyr-Card-gotm {
  background-image: resolve('ea/cards/special/gotm.png');
  color: var(--Color_Card-gotm);
}
/* stylelint-enable */

/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
|
*/
.plyr-Card_Header {
  display: flex;

  font-family: var(--Font_Family-din);
  font-weight: 700;
}

.plyr-Card_Meta {
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;

  display: flex;
  height: 96px;
  margin: 8px 0 0 3px;

  color: var(--Card_Color);

  .plyr-Card-small & {
    height: 80px;
  }

  .plyr-Card-large & {
    height: 122px;
    margin: 11px 0 2px 4px;
  }

  /* stylelint-disable selector-class-pattern */
  .plyr-Card-bronze & {
    color: var(--Color_CardMeta-bronze);
  }
  .plyr-Card-silver & {
    color: var(--Color_CardMeta-silver);
  }
  .plyr-Card-gold & {
    color: var(--Color_CardMeta-gold);
  }
  .plyr-Card-rare_bronze & {
    color: var(--Color_CardMeta-rare_bronze);
  }
  .plyr-Card-rare_silver & {
    color: var(--Color_CardMeta-rare_silver);
  }
  .plyr-Card-rare_gold & {
    color: var(--Color_CardMeta-rare_gold);
  }
  .plyr-Card-totw_bronze & {
    color: var(--Color_CardMeta-totw_bronze);
  }
  .plyr-Card-totw_silver & {
    color: var(--Color_CardMeta-totw_silver);
  }
  .plyr-Card-totw_gold & {
    color: var(--Color_CardMeta-totw_gold);
  }
  .plyr-Card-tots_bronze & {
    color: var(--Color_Card-tots_bronze);
  }
  .plyr-Card-tots_silver & {
    color: var(--Color_CardMeta-tots_silver);
  }
  .plyr-Card-tots_gold & {
    color: var(--Color_CardMeta-tots_gold);
  }
  .plyr-Card-toty & {
    color: var(--Color_CardMeta-toty);
  }
  .plyr-Card-legend & {
    color: var(--Color_CardMeta-legend);
  }
  .plyr-Card-motm & {
    color: var(--Color_CardMeta-motm);
  }
  .plyr-Card-teal & {
    color: var(--Color_CardMeta-teal);
  }
  .plyr-Card-purple & {
    color: var(--Color_CardMeta-purple);
  }
  .plyr-Card-pink & {
    color: var(--Color_CardMeta-pink);
  }
  .plyr-Card-record_breaker & {
    color: var(--Color_CardMeta-record_breaker);
  }
  .plyr-Card-imotm & {
    color: var(--Color_CardMeta-imotm);
  }
  .plyr-Card-confederation_champions_motm & {
    color: var(--Color_CardMeta-confederation_champions_motm);
  }
  .plyr-Card-fut_birthday & {
    color: var(--Color_CardMeta-fut_birthday);
  }
  .plyr-Card-futties_winner & {
    color: var(--Color_CardMeta-futties_winner);
  }
  .plyr-Card-ones_to_watch & {
    color: var(--Color_CardMeta-ones_to_watch);
  }
  .plyr-Card-sbc_base & {
    color: var(--Color_CardMeta-sbc_base);
  }
  .plyr-Card-sbc_premium & {
    color: var(--Color_CardMeta-sbc_premium);
  }
  .plyr-Card-st_patricks & {
    color: var(--Color_CardMeta-st_patricks);
  }
  .plyr-Card-halloween & {
    color: var(--Color_CardMeta-halloween);
  }
  .plyr-Card-movember & {
    color: var(--Color_CardMeta-movember);
  }
  .plyr-Card-award_winner & {
    color: var(--Color_CardMeta-award_winner);
  }
  .plyr-Card-award_motm & {
    color: var(--Color_CardMeta-award_motm);
  }
  .plyr-Card-gotm & {
    color: var(--Color_CardMeta-gotm);
  }
  /* stylelint-enable */
}

.plyr-Card_Rating {
  color: currentColor;

  .plyr-Card-small & {
    font-size: 22px;
    letter-spacing: -0.55px;
    line-height: 18px;
  }

  .plyr-Card-large & {
    font-size: 28px;
    letter-spacing: -0.7px;
    line-height: 20px;
  }
}

.plyr-Card_Position {
  color: currentColor;

  .plyr-Card-small & {
    margin-bottom: 1px;

    font-size: 14px;
    letter-spacing: -0.35px;
    line-height: 16px;
  }

  .plyr-Card-large & {
    margin-bottom: 2px;

    font-size: 18px;
    letter-spacing: -0.45px;
    line-height: 23px;
  }
}

.plyr-Card_Club {
  .plyr-Card-small & {
    width: 25px;
  }

  .plyr-Card-large & {
    width: 40px;
    margin-bottom: 2px;
  }
}

.plyr-Card_Nation {
  .plyr-Card-small & {
    width: 25px;
  }

  .plyr-Card-large & {
    width: 40px;
  }
}

.plyr-Card_Image {
  position: absolute;
  top: 33px;
  right: 6px;

  align-self: flex-end;
  flex-shrink: 0;

  .plyr-Card-small & {
    top: 35px;

    height: 75px;
  }

  .plyr-Card-large & {
    top: 42px;

    width: 117px;
  }
}

.plyr-Card_Name {
  margin: 0 -20px;

  font-family: var(--Font_Family-dinCond);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.4px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;

  overflow: hidden;

  /* stylelint-disable selector-class-pattern */
  .plyr-Card-tots_bronze & {
    color: var(--Color_CardMeta-tots_bronze);
  }

  .plyr-Card-award_winner & {
    color: hsl(276, 66%, 31%);
  }
  .plyr-Card-halloween &,
  .plyr-Card-tots_gold & {
    color: hsl(0, 0%, 0%);
  }
  .plyr-Card-gotm & {
    color: hsl(0, 0%, 100%);
  }
  .plyr-Card-movember & {
    color: var(--Color_CardMeta-movember);
  }
  /* stylelint-enable */

  .plyr-Card-large & {
    font-size: 20px;
    letter-spacing: -0.5px;
    line-height: 24px;
  }
}

/*
|--------------------------------------------------------------------------
| Body
|--------------------------------------------------------------------------
|
*/
.plyr-Card_Body {
  --RowHeight: 24px;

  grid-auto-flow: column;
  grid-column-gap: 4%;
  grid-template: repeat(3, var(--RowHeight)) / repeat(2, 1fr);

  display: grid;
  margin-top: 3px;

  .plyr-Card-small & {
    --RowHeight: 16px;

    margin-top: 1px;
  }
}

.plyr-Card_Stat {
  position: relative;

  align-items: baseline;
  justify-content: center;

  display: flex;

  background-image: linear-gradient(
    to bottom,
    transparent 95%,
    hsla(0, 0%, 0%, 0.07) 95%
  );

  .plyr-Card-movember & {
    color: hsl(42, 16%, 62%);
  }

  &:nth-last-child(-n + 2) {
    background-image: none;
  }
}

.plyr-Card_Difference {
  @apply --Font-12;

  position: absolute;
  top: 2px;
  right: -22px;

  font-weight: 700;

  .plyr-Card_Stat:nth-child(-n + 3) & {
    right: auto;
    left: -22px;
  }
}

.plyr-Card_StatValue {
  width: 27px;

  font-family: var(--Font_Family-din);
  font-size: 14px;
  font-weight: 700;

  .plyr-Card-small & {
    width: auto;
    padding: 0 6px 0 1px;

    font-size: 12px;
    line-height: 16px;
  }

  .plyr-Card-large & {
    font-size: 20px;
    line-height: 20px;
  }
}

.plyr-Card_StatKey {
  min-width: 30px;

  font-family: var(--Font_Family-dinCond);
  font-size: 14px;
  font-weight: 500;

  .plyr-Card-small & {
    min-width: 0;

    font-size: 12px;
    line-height: 16px;
  }

  .plyr-Card-large & {
    font-size: 20px;
    line-height: 20px;
  }
}

/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
|
*/
.plyr-Card_Footer {
  font-family: var(--Font_Family-dinCond);
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}

.plyr-Card_ChemistryLabel {
  text-transform: uppercase;
}
