/*
|--------------------------------------------------------------------------
| Detail
|--------------------------------------------------------------------------
| @namespace: plyr-
|
*/
.plyr-Detail {
  position: relative;
}

.plyr-Detail_Share {
  position: absolute;
  top: 0;
  right: calc(100% + 20px);
}

/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
|
*/
.plyr-Detail_Header {
  grid-column-gap: 30px;
  grid-template-columns: 470px 1fr;

  display: grid;
  margin-bottom: 1vr;
}

.plyr-Detail_HeaderTitle {
  @apply --Font-24;
}

.plyr-Detail_Type {
  @apply --Font-14;

  font-weight: 500;
  text-transform: uppercase;
}

.plyr-Detail_Ratings {
  margin-top: 1vr;
}

/*
|--------------------------------------------------------------------------
| Navigation
|--------------------------------------------------------------------------
|
*/
.plyr-Detail_Navigation {
  margin-bottom: 1vr;

  border-bottom: 1px solid var(--Color_Border);
}

.plyr-Detail_NavigationItems {
  display: flex;
}

.plyr-Detail_NavigationItem {
  border: 1px solid var(--Color_Border);
  border-bottom: 0;

  &:first-child {
    border-top-left-radius: 4px;
  }

  &:last-child {
    border-top-right-radius: 4px;
  }

  &[aria-current='true'] {
    margin-top: -5px;

    border-top-left-radius: 4px;
    border-top-right-radius: @border-top-left-radius;
  }

  & + & {
    margin-left: -1px;
  }
}

.plyr-Detail_NavigationLink {
  display: block;
  padding: 8px 20px;

  color: var(--Color_Body);

  transition: color 0.2s;

  &:hover {
    color: var(--Color_Green);
  }

  [aria-current='true'] & {
    padding-top: 13px;

    font-weight: 700;

    color: var(--Color_Green);
  }
}

/*
|--------------------------------------------------------------------------
| Section
|--------------------------------------------------------------------------
|
*/
.plyr-Detail_Section {
  margin-bottom: 2vr;

  &:last-child {
    margin-bottom: 0;
  }
}

.plyr-Detail_SectionHeader {
  align-items: baseline;
  justify-content: space-between;

  display: flex;
  margin-bottom: 0.75em;
  padding-bottom: 15px;

  border-bottom: 2px solid var(--Color_Border);
}

.plyr-Detail_Title {
  @apply --Font-30;

  font-weight: 400;
}

.plyr-Detail_Emphasis {
  font-weight: 500;
}

.plyr-Detail_TitleSmall {
  @apply --Font-16;

  margin-left: 10px;

  font-weight: 400;
}

.plyr-Detail_Link {
  font-weight: 500;
}
