/*
|--------------------------------------------------------------------------
| Detail compare
|--------------------------------------------------------------------------
| @namespace: plyr-
|
*/
.plyr-DetailCompare {
  grid-column-gap: calc(var(--Grid_Gutter) * 2);
  grid-template-columns: repeat(2, 1fr);

  display: grid;

  overflow-x: auto;
}

.plyr-DetailCompare_Player {
  position: relative;

  padding: 3vr calc(var(--Grid_Gutter) * 3) 1vr;

  text-align: center;

  border: 1px solid var(--Color_Border);
}

.plyr-DetailCompare_Search {
  position: absolute;
  bottom: calc(316px - 10px + 1vr);
  left: 50%;
  z-index: 10;

  width: 55%;

  transform: translateX(-50%);
}

.plyr-DetailCompare_Card {
  align-items: center;
  justify-content: center;

  display: flex;
  margin-top: 40px;
}
