/*
|--------------------------------------------------------------------------
| Detail
|--------------------------------------------------------------------------
| @namespace: plyr-
|
*/
.plyr-Detail {
  position: relative;
}

.plyr-Detail_Share {
  display: none;

  @media (--lg) {
    position: absolute;
    top: 0;
    right: calc(100% + 20px);

    display: block;
  }
}

/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
|
*/
.plyr-Detail_Header {
  grid-row-gap: 2vr;

  display: grid;
  margin-bottom: 2vr;

  @media (--lg) {
    grid-column-gap: 30px;
    grid-template-columns: 470px 1fr;

    margin-bottom: 3vr;
  }
}

.plyr-Detail_Header-full {
  display: block;
}

.plyr-Detail_HeaderTitle {
  @include Font_D;

  margin-bottom: 0.25vr;
}

.plyr-Detail_Ratings {
  margin-top: 2vr;

  @media (--md) {
    margin-top: 3vr;
  }
}

/*
|--------------------------------------------------------------------------
| Navigation
|--------------------------------------------------------------------------
|
*/
.plyr-Detail_Navigation {
  margin-bottom: 2vr;

  border-bottom: 1px solid var(--Color_Border);
  overflow-x: auto;

  @media (--md) {
    margin-bottom: 1vr;
  }
}

.plyr-Detail_NavigationItems {
  @include Font_A;

  display: flex;
  padding-top: 5px;
}

.plyr-Detail_NavigationItem {
  border: 1px solid var(--Color_Border);
  border-bottom: 0;

  &:first-child {
    border-top-left-radius: 4px;
  }

  &:last-child {
    border-top-right-radius: 4px;
  }

  &[aria-current='true'] {
    margin-top: -5px;

    border-top-left-radius: 4px;
    border-top-right-radius: @border-top-left-radius;
  }

  & + & {
    margin-left: -1px;
  }
}

.plyr-Detail_NavigationLink {
  display: block;
  padding: 8px 20px;

  font-weight: 400;
  white-space: nowrap;

  color: var(--Color_Dark-1);

  transition: color 0.2s;

  &:hover {
    color: var(--Color_Brand-1);
  }

  [aria-current='true'] & {
    padding-top: 13px;

    font-weight: 600;

    color: var(--Color_Brand-1);
  }
}

/*
|--------------------------------------------------------------------------
| Section
|--------------------------------------------------------------------------
|
*/
.plyr-Detail_Section {
  margin-bottom: 3vr;

  @media (--md) {
    margin-bottom: 4vr;
  }

  @media (--lg) {
    margin-bottom: 6vr;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.plyr-Detail_SectionHeader {
  align-items: baseline;
  justify-content: space-between;

  display: flex;
  margin-bottom: 1vr;
  padding-bottom: 1vr;

  border-bottom: 2px solid var(--Color_Border);

  @media (--md) {
    padding-bottom: 2vr;
  }
}

.plyr-Detail_Title {
  @include Font_F;
}

.plyr-Detail_Name {
  @include Font_C;

  font-weight: 600;
}

.plyr-Detail_Emphasis {
  font-weight: 600;
}

.plyr-Detail_TitleSmall {
  margin-left: 10px;
}

.plyr-Detail_Link {
  font-weight: 600;
}
