/*
|--------------------------------------------------------------------------
| Futily ratings
|--------------------------------------------------------------------------
| @namespace: plyr-
|
*/
.plyr-FutilyRatings_Title {
  @apply --Font-22;
}

/*
|--------------------------------------------------------------------------
| Items
|--------------------------------------------------------------------------
|
*/
.plyr-FutilyRatings_Items {
  grid-gap: 0.5vr calc(var(--Grid_Gutter) * 2);
  grid-template-columns: repeat(2, 1fr);

  display: grid;
  margin-top: 0.5vr;
}

.plyr-FutilyRatings_Item {
  align-items: baseline;
  justify-content: space-between;

  display: flex;
}

.plyr-FutilyRatings_Key {
  @apply --Font-18;

  font-weight: 400;
}

.plyr-FutilyRatings_Value {
  @apply --Font-18;

  font-weight: 700;
}

.plyr-FutilyRatings_ValueDifference {
  @apply --Font-14;

  font-weight: 500;
}

.plyr-FutilyRatings_ValueDifference-positive,
.plyr-FutilyRatings_ValueDifference-negative {
  &::before {
    content: '(';
  }

  &::after {
    content: ')';
  }
}

.plyr-FutilyRatings_ValueDifference-positive {
  color: var(--Color_Great);
}

.plyr-FutilyRatings_ValueDifference-negative {
  color: var(--Color_Poor);
}
