/*
|--------------------------------------------------------------------------
| Futily ratings
|--------------------------------------------------------------------------
| @namespace: plyr-
|
*/

.plyr-FutilyRatings_Title {
  @include Font_D;

  margin-bottom: 0.25vr;
}

/*
|--------------------------------------------------------------------------
| Items
|--------------------------------------------------------------------------
|
*/
.plyr-FutilyRatings_Items {
  grid-auto-flow: column;
  grid-gap: 0.25vr calc(var(--Grid_Gutter) * 2);
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);

  display: grid;
}

.plyr-FutilyRatings_Item {
  align-items: baseline;
  justify-content: space-between;

  display: flex;
}

.plyr-FutilyRatings_Key {
  @include Font_B;
}

.plyr-FutilyRatings_Value {
  @include Font_D;

  --RatingColor: var(--Color_Body);

  color: var(--RatingColor);
}

.plyr-FutilyRatings_Value-great {
  --RatingColor: var(--Color_Great);
}
.plyr-FutilyRatings_Value-good {
  --RatingColor: var(--Color_Good);
}
.plyr-FutilyRatings_Value-average {
  --RatingColor: var(--Color_Average);
}
.plyr-FutilyRatings_Value-fair {
  --RatingColor: var(--Color_Fair);
}
.plyr-FutilyRatings_Value-poor {
  --RatingColor: var(--Color_Poor);
}

.plyr-FutilyRatings_ValueDifference {
  @include Font_A;

  margin-right: 5px;
  margin-left: auto;

  font-weight: 600;

  color: var(--Color_Great);
}

.plyr-FutilyRatings_ValueDifference-positive,
.plyr-FutilyRatings_ValueDifference-negative {
  &::before {
    content: '(';
  }

  &::after {
    content: ')';
  }
}

.plyr-FutilyRatings_ValueDifference-positive {
  color: var(--Color_Great);
}

.plyr-FutilyRatings_ValueDifference-negative {
  color: var(--Color_Poor);
}
