/*
|--------------------------------------------------------------------------
| Information
|--------------------------------------------------------------------------
| @namespace: plyr-
|
*/

/*
|--------------------------------------------------------------------------
| Columns
|--------------------------------------------------------------------------
|
*/
.plyr-Information_Columns {
  grid-gap: 2vr var(--Grid_Gutter);
  grid-template-columns: repeat(2, 1fr);

  display: grid;

  @media (--sm) {
    grid-column-gap: calc(var(--Grid_Gutter) * 2);
    grid-template-columns: repeat(3, 1fr);
  }
}

.plyr-Information_Column {
  &:last-child {
    grid-column: 1 / -1;

    @media (--sm) {
      grid-column: auto;
    }
  }
}

.plyr-Information_Title {
  @include Font_E;

  margin-bottom: 1.5vr;
}

.plyr-Information_Item {
  @include Font_A;

  align-items: baseline;
  flex-wrap: wrap;
  justify-content: space-between;

  display: flex;
  padding: 10px 0;

  font-weight: 600;

  border-bottom: 1px solid var(--Color_Border);
  color: var(--Color_Dark-1);

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;

    border-bottom: 0;
  }
}

.plyr-Information_ItemIdentifier {
  @include Font_A;

  width: 100%;

  font-weight: 400;

  color: var(--Color_Dark-1);
}

.plyr-Information_Value {
  @include Font_A;

  display: flex;
  /* This is for alignment on the compare page */
  min-width: 57px;

  text-transform: none;

  color: var(--Color_Dark-1);

  &:last-child {
    justify-content: flex-end;

    display: flex;
  }
}

.plyr-Information_Icon {
  margin-left: 3px;

  color: var(--Color_Brand-1);

  /* stylelint-disable selector-max-type */
  svg {
    width: 14px;
    height: @width;
  }
  /* stylelint-enable */
}
