/*
|--------------------------------------------------------------------------
| Ingame stats
|--------------------------------------------------------------------------
| @namespace: plyr-
|
*/

/*
|--------------------------------------------------------------------------
| Items
|--------------------------------------------------------------------------
|
*/
.plyr-IngameStats_Items {
  grid-gap: 2vr calc(var(--Grid_Gutter) * 2);
  grid-template: repeat(3, auto) / repeat(2, 1fr);

  display: grid;

  @media (--md) {
    grid-gap: 4vr calc(var(--Grid_Gutter) * 2);
    grid-template: repeat(2, auto) / repeat(3, 1fr);
  }

  .plyr-Detail-compare & {
    @media (--xxs-viewport) {
      grid-template-columns: auto;
    }
  }
}
