/*
|--------------------------------------------------------------------------
| Ingame stats
|--------------------------------------------------------------------------
| @namespace: plyr-
|
*/

/*
|--------------------------------------------------------------------------
| Items
|--------------------------------------------------------------------------
|
*/
.plyr-IngameStats_Items {
  grid-gap: 1.5vr calc(var(--Grid_Gutter) * 2);
  grid-template: auto auto / repeat(3, 1fr);

  display: grid;
}
