/*
|--------------------------------------------------------------------------
| Ratings
|--------------------------------------------------------------------------
| @namespace: asi-
|
*/
.asi-Ratings {
  display: flex;

  .bld-Builder & {
    margin-top: 1vr;
  }
}

.asi-Ratings_Control {
  padding: 7px 10px;

  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.asi-Ratings_Control-down {
  background-color: #e36968;
}

.asi-Ratings_Control-up {
  background-color: #a9d260;
}

.asi-Ratings_Value {
  align-items: center;

  display: flex;
  padding-right: var(--Grid_Gutter);
  padding-left: @padding-right;

  font-weight: 600;
}

.asi-Ratings_Text {
  @include HideForAllButScreenReader;
}

.asi-Ratings_Icon {
  display: block;

  width: 16px;
  height: @width;

  /* stylelint-disable selector-max-type */
  svg {
    display: block;
    width: inherit;
    height: inherit;
  }
  /* stylelint-enable */
}
