/*
|--------------------------------------------------------------------------
| Search results
|--------------------------------------------------------------------------
| @namespace: plyr-
|
*/
.plyr-SearchResults {
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  z-index: 10;

  max-height: 400px;
  min-width: 310px;

  background-color: var(--Color_Grey-light);
  border-top: 1px solid var(--Color_Border);
  overflow-x: hidden;
  overflow-y: auto;

  &[aria-hidden='true'] {
    display: none;
  }

  .sch-Header & {
    left: -20px;
  }
}
