/*
|--------------------------------------------------------------------------
| Search results
|--------------------------------------------------------------------------
| @namespace: plyr-
|
*/
.plyr-SearchResults {
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  z-index: 10;

  max-height: 400px;
  min-width: 310px;

  background-color: var(--Color_Grey-light);
  border-top: 1px solid var(--Color_Border);
  overflow-x: hidden;
  overflow-y: auto;

  &[aria-hidden='true'] {
    display: none;
  }

  &.js-SettingsNationSearch_Results {
    right: 0;

    min-width: 0;
  }

  .asi-Blocks & {
    position: static;

    max-height: none;
    min-width: 0;
  }

  .sch-Header & {
    left: -20px;
  }

  .sch-Section & {
    top: 100%;
    right: 50%;
    left: 5px;
  }
}
