/*
|--------------------------------------------------------------------------
| Small card list
|--------------------------------------------------------------------------
| @namespace: plyr-
|
*/

/*
|--------------------------------------------------------------------------
| Items
|--------------------------------------------------------------------------
|
*/
.plyr-SmallCardList_Items {
  grid-row-gap: 1vr;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));

  display: grid;
}
