/*
|--------------------------------------------------------------------------
| Stat group
|--------------------------------------------------------------------------
| @namespace: plyr-
|
*/

/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
|
*/
.plyr-StatGroup_Header {
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: space-between;

  display: flex;
  margin-bottom: 0.5vr;
}

.plyr-StatGroup_Title {
  @include Font_D;
}

.plyr-StatGroup_GroupValue {
  @include Font_E;

  color: var(--RatingColor);
}

.plyr-StatGroup_GroupValue-great {
  --RatingColor: var(--Color_Great);
}
.plyr-StatGroup_GroupValue-good {
  --RatingColor: var(--Color_Good);
}
.plyr-StatGroup_GroupValue-average {
  --RatingColor: var(--Color_Average);
}
.plyr-StatGroup_GroupValue-fair {
  --RatingColor: var(--Color_Fair);
}
.plyr-StatGroup_GroupValue-poor {
  --RatingColor: var(--Color_Poor);
}

.plyr-StatGroup_Bar {
  width: 100%;
  height: 7px;
  margin-top: 0.25vr;

  background-color: #eaeaea;
}

.plyr-StatGroup_BarOverlay {
  fill: var(--RatingColor);

  transform: skew(-45deg);

  transition: width 0.3s, fill 0.3s;
}

.plyr-StatGroup_BarOverlay-great {
  --RatingColor: var(--Color_Great);
}
.plyr-StatGroup_BarOverlay-good {
  --RatingColor: var(--Color_Good);
}
.plyr-StatGroup_BarOverlay-average {
  --RatingColor: var(--Color_Average);
}
.plyr-StatGroup_BarOverlay-fair {
  --RatingColor: var(--Color_Fair);
}
.plyr-StatGroup_BarOverlay-poor {
  --RatingColor: var(--Color_Poor);
}

.plyr-StatGroup_BarOverlay-2 {
  transform: skew(45deg);
}

/*
|--------------------------------------------------------------------------
| Items
|--------------------------------------------------------------------------
|
*/
.plyr-StatGroup_Item {
  align-items: center;
  justify-content: space-between;

  display: flex;
  margin-bottom: 0.25vr;
  padding: 8px 0;

  border-bottom: 1px solid var(--Color_Border);

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;

    border-bottom: 0;
  }
}

.plyr-StatGroup_Key {
  position: relative;
}

.plyr-StatGroup_Difference {
  @include Font_A;

  margin-right: 5px;
  margin-left: auto;

  font-weight: 600;

  color: var(--Color_Great);

  .plyr-StatGroup_Key & {
    position: absolute;
    top: -13px;
    left: 50%;

    margin-right: 0;

    transform: translate(-50%, 0);
  }

  .plyr-StatGroup_Key-left & {
    top: 50%;
    right: calc(100% + 5px);
    left: auto;

    transform: translateY(-50%);
  }

  .plyr-StatGroup_Key-right & {
    top: 50%;
    left: calc(100% + 5px);

    transform: translateY(-50%);
  }
}

.plyr-StatGroup_Value {
  @include Font_C;

  font-weight: 600;

  color: var(--RatingColor);
}

.plyr-StatGroup_Value-great {
  --RatingColor: var(--Color_Great);
}
.plyr-StatGroup_Value-good {
  --RatingColor: var(--Color_Good);
}
.plyr-StatGroup_Value-average {
  --RatingColor: var(--Color_Average);
}
.plyr-StatGroup_Value-fair {
  --RatingColor: var(--Color_Fair);
}
.plyr-StatGroup_Value-poor {
  --RatingColor: var(--Color_Poor);
}
