{% extends "base.html" %}

{% block content_above %}
  <div class="pg-Strapline">
    <div class="pg-Strapline_Inner">
      <div class="pg-Strapline_Body">
        <div class="pg-Strapline_Content">
          <h1 class="pg-Strapline_Title">{% block strapline_title %}{% endblock %}</h1>
          <p class="pg-Strapline_Text">{% block strapline_text %}{% endblock %}</p>
        </div>

        <div class="pg-Strapline_Advert">
          <img alt="" src="http://placehold.it/728x90">
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content_class %}lyt-Content-wide{% endblock %}

{% block main %}
  <div class="nav-Side">
    <aside class="nav-Side_Aside">
      <div class="asi-Blocks">
        <div class="asi-Block">
          <img alt="" src="http://placehold.it/300x250">
        </div>
      </div>

      <nav class="nav-Side_Items">
        {% for category in categories %}
          <a class="nav-Side_Item"
             href="{{ category.url }}"
             {% if category.here %}aria-current="page"{% endif %}>
            {{ category.label }}
          </a>
        {% endfor %}
      </nav>

      {% block aside_under %}{% endblock %}
    </aside>

    <div class="nav-Side_Panel">
      {% block panel %}{% endblock %}
    </div>
  </div>
{% endblock %}
