{% extends "base.html" %}

{% block content_class %}lyt-Content-wide{% endblock %}

{% block main %}
  <div class="nav-Side">
    <aside class="nav-Side_Aside">
      <div class="asi-Blocks">
        <div class="asi-Block">
          <img alt="" src="http://placehold.it/300x250">
        </div>
      </div>

      <nav class="nav-Side_Items">
        {% for category in categories %}
          <a class="nav-Side_Item"
             href="{{ category.url }}"
             {% if category.here %}aria-current="page"{% endif %}>
            {{ category.label }}
          </a>
        {% endfor %}
      </nav>

      {% block aside_under %}{% endblock %}
    </aside>

    <div class="nav-Side_Panel">
      {% block panel %}{% endblock %}
    </div>
  </div>
{% endblock %}
