{% extends "squads/_builder_edit_base.html" %}

{% block strapline_title %}{{ object.set }} - {{ object }}{% endblock %}

{% block strapline_text %}Fifa {{ settings.CURRENT_FIFA_VERSION }} Squad Building Challenge Builder{% endblock %}

{% block builder_class %}{{ super() }} js-Builder-challenge{% endblock %}

{% block builder_formation %}{{ object.formation }}{% endblock %}

{% block builder_action %}{{ request.path }}/save/{% endblock %}

{% block builder_players %}
  {% for index in range(0, 11) %}
    <li class="bld-Builder_PlayersItem bld-Builder_PlayersItem-{{ FORMATION_POSITIONS.verbose[loop.index0] | lower() }}"
        data-builder-formation-index="{{ index }}"
        data-builder-filled="false">
      <div class="bld-Builder_Player"></div>
      <span class="bld-Builder_Pedestal">{{ player.position if player else FORMATION_POSITIONS.positions[loop.index0] }}</span>
      <input type="hidden" name="players" class="bld-Builder_PlayerInput">
      <div class="bld-Builder_Controls">
        <div class="bld-Builder_Control bld-Builder_Control-remove">
          <span class="bld-Builder_ControlIcon">
            {% include 'trash.svg' %}
          </span>

          <span class="bld-Builder_ControlText">Remove</span>
        </div>

        <div class="bld-Builder_Control bld-Builder_Control-changePosition">
          <span class="bld-Builder_ControlIcon">
            {% include 'shuffle.svg' %}
          </span>

          <span class="bld-Builder_ControlText">Change position</span>
        </div>

        <div class="bld-Builder_Control bld-Builder_Control-toggleLoyalty">
          <span class="bld-Builder_ControlIcon">
            {% include 'heart.svg' %}
          </span>

          <span class="bld-Builder_ControlText">Toggle loyalty</span>
        </div>
      </div>
    </li>
  {% endfor %}
{% endblock %}

{% block builder_footer %}
  <div class="bld-Builder_Columns">
    <div class="bld-Builder_Column">
      <div class="frm-Form_Items">
        <div class="frm-Form_Item frm-Form_Item-full frm-Form_Item-floatingLabel js-FloatingLabel js-FloatingLabel-active">
          <label class="frm-Form_Label js-FloatingLabel_Label" for="name">
            Formation:
          </label>

          <select class="frm-Form_Select js-FloatingLabel_Input"
                  id="formation"
                  name="formation"
                  disabled>
            <option value="">Formations</option>
            {% for value, label in formations.items() %}
              <option value="{{ value }}"{% if object.formation == value %} selected{% endif %}>{{ label }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="frm-Form_Item frm-Form_Item-full frm-Form_Item-floatingLabel js-FloatingLabel">
          <label class="frm-Form_Label js-FloatingLabel_Label" for="title">
            Squad Name:
          </label>

          <input type="text"
                 class="frm-Form_Input js-FloatingLabel_Input"
                 placeholder="Name"
                 name="title"
                 id="title" />
        </div>
      </div>

      <div class="bld-Builder_Form">
        <input type="hidden" name="page" value="{{ squads_page_id }}" />
        <input type="hidden" name="user" value="{{ user.id }}" />
        <input type="hidden" name="sbc" value="{{ object.pk }}" />
        <input type="hidden" name="chemistry" />
        <input type="hidden" name="rating" />
        <input type="hidden" name="loyalty" />
        <input type="hidden" name="position_changes" />

        <button class="bld-Builder_Submit btn-Primary" type="submit">
          Save squad
        </button>
      </div>
    </div>

    <div class="bld-Builder_Column">
      <div class="bld-Builder_Requirements js-Builder_Requirements">
        <div class="sbc-Requirements">
          <h4 class="sbc-Requirements_Title">Requirements</h4>

          <ul class="sbc-Requirements_Items">
            {% for requirement in object.requirements.all() %}
              <li class="sbc-Requirements_Item">
                {{ requirement.render_builder() }}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div class="bld-Builder_Column">
      <div class="bld-Awards">
        <ul class="bld-Awards_Items">
          {% for award in object.awards.all() %}
            <li class="bld-Awards_Item">{{ award.render() }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
