{% extends "sbc/_base.html" %}
{% set title = '{} Squad Building Challenges FIFA {} Ultimate Team'.format(
  view.kwargs.get('category', None) | title() if view.kwargs.get('category', None) else '',
  settings.CURRENT_FIFA_VERSION
) %}

{% set description = 'Give the FIFA {} Squad Building Challenges a go. View the top rated and lowest priced submissions. Keep up to date with the latest Challenges!'.format(settings.CURRENT_FIFA_VERSION) %}

{% block meta_description %}{{ description }}{% endblock %}
{% block og_description %}{{ description }}{% endblock %}
{% block twitter_description %}{{ description }}{% endblock %}

{% block strapline_title %}Squad building challenge sets{% endblock %}
{% block strapline_text %}Top rated FIFA {{ settings.CURRENT_FIFA_VERSION }} Squads{% endblock %}

{% block panel %}
  <div class="sbc-CardList">
    <ul class="sbc-List_Items">
      {% for object in object_list %}
        <li class="sbc-List_Item">
          {{ object.render_card() }}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
