{% extends "sections/types/_base.html" %}
{% import "players/macros/search.html" as search %}

{% block section_class %}sec-Search{% endblock %}

{% block section_content %}
  <div class="sec-Search_Inner">
    {% if section.title or section.text %}
      <header class="sec-Search_Header">
        <div class="sec-Search_Logo">
          {% include 'logo-full.svg' %}
        </div>

        {% if section.text %}
          <p class="sec-Search_Text">{{ section.text }}</p>
        {% endif %}
      </header>
    {% endif %}

    <div class="sec-Search_Body">
      <div class="sec-Search_Search">
        {{ search.player_search(
                'sch-Section',
                'js-SectionPlayerSearch',
                'Search for Fifa {} Players'.format(settings.CURRENT_FIFA_VERSION)) }}
      </div>
      {#      <div class="sch-Players">#}
{#        <ais-index :search-store="searchStore">#}
{#          <ais-input placeholder="Search for a Player, Club, League, or Nation"></ais-input>#}
{##}
{#          <ais-results v-show="searchStore.query && shouldSearchShow">#}
{#            <template scope="{ result }">#}
{#              <ais-result :result="result"></ais-result>#}
{#            </template>#}
{#          </ais-results>#}
{#        </ais-index>#}
{#      </div>#}
    </div>
  </div>
{% endblock %}
