/* We use an order that is beneficial for a 'settings' file */
/* stylelint-disable */
:root {
  /*
  |--------------------------------------------------------------------------
  | Colours
  |--------------------------------------------------------------------------
  |
  */
  --Color_Brand-1: #3d70b2;
  --Color_Brand-2: #5596e6;
  --Color_Brand-3: #41d6c3;

  --Color_Light-1: #f5f7fa;
  --Color_Light-2: #f0f3f6;
  --Color_Light-3: #dfe3e6;
  --Color_Light-4: #8c9ba5;

  --Color_Dark-1: #152934;
  --Color_Dark-2: #5a6872;
  --Color_Dark-3: #2c3e50;

  --Color_Support-aware: #efc100;
  --Color_Support-beware: #e71d32;
  --Color_Support-good: #5aa700;
  --Color_Support-supplement: #5aaafa;

  --Color_Border: #e4e7e9;
  --Color_Border-dark: #343b48;

  --Color_Bronze: #b78553;
  --Color_Silver: #bdbdbd;
  --Color_Gold: #f5db66;

  --Color_Poor: #bf3030;
  --Color_Fair: #d47c00;
  --Color_Average: #f2b600;
  --Color_Good: #90c039;
  --Color_Great: #54a71b;

  --Color_Psn: playstation-color;
  --Color_Xbox: xbox-color;
  --Color_Orgin: #f56c2d;
  --Color_Twitter: twitter-color;
  --Color_Youtube: youtube-color;
  --Color_Twitch: #6441a5;
  --Color_Facebook: facebook-color;

  --Color_Anchor: var(--Color_Brand-1);

  --Card_Color: hsl(31, 100%, 7%);

  --Color_Card-bronze: #36221b;
  --Color_CardMeta-bronze: var(--Color_Card-bronze);

  --Color_Card-silver: #10192f;
  --Color_CardMeta-silver: var(--Color_Card-silver);

  --Color_Card-gold: #201200;
  --Color_CardMeta-gold: var(--Color_Card-gold);

  --Color_Card-rare_bronze: #412418;
  --Color_CardMeta-rare_bronze: var(--Color_Card-rare_bronze);

  --Color_Card-rare_silver: #081027;
  --Color_CardMeta-rare_silver: var(--Color_Card-rare_silver);

  --Color_Card-rare_gold: #251300;
  --Color_CardMeta-rare_gold: var(--Color_Card-rare_gold);

  --Color_Card-totw_bronze: #b78553;
  --Color_CardMeta-totw_bronze: #412418;

  --Color_Card-totw_silver: #bdbdbd;
  --Color_CardMeta-totw_silver: #081027;

  --Color_Card-totw_gold: #ffeb7e;
  --Color_CardMeta-totw_gold: #251300;

  --Color_Card-tots_bronze: #ffcfa0;
  --Color_CardMeta-tots_bronze: #412418;

  --Color_Card-tots_silver: #dce5eb;
  --Color_CardMeta-tots_silver: #081027;

  --Color_Card-tots_gold: #f5db66;
  --Color_CardMeta-tots_gold: #f5db66;

  --Color_Card-toty: #fbffff;
  --Color_CardMeta-toty: var(--Color_Card-toty);

  --Color_Card-legend: #6c4b17;
  --Color_CardMeta-legend: var(--Color_Card-legend);

  --Color_Card-motm: #fff;
  --Color_CardMeta-motm: #fff;

  --Color_Card-teal: #67d0cf;
  --Color_CardMeta-teal: var(--Color_Card-teal);

  --Color_Card-purple: #b187ff;
  --Color_CardMeta-purple: var(--Color_Card-purple);

  --Color_Card-pink: #be6286;
  --Color_CardMeta-pink: #450632;

  --Color_Card-record_breaker: #f7f5f2;
  --Color_CardMeta-record_breaker: var(--Color_Card-record_breaker);

  --Color_Card-imotm: #fff;
  --Color_CardMeta-imotm: #7a0600;

  --Color_Card-fut_birthday: #fff;
  --Color_CardMeta-fut_birthday: #145c9c;

  --Color_Card-confederation_champions_motm: #fff;
  --Color_CardMeta-confederation_champions_motm: #003482;

  --Color_Card-futties_winner: #be6286;
  --Color_CardMeta-futties_winner: #450632;

  --Color_Card-ones_to_watch: #c7cfdb;
  --Color_CardMeta-ones_to_watch: #999da3;

  --Color_Card-sbc_base: #f5f5f5;
  --Color_CardMeta-sbc_base: #d7d7d7;

  --Color_Card-sbc_premium: #d7d7d7;
  --Color_CardMeta-sbc_premium: #f5f5f5;

  --Color_Card-st_patricks: #218540;
  --Color_CardMeta-st_patricks: #1b6a34;

  --Color_Card-halloween: #d36c12;
  --Color_CardMeta-halloween: var(--Color_Card-halloween);

  --Color_Card-movember: #aea590;
  --Color_CardMeta-movember: #3c2313;

  --Color_Card-award_winner: #fff;
  --Color_CardMeta-award_winner: var(--Color_Card-award_winner);

  --Color_Card-award_motm: #fff;
  --Color_CardMeta-award_motm: #003482;

  --Color_Card-gotm: #1a1381;
  --Color_CardMeta-gotm: var(--Color_Card-gotm);

  /*
  |--------------------------------------------------------------------------
  | Card
  |--------------------------------------------------------------------------
  |
  */
  --Card_Size-small: 110px;
  --Card_Size-medium: 158px;

  /*
  |--------------------------------------------------------------------------
  | Fonts
  |--------------------------------------------------------------------------
  |
  */
  /**
  * Font - Families
  */
  --Font_Family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --Font_Family-plex: 'IBM Plex', var(--Font_Family);
  --Font_Family-dinCond: 'DIN Pro Condensed', var(--Font_Family);
  --Font_Family-din: 'DIN Pro', var(--Font_Family);
  --Font_Family-body: var(--Font_Family-plex);

  /*
  |--------------------------------------------------------------------------
  | Grid
  |--------------------------------------------------------------------------
  |
  */
  --Grid_Constrained: 1600px;
  --Grid_Container: 1310px;
  --Grid_Gutter: 10px;

  /*
  |--------------------------------------------------------------------------
  | Miscellaneous
  |--------------------------------------------------------------------------
  |
  */
  --Global_Radius: 3px;
  --Global_Transition: 0.2s;
  --Transition_EaseOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.075);

  /*
  |--------------------------------------------------------------------------
  | Styles
  |--------------------------------------------------------------------------
  |
  */
  font: 16px / 0.5 var(--Font_Family-body);

  cursor: auto;
}
/* stylelint-enable */
