/*
|--------------------------------------------------------------------------
| Object
|--------------------------------------------------------------------------
| @namespace: clc-
|
*/
.clc-Object {
  position: relative;

  flex-direction: column;

  display: flex;
  width: 100%;
  padding: 7vr calc(var(--Grid_Gutter) * 2) 3vr;

  text-align: center;

  background-color: #fff;
  border: 1px solid var(--Color_Border);
  color: var(--Color_Dark-1);

  transition: border-color 0.2s, box-shadow 0.2s;

  &:hover {
    border-color: var(--Color_Brand-1);
  }
}

/*
|--------------------------------------------------------------------------
| Image
|--------------------------------------------------------------------------
|
*/
.clc-Object_ImageContainer {
  position: absolute;
  top: 0;
  left: 50%;

  align-items: center;
  justify-content: center;

  display: flex;
  width: 100px;
  height: @width;
  padding: 2vr calc(var(--Grid_Gutter) * 2);

  background-color: #fff;
  border: 1px solid var(--Color_Border);
  border-radius: 50%;

  transform: translate(-50%, -50%);
  transition: border-color 0.2s;

  .clc-Object:hover & {
    border-color: var(--Color_Brand-1);
  }
}

/*
|--------------------------------------------------------------------------
| Content
|--------------------------------------------------------------------------
|
*/
.clc-Object_Title {
  @include Font_D;

  margin-bottom: 1vr;

  color: var(--Color_Dark-1);
}

.clc-Object_Collection {
  border-bottom: 1vr solid transparent;
}

.clc-Object_Collected {
  font-weight: 600;

  color: var(--Color_Brand-1);
}

.clc-Object_Link {
  align-self: center;

  margin-top: auto;
}
