/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
| @namespace: sch-
|
*/
.sch-Header {
  position: relative;
}

.sch-Header_Input {
  min-width: 250px;
  padding: 11px 25px 11px 0;

  border: 0;
  color: inherit;

  &:focus {
    outline: 0;
  }

  &::placeholder {
    color: inherit;
    opacity: 0.8;
  }
}

.sch-Header_Icon {
  position: absolute;
  top: 50%;
  right: 0;

  transform: translateY(-50%);

  /* stylelint-disable selector-max-type */
  svg {
    width: 15px;
    height: @width;
  }
  /* stylelint-enable */
}
