/*
|--------------------------------------------------------------------------
| Card
|--------------------------------------------------------------------------
| @namespace: crd-
|
*/
.plyr-Card {
  position: relative;

  display: block;
  width: 158px;
  height: 247px;
  padding: 21px 23px 23px;

  font-family: var(--Font_Family-dinCond);

  color: var(--Card_Color);

  transition: opacity 0.2s, transform 0.2s;

  .asi-Block & {
    margin-right: auto;
    margin-left: auto;
  }

  .bld-Search_Results & {
    cursor: pointer;
  }

  .bld-Search_Results-loading & {
    opacity: 0.8;
  }
}

.plyr-Card-faded {
  opacity: 0.5;

  transition: opacity 0.3s, transform 0.2s;

  &:hover {
    opacity: 1;
  }
}

.plyr-Card-body {
  /* stylelint-disable declaration-no-important */
  height: 129px !important;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0 !important;

  background-position: 0 -1106px !important;
  /* stylelint-enable */
}

/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
|
*/
.plyr-Card_Header {
  position: relative;

  align-items: flex-end;

  display: flex;

  font-family: var(--Font_Family-dinCond);
  font-weight: 700;

  .plyr-Card-small & {
    grid-column-gap: 10px;
    grid-template-columns: 22px 1fr;

    display: grid;
  }

  .plyr-Card-medium & {
    grid-template-columns: 33px 1fr;

    display: grid;
  }
}

.plyr-Card_New {
  position: absolute;
  bottom: 0;
  left: 50%;

  padding: 5px 8px;

  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.75px;
  line-height: 1;
  text-shadow: 1px 1px 0 rgba(var(--Color_Dark), 0.3);
  text-transform: uppercase;

  background-color: var(--Color_Green);
  border-radius: 50px;
  box-shadow: 2px 2px 7px rgba(var(--Color_Dark), 0.3);
  color: #fff;

  transform: translateX(-50%);
}

.plyr-Card_Meta {
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;

  display: flex;
  margin-left: 1px;

  color: var(--Card_Color);

  .plyr-Card-small & {
    margin-left: 0;
  }
}

.plyr-Card_Rating {
  font-weight: 700;

  color: var(--Card_Color-rating);

  .plyr-Card-small & {
    margin-bottom: 1px;

    font-size: 18px;
    letter-spacing: -0.4px;
    line-height: 16px;
  }

  .plyr-Card-medium & {
    font-size: 22px;
    letter-spacing: -0.55px;
    line-height: 18px;
  }

  .plyr-Card-large & {
    font-size: 33px;
    letter-spacing: -0.7px;
    line-height: 22px;
  }
}

.plyr-Card_Position {
  font-weight: 700;

  color: var(--Card_Color-position);

  .plyr-Card-small & {
    margin-bottom: 1px;

    font-size: 14px;
    letter-spacing: -0.35px;
    line-height: 16px;
  }

  .plyr-Card-medium & {
    margin-bottom: 1px;

    font-size: 14px;
    letter-spacing: -0.35px;
    line-height: 16px;
  }

  .plyr-Card-large & {
    margin-top: 2px;
    margin-bottom: 1px;

    font-size: 15px;
    letter-spacing: -0.45px;
    line-height: 18px;
  }
}

.plyr-Card_Club {
  pointer-events: none;

  .plyr-Card-small & {
    width: 22px;
    margin-bottom: 2px;
  }

  .plyr-Card-medium & {
    width: 25px;
  }

  .plyr-Card-large & {
    width: 34px;
    margin-bottom: 2px;
  }
}

.plyr-Card_Nation {
  pointer-events: none;

  .plyr-Card-small & {
    width: 22px;
    margin-bottom: 3px;
  }

  .plyr-Card-medium & {
    width: 25px;
  }

  .plyr-Card-large & {
    width: 40px;
  }
}

.plyr-Card_Image {
  pointer-events: none;

  .plyr-Card-small & {
    width: 60px;
  }

  .plyr-Card-medium & {
    height: 105px;
  }

  .plyr-Card-large & {
    width: 134px;
  }

  .plyr-Card-halloween & {
    animation: HaloweenGlow 2.5s infinite linear;
  }
}

@keyframes HaloweenGlow {
  0% {
    filter: drop-shadow(0 0 0 rgba(0, 255, 10, 0));
  }

  50% {
    filter: drop-shadow(0 -2px 8px rgba(0, 255, 10, 1));
  }

  100% {
    filter: drop-shadow(0 0 0 rgba(0, 255, 10, 0));
  }
}

.plyr-Card_Price {
  position: absolute;
  bottom: 0;

  align-items: center;

  display: flex;
  padding: 0 35px 0 5px;

  font-size: 17px;

  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.6) 0,
    rgba(0, 0, 0, 0.6) calc(100% - 30px),
    rgba(0, 0, 0, 0) 100%
  );

  .plyr-Card-medium & {
    left: 34px;
  }

  .plyr-Card-large & {
    left: 42px;
  }
}

.plyr-Card_PriceIcon {
  display: block;
  width: 16px;
  height: @width;
  margin-right: 5px;

  /* stylelint-disable selector-max-type */
  svg {
    display: block;
    width: inherit;
    height: inherit;
  }
  /* stylelint-enable */
}

/*
|--------------------------------------------------------------------------
| Body
|--------------------------------------------------------------------------
|
*/
.plyr-Card_Body {
  display: grid;

  .plyr-Card-small & {
    display: block;

    text-align: center;
  }

  .plyr-Card-medium & {
    grid-template-rows: 22px 1fr;
    grid-template-columns: 33px 1fr;
  }

  .plyr-Card-large & {
    grid-template-rows: 28px 1fr;
    grid-template-columns: 42px 1fr;
  }
}

.plyr-Card_Name {
  grid-column: 2;

  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;

  color: var(--Card_Color-name);
  overflow-x: auto;

  .plyr-Card-small & {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
  }

  .plyr-Card-medium & {
    margin-top: 1px;
    margin-bottom: @margin-top;

    font-size: 16px;
    letter-spacing: -0.4px;
    line-height: 20px;
  }

  .plyr-Card-large & {
    margin-top: 2px;
    margin-bottom: @margin-top;

    font-size: 21px;
    letter-spacing: -0.5px;
    line-height: 24px;
  }
}

.plyr-Card_Extra {
  grid-column: 1;
  grid-row: 1 / -1;

  margin-top: 4px;

  font-weight: 600;
  text-shadow: 1px 1px var(--Card_Color-extraShadow);

  color: var(--Card_Color-extra);

  .plyr-Card-small & {
    display: none;
  }

  .plyr-Card-medium & {
    @include Font_A;

    padding-right: 2px;
    padding-left: 4px;

    letter-spacing: -0.2px;
  }

  .plyr-Card-large & {
    margin-top: 4px;
    padding-right: 4px;
    padding-left: @padding-right;

    line-height: 20px;
  }
}

.plyr-Card_Stats {
  grid-auto-flow: column;
  grid-column: 2;
  grid-row: 2;
  grid-template-rows: repeat(3, var(--RowHeight));
  grid-template-columns: repeat(2, 1fr);

  display: grid;

  .plyr-Card-small & {
    display: none;
  }

  .plyr-Card-medium & {
    --RowHeight: 20px;

    grid-column-gap: 10px;

    margin-top: 4px;
    padding-right: 22px;
    padding-left: 9px;
  }

  .plyr-Card-large & {
    --RowHeight: 24px;

    grid-column-gap: 20px;

    margin-top: 7px;
    padding-right: 28px;
    padding-left: 12px;
  }
}

.plyr-Card_Stat {
  position: relative;

  align-items: baseline;

  display: flex;

  background-image: linear-gradient(
    to bottom,
    transparent 95%,
    hsla(0, 0%, 0%, 0.07) 95%
  );

  &:nth-last-child(-n + 2) {
    background-image: none;
  }
}

.plyr-Card_Difference {
  @include Font_Tiny;

  position: absolute;
  top: 0;
  right: -20px;

  font-weight: 700;

  color: var(--Card_Color-key);

  .plyr-Card_Stat:nth-child(-n + 3) & {
    right: -18px;

    .plyr-Card-body & {
      right: 0;
      left: auto;
    }
  }

  .plyr-Card-body & {
    right: 0;

    font-size: 13px;
    font-weight: 700;
    line-height: 1;

    color: var(--Card_Color-key);
  }
}

.plyr-Card_StatValue {
  font-weight: 700;

  color: var(--Card_Color-value);

  .plyr-Card-medium & {
    margin-right: 5px;

    font-size: 16px;
    line-height: 16px;
  }

  .plyr-Card-large & {
    margin-right: 5px;

    font-size: 20px;
    line-height: 16px;
  }
}

.plyr-Card_StatKey {
  font-size: 14px;
  font-weight: 600;

  color: var(--Card_Color-key);

  .plyr-Card-medium & {
    font-size: 14px;
    line-height: 16px;
  }

  .plyr-Card-large & {
    font-size: 20px;
    line-height: 20px;
  }

  .plyr-Card-body & {
    padding-left: 7px;
  }
}

/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
|
*/
.plyr-Card_Footer {
  display: grid;

  .plyr-Card-small & {
    display: none;
  }

  .plyr-Card-medium & {
    grid-template-rows: 22px 1fr;
    grid-template-columns: 33px 1fr;

    padding-right: 22px;
    padding-left: 9px;
  }

  .plyr-Card-large & {
    grid-template-rows: 28px 1fr;
    grid-template-columns: 42px 1fr;

    padding-right: 28px;
    padding-left: 12px;
  }

  .plyr-Card-body & {
    align-items: center;
    justify-content: center;

    display: flex;
    padding-left: 22px;

    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;

    color: var(--Card_Color-key);
  }
}

.plyr-Card_Chem {
  @include Font_A;

  grid-column: 2;

  padding-left: 20px;

  font-weight: 600;
  text-align: left;
  text-transform: uppercase;

  color: var(--Card_Color-value);
}

.plyr-Card_ChemValue {
  font-weight: 600;
}

/*
|--------------------------------------------------------------------------
| Style chevrons
|--------------------------------------------------------------------------
|
*/
.plyr-Card_StyleChevrons {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 9px;
  height: 20px;
}

.plyr-Card_StyleChevron {
  position: absolute;
  top: 3px;
  left: -2px;

  display: block;
  width: 9px;
  height: @width;

  transform: rotate(180deg);

  .plyr-Card_StyleChevrons-2 & {
    top: 6px;
  }

  .plyr-Card_StyleChevrons-3 & {
    top: 4px;
  }

  &:nth-child(2) {
    transform: translateY(-4px) rotate(180deg);
  }

  &:nth-child(3) {
    transform: translateY(4px) rotate(180deg);
  }

  /* stylelint-disable selector-max-type */
  svg {
    display: block;
    width: 9px;
    height: @width;
  }
  /* stylelint-enable */
}
