/*
|--------------------------------------------------------------------------
| Card
|--------------------------------------------------------------------------
| @namespace: plyr-
|
*/
/* stylelint-disable selector-class-pattern */
.plyr-Card-medium {
  color: #f8fcff;

  @media (--xxs-viewport) {
    background-size: 100%;
  }

  @media (--sm) {
    --CardWidth: 158px;
    --CardHeight: 247px;

    padding: 13px 4px 23px;

    background-image: resolve('ea/cards/18/medium/base.png');
    background-position: 0 var(--CardPosY);
  }

  &.plyr-Card-bronze {
    @media (--xxs-viewport) {
      background-image: resolve('ea/cards/18/small/bronze.png');
    }

    @media (--sm) {
      --CardPosY: 0;
    }
  }
  &.plyr-Card-gold {
    @media (--xxs-viewport) {
      background-image: resolve('ea/cards/18/small/gold.png');
    }

    @media (--sm) {
      --CardPosY: -247px;
    }
  }
  &.plyr-Card-silver {
    @media (--xxs-viewport) {
      background-image: resolve('ea/cards/18/small/silver.png');
    }

    @media (--sm) {
      --CardPosY: -1751px;
    }
  }
  &.plyr-Card-legend {
    @media (--xxs-viewport) {
      background-image: resolve('ea/cards/18/small/legend.png');
    }

    @media (--sm) {
      --CardPosY: -494px;
    }
  }
  &.plyr-Card-rare_bronze {
    @media (--xxs-viewport) {
      background-image: resolve('ea/cards/18/small/rare_bronze.png');
    }

    @media (--sm) {
      --CardPosY: -741px;
    }
  }
  &.plyr-Card-rare_gold {
    @media (--xxs-viewport) {
      background-image: resolve('ea/cards/18/small/rare_gold.png');
    }

    @media (--sm) {
      --CardPosY: -988px;
    }
  }
  &.plyr-Card-rare_silver {
    @media (--xxs-viewport) {
      background-image: resolve('ea/cards/18/small/rare_silver.png');
    }

    @media (--sm) {
      --CardPosY: -1235px;
    }
  }

  &.plyr-Card-award_winner {
    @media (--xxs-viewport) {
      background-image: resolve('ea/cards/18/small/award_winner.png');
    }

    @media (--sm) {
      --CardPosY: 0;
    }
  }
  &.plyr-Card-europe_motm {
    @media (--xxs-viewport) {
      background-image: resolve('ea/cards/18/small/europe_motm.png');
    }

    @media (--sm) {
      --CardPosY: -494px;
    }
  }
  &.plyr-Card-fut_champions_bronze {
    @media (--xxs-viewport) {
      background-image: resolve('ea/cards/18/small/fut_champions_bronze.png');
    }

    @media (--sm) {
      --CardPosY: -988px;
    }
  }
  &.plyr-Card-fut_champions_gold {
    @media (--xxs-viewport) {
      background-image: resolve('ea/cards/18/small/fut_champions_gold.png');
    }

    @media (--sm) {
      --CardPosY: -1235px;
    }
  }
  &.plyr-Card-fut_champions_silver {
    @media (--xxs-viewport) {
      background-image: resolve('ea/cards/18/small/fut_champions_silver.png');
    }

    @media (--sm) {
      --CardPosY: -1482px;
    }
  }
  &.plyr-Card-fut_united {
    @media (--xxs-viewport) {
      background-image: resolve('ea/cards/18/small/fut_united.png');
    }

    @media (--sm) {
      --CardPosY: -2223px;
    }
  }
  &.plyr-Card-futties_winner {
    @media (--xxs-viewport) {
      background-image: resolve('ea/cards/18/small/futties_winner.png');
    }

    @media (--sm) {
      --CardPosY: -2470px;
    }
  }
  &.plyr-Card-gotm {
    @media (--xxs-viewport) {
      background-image: resolve('ea/cards/18/small/gotm.png');
    }

    @media (--sm) {
      --CardPosY: -2717px;
    }
  }
  &.plyr-Card-halloween {
    @media (--xxs-viewport) {
      background-image: resolve('ea/cards/18/small/halloween.png');
    }

    @media (--sm) {
      --CardPosY: -2964px;
    }
  }
  &.plyr-Card-marquee {
    @media (--xxs-viewport) {
      background-image: resolve('ea/cards/18/small/marquee.png');
    }

    @media (--sm) {
      --CardPosY: -3458px;
    }
  }
  &.plyr-Card-motm {
    @media (--xxs-viewport) {
      background-image: resolve('ea/cards/18/small/motm.png');
    }

    @media (--sm) {
      --CardPosY: -3705px;
    }
  }
  &.plyr-Card-ones_to_watch {
    @media (--xxs-viewport) {
      background-image: resolve('ea/cards/18/small/ones_to_watch.png');
    }

    @media (--sm) {
      --CardPosY: -4199px;
    }
  }
  &.plyr-Card-pink {
    @media (--xxs-viewport) {
      background-image: resolve('ea/cards/18/small/pink.png');
    }

    @media (--sm) {
      --CardPosY: -4446px;
    }
  }
  &.plyr-Card-purple {
    @media (--xxs-viewport) {
      background-image: resolve('ea/cards/18/small/purple.png');
    }

    @media (--sm) {
      --CardPosY: -4693px;
    }
  }
  &.plyr-Card-record_breaker {
    @media (--xxs-viewport) {
      background-image: resolve('ea/cards/18/small/record_breaker.png');
    }

    @media (--sm) {
      --CardPosY: -4940px;
    }
  }
  &.plyr-Card-rtr_gold {
    @media (--xxs-viewport) {
      background-image: resolve('ea/cards/18/small/rtr_gold.png');
    }

    @media (--sm) {
      --CardPosY: -5434px;
    }
  }
  &.plyr-Card-sbc_base {
    @media (--xxs-viewport) {
      background-image: resolve('ea/cards/18/small/sbc_base.png');
    }

    @media (--sm) {
      --CardPosY: -5681px;
    }
  }
  &.plyr-Card-sbc_premium {
    @media (--xxs-viewport) {
      background-image: resolve('ea/cards/18/small/sbc_premium.png');
    }

    @media (--sm) {
      --CardPosY: -5928px;
    }
  }
  &.plyr-Card-st_patricks {
    @media (--xxs-viewport) {
      background-image: resolve('ea/cards/18/small/st_patricks.png');
    }

    @media (--sm) {
      --CardPosY: -6175px;
    }
  }
  &.plyr-Card-teal {
    @media (--xxs-viewport) {
      background-image: resolve('ea/cards/18/small/teal.png');
    }

    @media (--sm) {
      --CardPosY: -6422px;
    }
  }
  &.plyr-Card-tots_bronze {
    @media (--xxs-viewport) {
      background-image: resolve('ea/cards/18/small/tots_bronze.png');
    }

    @media (--sm) {
      --CardPosY: -6669px;
    }
  }
  &.plyr-Card-tots_gold {
    @media (--xxs-viewport) {
      background-image: resolve('ea/cards/18/small/tots_gold.png');
    }

    @media (--sm) {
      --CardPosY: -6916px;
    }
  }
  &.plyr-Card-tots_silver {
    @media (--xxs-viewport) {
      background-image: resolve('ea/cards/18/small/tots_silver.png');
    }

    @media (--sm) {
      --CardPosY: -7163px;
    }
  }
  &.plyr-Card-totw_bronze {
    @media (--xxs-viewport) {
      background-image: resolve('ea/cards/18/small/totw_bronze.png');
    }

    @media (--sm) {
      --CardPosY: -7410px;
    }
  }
  &.plyr-Card-totw_gold {
    @media (--xxs-viewport) {
      background-image: resolve('ea/cards/18/small/totw_gold.png');
    }

    @media (--sm) {
      --CardPosY: -7657px;
    }
  }
  &.plyr-Card-totw_silver {
    @media (--xxs-viewport) {
      background-image: resolve('ea/cards/18/small/totw_silver.png');
    }

    @media (--sm) {
      --CardPosY: -7904px;
    }
  }
  &.plyr-Card-toty {
    @media (--xxs-viewport) {
      background-image: resolve('ea/cards/18/small/toty.png');
    }

    @media (--sm) {
      --CardPosY: -8151px;
    }
  }

  &.plyr-Card-award_winner,
  &.plyr-Card-confederation_champions_motm,
  &.plyr-Card-europe_motm,
  &.plyr-Card-fut_birthday,
  &.plyr-Card-fut_champions_bronze,
  &.plyr-Card-fut_champions_gold,
  &.plyr-Card-fut_champions_silver,
  &.plyr-Card-fut_championship,
  &.plyr-Card-fut_mas,
  &.plyr-Card-fut_united,
  &.plyr-Card-futties_winner,
  &.plyr-Card-gotm,
  &.plyr-Card-halloween,
  &.plyr-Card-imotm,
  &.plyr-Card-marquee,
  &.plyr-Card-motm,
  &.plyr-Card-movember,
  &.plyr-Card-ones_to_watch,
  &.plyr-Card-pink,
  &.plyr-Card-purple,
  &.plyr-Card-record_breaker,
  &.plyr-Card-rtr_contender,
  &.plyr-Card-rtr_gold,
  &.plyr-Card-sbc_base,
  &.plyr-Card-sbc_premium,
  &.plyr-Card-st_patricks,
  &.plyr-Card-teal,
  &.plyr-Card-tots_bronze,
  &.plyr-Card-tots_gold,
  &.plyr-Card-tots_silver,
  &.plyr-Card-totw_bronze,
  &.plyr-Card-totw_gold,
  &.plyr-Card-totw_silver,
  &.plyr-Card-toty {
    @media (--sm) {
      background-image: resolve('ea/cards/18/medium/special.png');
    }
  }
}
