/*
|--------------------------------------------------------------------------
| Fonts
|--------------------------------------------------------------------------
|
*/
@mixin Font_Tiny {
  font-size: 12px;
  line-height: 16px;
}

@mixin Font_A {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.02rem;
  line-height: 16px;

  @media (min-width: 1056px) {
    font-size: calc(12px + 0.00673 * (100vw - 1056px));
    letter-spacing: calc(0.32px + -0.00054 * (100vw - 1056px));
    line-height: calc(16px + 0.0101 * (100vw - 1056px));
  }

  @media (min-width: 1650px) {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
  }
}

@mixin Font_B {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.01rem;
  line-height: 20px;

  @media (min-width: 1056px) {
    font-size: calc(14px + 0.00673 * (100vw - 1056px));
    letter-spacing: calc(0.16px + -0.00027 * (100vw - 1056px));
    line-height: calc(20px + 0.00673 * (100vw - 1056px));
  }

  @media (min-width: 1650px) {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
  }
}

@mixin Font_C {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  @media (min-width: 1056px) {
    font-size: calc(16px + 0.00673 * (100vw - 1056px));
    line-height: calc(22px + 0.00673 * (100vw - 1056px));
  }

  @media (min-width: 1650px) {
    font-size: 18px;
    line-height: 26px;
  }
}

@mixin Font_D {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;

  @media (min-width: 1056px) {
    font-size: calc(16px + 0.00673 * (100vw - 1056px));
    line-height: calc(22px + 0.00673 * (100vw - 1056px));
  }

  @media (min-width: 1650px) {
    font-size: 20px;
    line-height: 26px;
  }
}

@mixin Font_E {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;

  @media (min-width: 320px) {
    font-size: calc(18px + 0.00625 * (100vw - 320px));
    line-height: calc(24px + 0.00625 * (100vw - 320px));
  }

  @media (min-width: 640px) {
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: 640px) and (min-width: 1056px) {
    font-size: calc(20px + 0.00673 * (100vw - 1056px));
    line-height: calc(26px + 0.00673 * (100vw - 1056px));
  }

  @media (min-width: 1650px) {
    font-size: 24px;
    line-height: 30px;
  }
}

@mixin Font_F {
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;

  @media (min-width: 320px) {
    font-size: calc(20px + 0.0125 * (100vw - 320px));
    line-height: calc(26px + 0.0125 * (100vw - 320px));
  }

  @media (min-width: 640px) {
    font-size: 24px;
    line-height: 30px;
  }

  @media (min-width: 640px) and (min-width: 1056px) {
    font-size: calc(24px + 0.01347 * (100vw - 1056px));
    line-height: calc(30px + 0.01684 * (100vw - 1056px));
  }

  @media (min-width: 1650px) {
    font-size: 32px;
    line-height: 40px;
  }
}

@mixin Font_G {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;

  @media (min-width: 640px) {
    font-size: calc(24px + 0.00962 * (100vw - 640px));
    line-height: calc(30px + 0.01442 * (100vw - 640px));
  }

  @media (min-width: 1056px) {
    font-size: calc(28px + 0.00673 * (100vw - 1056px));
    line-height: calc(36px + 0.00673 * (100vw - 1056px));
  }

  @media (min-width: 1650px) {
    font-size: 32px;
    line-height: 40px;
  }
}

@mixin Font_H {
  font-size: 28px;
  font-weight: 300;
  line-height: 36px;

  @media (min-width: 320px) {
    font-size: calc(28px + 0.0125 * (100vw - 320px));
    line-height: calc(36px + 0.0125 * (100vw - 320px));
  }

  @media (min-width: 640px) {
    font-size: calc(32px + 0.00962 * (100vw - 640px));
    line-height: calc(40px + 0.00962 * (100vw - 640px));
  }

  @media (min-width: 1056px) {
    font-size: calc(36px + 0.0101 * (100vw - 1056px));
    line-height: calc(44px + 0.0101 * (100vw - 1056px));
  }

  @media (min-width: 1650px) {
    font-size: 42px;
    line-height: 50px;
  }
}

@mixin Font_I {
  font-size: 28px;
  font-weight: 300;
  line-height: 36px;

  @media (min-width: 320px) {
    font-size: calc(28px + 0.025 * (100vw - 320px));
    line-height: calc(36px + 0.025 * (100vw - 320px));
  }

  @media (min-width: 640px) {
    font-size: calc(36px + 0.01442 * (100vw - 640px));
    line-height: calc(44px + 0.01442 * (100vw - 640px));
  }

  @media (min-width: 1056px) {
    font-size: calc(42px + 0.0303 * (100vw - 1056px));
    line-height: calc(50px + 0.03367 * (100vw - 1056px));
  }

  @media (min-width: 1650px) {
    font-size: 60px;
    line-height: 70px;
  }
}
