/*
|--------------------------------------------------------------------------
| Block
|--------------------------------------------------------------------------
| @namespace: asi-
|
*/
.asi-Block {
  & + & {
    margin-top: 1vr;
  }
}

.asi-Block_Title {
  @include Font_C;

  margin-bottom: 0.5vr;

  font-weight: 700;

  &::before {
    content: '';

    display: inline-block;
    width: 14px;
    margin-right: 5px;

    border-top: 7px solid var(--Color_Brand-1);
    border-bottom: 7px solid #46d1ff;
  }
}

.asi-Block_Split {
  align-items: center;
  justify-content: space-between;

  display: flex;
}

.asi-Block_Link {
  &[aria-current='true'] {
    padding-right: 30px;

    background-image: svg-load('tick.svg', fill='#fff');
    background-position: right 10px center;
    background-size: 12px 12px;
  }
}
