/*
|--------------------------------------------------------------------------
| Blocks
|--------------------------------------------------------------------------
| @namespace: asi-
|
*/
.asi-Blocks {
  position: sticky;
  top: 1vr;
}

.asi-Blocks-noSticky {
  position: static;
}
