/*
|--------------------------------------------------------------------------
| Clubs
|--------------------------------------------------------------------------
| @namespace: asi-
|
*/
.asi-Clubs_Items {
  @apply --GridRow;

  flex-wrap: wrap;
}

.asi-Clubs_Item {
  @apply --GridColumn;

  width: calc(percentage(1, 2) - (var(--Grid_Gutter) * 2));
  margin-top: 0.5vr;

  &:nth-child(-n + 2) {
    margin-top: 0;
  }
}
