/*
|--------------------------------------------------------------------------
| Clubs
|--------------------------------------------------------------------------
| @namespace: asi-
|
*/
.asi-Clubs_Items {
  grid-gap: calc(var(--Grid_Gutter) * 2);
  grid-template-columns: repeat(2, 1fr);

  display: grid;
}
