/*
|--------------------------------------------------------------------------
| Club
|--------------------------------------------------------------------------
| @namespace: asi-
|
*/
.asi-Club {
  display: block;

  text-align: center;

  color: currentColor;
}

.asi-Club_Title {
  margin-top: 1vr;
}

.asi-Club_Image {
  max-width: 75px;

  transition: filter 0.2s, transform 0.2s;

  .asi-Club:hover & {
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.2));

    transform: translateY(-3px);
  }
}
