/*
|--------------------------------------------------------------------------
| Filters
|--------------------------------------------------------------------------
| @namespace: asi-
|
*/

/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
|
*/
.asi-Filters_Header {
  margin-bottom: 0.5vr;
}

.asi-Filters_Submit {
  @include Button-primary;

  width: 100%;

  .asi-FilterFlyout_Footer & {
    @include Grid_Column;
  }
}

.asi-Filters_Clear {
  @include Button-secondary;

  width: 100%;

  .asi-FilterFlyout_Footer & {
    @include Grid_Column;
  }
}

/*
|--------------------------------------------------------------------------
| Items
|--------------------------------------------------------------------------
|
*/
.asi-Filters_Item {
  border-bottom: 1px solid var(--Color_Border);
}

/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
|
*/
.asi-Filters_Footer {
  margin-top: 0.5vr;
}

.asi-Filter_Action {
  margin-top: 0.25vr;

  &:first-child {
    margin-top: 0;
  }
}
