/*
|--------------------------------------------------------------------------
| Filters
|--------------------------------------------------------------------------
| @namespace: asi-
|
*/

/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
|
*/
.asi-Filters_Header {
  margin-bottom: 1vr;
}

.asi-Filters_Submit {
  @include Button-primary;
  @include Button-large;

  width: 100%;

  .asi-FilterFlyout_Footer & {
    @include Grid_Column;
  }
}

.asi-Filters_Clear {
  @include Button-secondary;
  @include Button-large;

  width: 100%;

  .asi-FilterFlyout_Footer & {
    @include Grid_Column;
  }
}

/*
|--------------------------------------------------------------------------
| Items
|--------------------------------------------------------------------------
|
*/
.asi-Filters_Item {
  border-bottom: 1px solid var(--Color_Border);
}

/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
|
*/
.asi-Filters_Footer {
  margin-top: 1vr;
}

.asi-Filter_Actions {
  grid-gap: 1vr;
  grid-template-columns: repeat(2, 1fr);

  display: grid;
}

.asi-Filter_Action {
  flex: 1;

  &:first-child {
    margin-top: 0;
  }
}
