/*
|--------------------------------------------------------------------------
| Filter
|--------------------------------------------------------------------------
| @namespace: asi-
|
*/
.asi-Filter {
  padding-right: 5px;
  padding-left: @padding-right;

  &:hover {
    background-color: var(--Color_Light-1);
  }
}

.asi-Filter-flyout {
  position: relative;
}

.asi-Filter-collapse {
  &[aria-expanded='true'] {
    background-color: var(--Color_Light-1);
  }
}

/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
|
*/
.asi-Filter_Button {
  position: relative;

  justify-content: space-between;

  display: flex;
  width: 100%;
  padding: 8px calc(var(--Grid_Gutter) * 2) 8px 0;

  cursor: pointer;

  &:focus {
    outline: 0;
  }

  &::after {
    content: '';

    position: absolute;
    top: 50%;
    right: 0;

    display: block;
    width: 10px;
    height: @width;

    background-image: svg-load('angle-down.svg');
    background-size: @width @height;

    transform: translateY(-50%);
    transition: transform 0.3s;

    .asi-Filter-collapse[aria-expanded='true'] & {
      transform: translateY(-50%) rotate(180deg);
    }

    .asi-Filter-flyout[aria-expanded='true'] & {
      transform: translateY(-50%) rotate(-90deg);
    }
  }
}

/*
|--------------------------------------------------------------------------
| Body
|--------------------------------------------------------------------------
|
*/
.asi-Filter_Body {
  padding-top: 1vr;
  padding-bottom: 1vr;

  [aria-expanded='false'] & {
    display: none;
  }
}

.asi-Filter_Links {
  display: flex;
}

.asi-Filter_LinkLabel {
  align-items: center;

  display: flex;
  margin-right: var(--Grid_Gutter);

  color: var(--Color_Brand-1);
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &[aria-current='true'] {
    .asi-Filter_Links-stars & {
      &::after {
        background-image: svg-load(
          'star.svg',
          fill=var(--Color_Brand-2),
          stroke=var(--Color_Brand-2),
          stroke-width=3
        );
      }
    }
  }

  &:hover {
    .asi-Filter_Links-stars & {
      &::after {
        background-image: svg-load(
          'star.svg',
          fill=var(--Color_Brand-2),
          stroke=var(--Color_Brand-2),
          stroke-width=3
        );
      }
    }
  }

  &::after {
    .asi-Filter_Links-stars & {
      content: '';

      display: block;
      width: 14px;
      height: @width;
      margin-left: 5px;

      background-image: svg-load(
        'star.svg',
        fill=#fff,
        stroke=var(--Color_Brand-2),
        stroke-width=3
      );
      background-size: @width @height;

      transition: background-image 0.2s;
    }
  }
}

.asi-Filter_LinkRadio {
  display: none;
}

.asi-Filter_LinkGroup {
  display: flex;
}

.asi-Filter_LinkGroupsItem {
  margin-bottom: 1vr;

  &:last-child {
    margin-bottom: 0;
  }
}

.asi-Filter_LinkGroupLink {
  margin-right: 8px;

  color: var(--Color_Brand-1);
  cursor: pointer;

  &[aria-current='true'] {
    font-weight: 600;
  }
}

/*
|--------------------------------------------------------------------------
| Sort
|--------------------------------------------------------------------------
|
*/
.asi-Filter_Select {
  flex: 1 1 auto;

  margin-right: calc(var(--Grid_Gutter) * 2);
  padding: 5px var(--Grid_Gutter);

  appearance: none;
  background-color: #fff;
  background-image: svg-load('angle-down.svg');
  background-position: right var(--Grid_Gutter) center;
  background-size: 12px auto;
  border: 1px solid var(--Color_Border);
  border-radius: 4px;
}

.asi-Filter_Sort {
  justify-content: space-between;

  display: flex;
}
