/*
|--------------------------------------------------------------------------
| Filter flyout
|--------------------------------------------------------------------------
| @namespace: asi-
|
*/
.asi-FilterFlyout {
  position: absolute;
  top: -35px;
  left: calc(100% + (var(--Grid_Gutter) * 2));
  z-index: 1;

  max-width: 750px;
  width: 50vw;
  padding: 1vr var(--Grid_Gutter);

  background-color: #fff;
  border: 1px solid var(--Color_Border);
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;

  transform: translateX(20px);
  transition: opacity 0.3s, visibility 0.3s, transform 0.3s;

  [aria-expanded='true'] & {
    opacity: 1;
    visibility: visible;

    transform: none;
  }

  &::before {
    --Width: 20px;

    content: '';

    position: absolute;
    top: 41px;
    right: calc(100% - (var(--Width, 0) / 2) - 10px);

    display: block;
    width: var(--Width);
    height: var(--Width);

    background-color: #fff;
    border-top: 1px solid var(--Color_Border);
    border-left: 1px solid var(--Color_Border);

    transform: rotate(-45deg);
  }
}

/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
|
*/
.asi-FilterFlyout_Header {
  align-items: baseline;
  justify-content: space-between;

  display: flex;
  margin-bottom: 1vr;

  border-bottom: 1px solid var(--Color_Border);
}

.asi-FilterFlyout_Title {
  @include Font_E;
}

.asi-FilterFlyout_Close {
  color: var(--Color_Brand-1);
  cursor: pointer;
}

/*
|--------------------------------------------------------------------------
| Body
|--------------------------------------------------------------------------
|
*/
.asi-FilterFlyout_Body {
  max-height: 50vh;

  overflow-y: auto;
}

/*
|--------------------------------------------------------------------------
| Group
|--------------------------------------------------------------------------
|
*/
.asi-FilterFlyout_Groups-columned {
  @supports (display: grid) {
    grid-column-gap: calc(var(--Grid_Gutter) * 2);
    grid-template-columns: repeat(3, 1fr);

    display: grid;
  }
}

.asi-FilterFlyout_Group {
  .asi-FilterFlyout_Groups-columned &:last-child {
    grid-column: span 3;
  }
}

.asi-FilterFlyout_GroupTitle {
  @include Font_D;

  padding: 1vr 10px;

  background-color: var(--Color_Light-1);
}

.asi-FilterFlyout_GroupBody {
  margin: 1vr 0;
}

/*
|--------------------------------------------------------------------------
| Options
|--------------------------------------------------------------------------
|
*/
.asi-FilterFlyout_Options {
  grid-column-gap: calc(var(--Grid_Gutter) * 2);
  grid-template-columns: repeat(3, 1fr);

  display: grid;

  .asi-FilterFlyout_Groups-columned .asi-FilterFlyout_Group:not(:last-child) & {
    display: block;
  }
}

.asi-FilterFlyout_Option {
  &:hover {
    background-color: var(--Color_Light-2);
    cursor: pointer;
  }
}

.asi-FilterFlyout_OptionLink {
  @include Font_A;

  display: block;

  &[aria-selected='true'] {
    padding-left: 4px;

    border-left: 3px solid var(--Color_Brand-1);
  }
}

.asi-FilterFlyout_OptionImage {
  width: 20px;
  margin-right: 5px;
}

/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
|
*/
.asi-FilterFlyout_Footer {
  @include Grid_Row;

  padding-top: 1vr;
}
