/*
|--------------------------------------------------------------------------
| LinkList
|--------------------------------------------------------------------------
| @namespace: asi-
|
*/
.asi-LinkList_Item {
  padding-top: 0.5vr;
  padding-bottom: @padding-top;

  border-bottom: 1px solid var(--Color_Border);
  color: var(--Color_Dark-1);

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border-bottom: 0;
  }
}

.asi-LinkList_Link {
  align-items: center;

  display: inline-flex;

  color: currentColor;

  transition: color 0.2s;

  &:hover {
    color: var(--Color_Brand-1);
  }

  &[aria-current='true'] {
    color: var(--Color_Brand-1);
  }
}
