/*
|--------------------------------------------------------------------------
| Awards
|--------------------------------------------------------------------------
| @namespace: bld-
|
*/

/*
|--------------------------------------------------------------------------
| Awards
|--------------------------------------------------------------------------
|
*/
.bld-Awards_Items {
  align-items: flex-end;
  justify-content: space-around;

  display: flex;
}
