/*
|--------------------------------------------------------------------------
| Builder
|--------------------------------------------------------------------------
| @namespace: bld-
|
*/
.bld-Builder_Team {
  position: relative;

  display: block;
  height: 720px;
  margin-right: auto;
  margin-left: auto;

  background-image: resolve('ea/pitch-wide.jpg');
  background-position: center;
  background-size: auto 100%;
}

.bld-Builder_Canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 100%;
}

.bld-Builder_PlayersItem {
  /* px is needed for the calc() */
  /* stylelint-disable length-zero-no-unit */
  --PlayerX: 0px;
  --PlayerY: 0px;
  /* stylelint-enable */

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 140px;
  height: 219px;

  background-position: center;
  background-size: 105px 164px;
  cursor: pointer;

  transform: translate(calc(-50% - var(--PlayerX)), calc(-50% - var(--PlayerY)))
    scale(0.8);
  transition: transform 0.5s var(--Transition_EaseOutBack);

  perspective: 1;

  /* This brings our cards in, the class gets removed 500ms after changing formation */
  .bld-Builder-transitioning & {
    /* stylelint-disable */
    --PlayerX: 0px !important;
    --PlayerY: 0px !important;
    /* stylelint-enable */
  }
}

.bld-Builder_PlayersItem-gk {
  --PlayerY: -120%;

  background-image: url('http://www.futwiz.com/assets/img/fifa17/builder/17-gk.png');

  .bld-Builder-41212 &,
  .bld-Builder-41212-2 &,
  .bld-Builder-4141 &,
  .bld-Builder-4411 &,
  .bld-Builder-442 &,
  .bld-Builder-442-2 &,
  .bld-Builder-4222 &,
  .bld-Builder-4231 &,
  .bld-Builder-4231-2 &,
  .bld-Builder-4312 &,
  .bld-Builder-4321 &,
  .bld-Builder-433 &,
  .bld-Builder-433-2 &,
  .bld-Builder-433-3 &,
  .bld-Builder-433-4 &,
  .bld-Builder-433-5 &,
  .bld-Builder-451 &,
  .bld-Builder-451-2 & {
    --PlayerY: -265px;
  }
}

.bld-Builder_PlayersItem-rwb {
  --PlayerX: -360%;
  --PlayerY: -30%;

  background-image: url('http://www.futwiz.com/assets/img/fifa17/builder/17-rwb.png');
}

.bld-Builder_PlayersItem-rb {
  background-image: url('http://www.futwiz.com/assets/img/fifa17/builder/17-rb.png');

  .bld-Builder-41212 &,
  .bld-Builder-41212-2 &,
  .bld-Builder-4141 &,
  .bld-Builder-4411 &,
  .bld-Builder-442 &,
  .bld-Builder-442-2 &,
  .bld-Builder-4222 &,
  .bld-Builder-4231 &,
  .bld-Builder-4231-2 &,
  .bld-Builder-4312 &,
  .bld-Builder-4321 &,
  .bld-Builder-433 &,
  .bld-Builder-433-2 &,
  .bld-Builder-433-3 &,
  .bld-Builder-433-4 &,
  .bld-Builder-433-5 &,
  .bld-Builder-451 &,
  .bld-Builder-451-2 & {
    --PlayerX: -340%;
    --PlayerY: -65%;
  }
}

.bld-Builder_PlayersItem-rcb {
  background-image: url('http://www.futwiz.com/assets/img/fifa17/builder/17-cb.png');

  .bld-Builder-3412 &,
  .bld-Builder-3421 &,
  .bld-Builder-343 &,
  .bld-Builder-352 & {
    --PlayerX: -240%;
    --PlayerY: -55%;
  }

  .bld-Builder-41212 &,
  .bld-Builder-41212-2 &,
  .bld-Builder-4141 &,
  .bld-Builder-4411 &,
  .bld-Builder-442 &,
  .bld-Builder-442-2 &,
  .bld-Builder-4222 &,
  .bld-Builder-4231 &,
  .bld-Builder-4231-2 &,
  .bld-Builder-4312 &,
  .bld-Builder-4321 &,
  .bld-Builder-433 &,
  .bld-Builder-433-2 &,
  .bld-Builder-433-3 &,
  .bld-Builder-433-4 &,
  .bld-Builder-433-5 &,
  .bld-Builder-451 &,
  .bld-Builder-451-2 & {
    --PlayerX: -165%;
    --PlayerY: -80%;
  }

  .bld-Builder-5212 &,
  .bld-Builder-5221 &,
  .bld-Builder-532 & {
    --PlayerX: -200%;
    --PlayerY: -50%;
  }
}

.bld-Builder_PlayersItem-cb {
  background-image: url('http://www.futwiz.com/assets/img/fifa17/builder/17-cb.png');

  .bld-Builder-3412 &,
  .bld-Builder-3421 &,
  .bld-Builder-343 &,
  .bld-Builder-352 & {
    --PlayerY: -35%;
  }

  .bld-Builder-5212 &,
  .bld-Builder-5221 &,
  .bld-Builder-532 & {
    --PlayerY: -35%;
  }
}

.bld-Builder_PlayersItem-lcb {
  background-image: url('http://www.futwiz.com/assets/img/fifa17/builder/17-cb.png');

  .bld-Builder-3412 &,
  .bld-Builder-3421 &,
  .bld-Builder-343 &,
  .bld-Builder-352 & {
    --PlayerX: 240%;
    --PlayerY: -55%;
  }

  .bld-Builder-41212 &,
  .bld-Builder-41212-2 &,
  .bld-Builder-4141 &,
  .bld-Builder-4411 &,
  .bld-Builder-442 &,
  .bld-Builder-442-2 &,
  .bld-Builder-4222 &,
  .bld-Builder-4231 &,
  .bld-Builder-4231-2 &,
  .bld-Builder-4312 &,
  .bld-Builder-4321 &,
  .bld-Builder-433 &,
  .bld-Builder-433-2 &,
  .bld-Builder-433-3 &,
  .bld-Builder-433-4 &,
  .bld-Builder-433-5 &,
  .bld-Builder-451 &,
  .bld-Builder-451-2 & {
    --PlayerX: 165%;
    --PlayerY: -80%;
  }

  .bld-Builder-5212 &,
  .bld-Builder-5221 &,
  .bld-Builder-532 & {
    --PlayerX: 200%;
    --PlayerY: -50%;
  }
}

.bld-Builder_PlayersItem-lb {
  background-image: url('http://www.futwiz.com/assets/img/fifa17/builder/17-lb.png');

  .bld-Builder-41212 &,
  .bld-Builder-41212-2 &,
  .bld-Builder-4141 &,
  .bld-Builder-4411 &,
  .bld-Builder-442 &,
  .bld-Builder-442-2 &,
  .bld-Builder-4222 &,
  .bld-Builder-4231 &,
  .bld-Builder-4231-2 &,
  .bld-Builder-4312 &,
  .bld-Builder-4321 &,
  .bld-Builder-433 &,
  .bld-Builder-433-2 &,
  .bld-Builder-433-3 &,
  .bld-Builder-433-4 &,
  .bld-Builder-433-5 &,
  .bld-Builder-451 &,
  .bld-Builder-451-2 & {
    --PlayerX: 340%;
    --PlayerY: -65%;
  }
}

.bld-Builder_PlayersItem-lwb {
  --PlayerX: 360%;
  --PlayerY: -30%;

  background-image: url('http://www.futwiz.com/assets/img/fifa17/builder/17-lwb.png');
}

.bld-Builder_PlayersItem-rdm {
  background-image: url('http://www.futwiz.com/assets/img/fifa17/builder/17-cdm.png');

  .bld-Builder-352 & {
    --PlayerX: -115%;
    --PlayerY: -10%;
  }

  .bld-Builder-4222 &,
  .bld-Builder-4231 &,
  .bld-Builder-4231-2 & {
    --PlayerX: -125%;
    --PlayerY: 10%;
  }

  .bld-Builder-433-3 & {
    --PlayerX: -200%;
  }

  .bld-Builder-442-2 & {
    --PlayerX: -155%;
    --PlayerY: 10%;
  }
}

.bld-Builder_PlayersItem-cdm {
  background-image: url('http://www.futwiz.com/assets/img/fifa17/builder/17-cdm.png');

  .bld-Builder-41212 &,
  .bld-Builder-41212-2 &,
  .bld-Builder-4141 & {
    --PlayerY: -20%;
  }

  .bld-Builder-433-2 &,
  .bld-Builder-433-5 & {
    --PlayerY: -25%;
  }
}

.bld-Builder_PlayersItem-ldm {
  background-image: url('http://www.futwiz.com/assets/img/fifa17/builder/17-cdm.png');

  .bld-Builder-352 & {
    --PlayerX: 115%;
    --PlayerY: -10%;
  }

  .bld-Builder-4222 &,
  .bld-Builder-4231 &,
  .bld-Builder-4231-2 & {
    --PlayerX: 125%;
    --PlayerY: 5%;
  }

  .bld-Builder-433-3 & {
    --PlayerX: 200%;
  }

  .bld-Builder-442-2 & {
    --PlayerX: 155%;
    --PlayerY: 10%;
  }
}

.bld-Builder_PlayersItem-rm {
  background-image: url('http://www.futwiz.com/assets/img/fifa17/builder/17-rm.png');

  .bld-Builder-3412 &,
  .bld-Builder-3421 &,
  .bld-Builder-343 &,
  .bld-Builder-352 & {
    --PlayerX: -350%;
    --PlayerY: 30%;
  }

  .bld-Builder-41212 & {
    --PlayerX: -270%;
    --PlayerY: 30%;
  }

  .bld-Builder-4141 &,
  .bld-Builder-4411 &,
  .bld-Builder-442 &,
  .bld-Builder-442-2 &,
  .bld-Builder-4231-2 &,
  .bld-Builder-451 &,
  .bld-Builder-451-2 & {
    --PlayerX: -320%;
    --PlayerY: 40%;
  }
}

.bld-Builder_PlayersItem-rw {
  background-image: url('http://www.futwiz.com/assets/img/fifa17/builder/17-rw.png');

  .bld-Builder-343 & {
    --PlayerX: -240%;
    --PlayerY: 110%;
  }

  .bld-Builder-433 &,
  .bld-Builder-433-2 &,
  .bld-Builder-433-3 &,
  .bld-Builder-433-4 &,
  .bld-Builder-433-5 & {
    --PlayerX: -250%;
    --PlayerY: 105%;
  }
}

.bld-Builder_PlayersItem-rf {
  background-image: url('http://www.futwiz.com/assets/img/fifa17/builder/17-rf.png');

  .bld-Builder-3421 & {
    --PlayerX: -170%;
    --PlayerY: 100%;
  }

  .bld-Builder-4321 &,
  .bld-Builder-5221 & {
    --PlayerX: -155%;
    --PlayerY: 100%;
  }
}

.bld-Builder_PlayersItem-rcm {
  background-image: url('http://www.futwiz.com/assets/img/fifa17/builder/17-cm.png');

  .bld-Builder-3412 &,
  .bld-Builder-3421 &,
  .bld-Builder-343 & {
    --PlayerX: -125%;
    --PlayerY: 10%;
  }

  .bld-Builder-41212-2 & {
    --PlayerX: -200%;
    --PlayerY: 20%;
  }

  .bld-Builder-4141 &,
  .bld-Builder-4411 &,
  .bld-Builder-442 & {
    --PlayerX: -155%;
    --PlayerY: 25%;
  }

  .bld-Builder-4312 &,
  .bld-Builder-4321 &,
  .bld-Builder-433 &,
  .bld-Builder-433-2 &,
  .bld-Builder-433-4 &,
  .bld-Builder-433-5 & {
    --PlayerX: -200%;
    --PlayerY: 10%;
  }

  .bld-Builder-451-2 & {
    --PlayerX: -170%;
    --PlayerY: 10%;
  }

  .bld-Builder-5212 &,
  .bld-Builder-5221 & {
    --PlayerX: -130%;
    --PlayerY: 20%;
  }

  .bld-Builder-532 & {
    --PlayerX: -200%;
    --PlayerY: 45%;
  }
}

.bld-Builder_PlayersItem-cm {
  background-image: url('http://www.futwiz.com/assets/img/fifa17/builder/17-cm.png');

  .bld-Builder-4312 &,
  .bld-Builder-4321 & {
    --PlayerY: -15%;
  }

  .bld-Builder-433 &,
  .bld-Builder-433-3 &,
  .bld-Builder-433-4 &,
  .bld-Builder-451 & {
    --PlayerY: -15%;
  }

  .bld-Builder-433-3 & {
    --PlayerY: 40px;
  }

  .bld-Builder-451-2 & {
    --PlayerY: -5%;
  }

  .bld-Builder-532 & {
    --PlayerY: 45%;
  }
}

.bld-Builder_PlayersItem-lcm {
  background-image: url('http://www.futwiz.com/assets/img/fifa17/builder/17-cm.png');

  .bld-Builder-3412 &,
  .bld-Builder-3421 &,
  .bld-Builder-343 & {
    --PlayerX: 125%;
    --PlayerY: 10%;
  }

  .bld-Builder-41212-2 & {
    --PlayerX: 200%;
    --PlayerY: 20%;
  }

  .bld-Builder-4141 &,
  .bld-Builder-4411 &,
  .bld-Builder-442 & {
    --PlayerX: 155%;
    --PlayerY: 25%;
  }

  .bld-Builder-4312 &,
  .bld-Builder-4321 &,
  .bld-Builder-433 &,
  .bld-Builder-433-2 &,
  .bld-Builder-433-4 &,
  .bld-Builder-433-5 & {
    --PlayerX: 200%;
    --PlayerY: 10%;
  }

  .bld-Builder-451-2 & {
    --PlayerX: 170%;
    --PlayerY: 10%;
  }

  .bld-Builder-5212 &,
  .bld-Builder-5221 & {
    --PlayerX: 130%;
    --PlayerY: 20%;
  }

  .bld-Builder-532 & {
    --PlayerX: 200%;
    --PlayerY: 45%;
  }
}

.bld-Builder_PlayersItem-lm {
  background-image: url('http://www.futwiz.com/assets/img/fifa17/builder/17-lm.png');

  .bld-Builder-3412 &,
  .bld-Builder-3421 &,
  .bld-Builder-343 &,
  .bld-Builder-352 & {
    --PlayerX: 350%;
    --PlayerY: 30%;
  }

  .bld-Builder-41212 & {
    --PlayerX: 270%;
    --PlayerY: 30%;
  }

  .bld-Builder-4141 &,
  .bld-Builder-4411 &,
  .bld-Builder-442 &,
  .bld-Builder-442-2 &,
  .bld-Builder-4231-2 &,
  .bld-Builder-451 &,
  .bld-Builder-451-2 & {
    --PlayerX: 320%;
    --PlayerY: 40%;
  }
}

.bld-Builder_PlayersItem-lw {
  background-image: url('http://www.futwiz.com/assets/img/fifa17/builder/17-lw.png');

  .bld-Builder-343 & {
    --PlayerX: 240%;
    --PlayerY: 110%;
  }

  .bld-Builder-433 &,
  .bld-Builder-433-2 &,
  .bld-Builder-433-3 &,
  .bld-Builder-433-4 &,
  .bld-Builder-433-5 & {
    --PlayerX: 250%;
    --PlayerY: 105%;
  }
}

.bld-Builder_PlayersItem-lf {
  background-image: url('http://www.futwiz.com/assets/img/fifa17/builder/17-lf.png');

  .bld-Builder-3421 & {
    --PlayerX: 170%;
    --PlayerY: 100%;
  }

  .bld-Builder-4321 &,
  .bld-Builder-5221 & {
    --PlayerX: 155%;
    --PlayerY: 100%;
  }
}

.bld-Builder_PlayersItem-ram {
  background-image: url('http://www.futwiz.com/assets/img/fifa17/builder/17-cam.png');

  .bld-Builder-4222 &,
  .bld-Builder-4231 & {
    --PlayerX: -245%;
    --PlayerY: 60%;
  }

  .bld-Builder-451 & {
    --PlayerX: -160%;
    --PlayerY: 70%;
  }
}

.bld-Builder_PlayersItem-cam {
  background-image: url('http://www.futwiz.com/assets/img/fifa17/builder/17-cam.png');

  .bld-Builder-3412 &,
  .bld-Builder-352 &,
  .bld-Builder-41212 &,
  .bld-Builder-41212-2 &,
  .bld-Builder-4141 &,
  .bld-Builder-4312 & {
    --PlayerY: 70%;
  }

  .bld-Builder-4231 &,
  .bld-Builder-4231-2 &,
  .bld-Builder-433-4 & {
    --PlayerY: 40%;
  }

  .bld-Builder-5212 & {
    --PlayerY: 60%;
  }
}

.bld-Builder_PlayersItem-lam {
  background-image: url('http://www.futwiz.com/assets/img/fifa17/builder/17-cam.png');

  .bld-Builder-4222 &,
  .bld-Builder-4231 & {
    --PlayerX: 245%;
    --PlayerY: 60%;
  }

  .bld-Builder-451 & {
    --PlayerX: 160%;
    --PlayerY: 70%;
  }
}

.bld-Builder_PlayersItem-cf {
  background-image: url('http://www.futwiz.com/assets/img/fifa17/builder/17-cf.png');

  .bld-Builder-433-5 & {
    --PlayerY: 85%;
  }

  .bld-Builder-4411 & {
    --PlayerY: 45%;
  }
}

.bld-Builder_PlayersItem-st {
  background-image: url('http://www.futwiz.com/assets/img/fifa17/builder/17-st.png');

  .bld-Builder-3421 &,
  .bld-Builder-343 & {
    --PlayerY: 270px;
  }

  .bld-Builder-4141 &,
  .bld-Builder-4411 &,
  .bld-Builder-442 &,
  .bld-Builder-442-2 &,
  .bld-Builder-4231 &,
  .bld-Builder-4231-2 &,
  .bld-Builder-4321 &,
  .bld-Builder-433 &,
  .bld-Builder-433-2 &,
  .bld-Builder-433-3 &,
  .bld-Builder-433-4 &,
  .bld-Builder-451 &,
  .bld-Builder-451-2 & {
    --PlayerY: 270px;
  }

  .bld-Builder-5221 & {
    --PlayerY: 260px;
  }
}

.bld-Builder_PlayersItem-rs {
  background-image: url('http://www.futwiz.com/assets/img/fifa17/builder/17-st.png');

  .bld-Builder-3412 &,
  .bld-Builder-352 &,
  .bld-Builder-41212 &,
  .bld-Builder-41212-2 &,
  .bld-Builder-4312 & {
    --PlayerX: -150%;
    --PlayerY: 120%;
  }

  .bld-Builder-4222 & {
    --PlayerX: -140%;
    --PlayerY: 120%;
  }

  .bld-Builder-442 &,
  .bld-Builder-442-2 & {
    --PlayerX: -140%;
    --PlayerY: 120%;
  }

  .bld-Builder-5212 &,
  .bld-Builder-532 & {
    --PlayerX: -140%;
    --PlayerY: 120%;
  }
}

.bld-Builder_PlayersItem-ls {
  background-image: url('http://www.futwiz.com/assets/img/fifa17/builder/17-st.png');

  .bld-Builder-3412 &,
  .bld-Builder-352 &,
  .bld-Builder-41212 &,
  .bld-Builder-41212-2 &,
  .bld-Builder-4312 & {
    --PlayerX: 150%;
    --PlayerY: 120%;
  }

  .bld-Builder-4222 & {
    --PlayerX: 140%;
    --PlayerY: 120%;
  }

  .bld-Builder-442 &,
  .bld-Builder-442-2 & {
    --PlayerX: 140%;
    --PlayerY: 120%;
  }

  .bld-Builder-5212 &,
  .bld-Builder-532 & {
    --PlayerX: 140%;
    --PlayerY: 120%;
  }
}

.bld-Builder_Player {
  text-align: center;
}

.bld-Builder_PlayerRemove {
  @apply --Font-14;

  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  text-shadow: 1px 1px 1px rgba(#000, 0.2);

  background-color: var(--Color_Green);
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  opacity: 0;

  transform: translateY(-20px);
  transition: opacity 0.2s;

  .bld-Builder_Player:hover & {
    opacity: 1;
  }
}
