/*
|--------------------------------------------------------------------------
| Bench
|--------------------------------------------------------------------------
| @namespace: bld-
|
*/
.bld-ExtraPlayers_Inner {
  @include Grid_Container;
}

.bld-ExtraPlayers_Body {
  flex-wrap: wrap;

  display: flex;
}

.bld-ExtraPlayers_Bench {
  flex: 1 1 auto;
}

.bld-ExtraPlayers_Reserves {
  flex: 1 1 auto;
}

.bld-ExtraPlayers_Title {
  @include Font_B;
}

.bld-ExtraPlayers_Items {
  grid-row-gap: 0.5vr;
  grid-template-columns: repeat(auto-fit, 128px);
  grid-template-rows: repeat(2, 197px);

  display: grid;
}

.bld-ExtraPlayers_Item {
  position: relative;

  &:hover {
    z-index: 1;
  }
}
