/*
|--------------------------------------------------------------------------
| Search
|--------------------------------------------------------------------------
| @namespace: bld-
|
*/
.bld-Search {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba(#000, 0.76);
  opacity: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  visibility: hidden;

  transition: opacity 0.3s, visibility 0.3s;

  &[aria-hidden='false'] {
    opacity: 1;
    visibility: visible;
  }
}

.bld-Search_Inner {
  @include Grid_Container;
}

/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
|
*/
.bld-Search_Header {
  position: relative;

  margin-bottom: 1vr;
}

.bld-Search_Icon {
  position: absolute;
  top: 50%;
  left: 0;

  display: block;
  width: 20px;
  height: @width;

  color: #fff;

  transform: translateY(-50%);

  /* stylelint-disable selector-max-type */
  svg {
    display: block;
    width: inherit;
    height: inherit;
  }
  /* stylelint-enable */
}

.bld-Search_Input {
  display: block;
  width: 100%;
  padding: 0.25vr 0 0.25vr 28px;

  font-size: 16px;
  font-weight: 600;
  line-height: 24px;

  appearance: none;
  border: 0;
  border-bottom: 1px solid var(--Color_Border);
  color: #fff;

  transition: border-color 0.2s;

  &:focus {
    border-bottom-color: var(--Color_Brand-1);
    outline: 0;
  }

  &::placeholder {
    opacity: 1;
  }
}

/*
|--------------------------------------------------------------------------
| Loading
|--------------------------------------------------------------------------
|
*/
.bld-Search_Loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  align-items: center;
  justify-content: center;

  display: none;

  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.bld-Search_Loading-visible {
  display: flex;
}

.bld-Search_LoadingIcon {
  display: block;
  width: 50px;
  height: @width;

  color: #fff;

  /* stylelint-disable selector-max-type */
  svg {
    display: block;
    width: inherit;
    height: inherit;

    .bld-Search_Loading-visible & {
      animation: Loading 1s infinite ease;
    }
  }
  /* stylelint-enable */
}

@keyframes Loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*
|--------------------------------------------------------------------------
| Results
|--------------------------------------------------------------------------
|
*/
.bld-Search_Results {
  display: flex;
}

.bld-Search_Items {
  flex: 1;
}

.bld-Search_Prev {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  padding: 0;

  color: #fff;
  cursor: pointer;

  &[disabled] {
    cursor: not-allowed;
  }

  /* stylelint-disable selector-max-type */
  svg {
    width: 40px;
    height: @width;
  }
  /* stylelint-enable */
}

.bld-Search_Prev-hidden {
  display: none;
}

.bld-Search_Next {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  padding: 0;

  color: #fff;
  cursor: pointer;

  &[disabled] {
    cursor: not-allowed;
  }

  /* stylelint-disable selector-max-type */
  svg {
    width: 40px;
    height: @width;
  }
  /* stylelint-enable */
}

.bld-Search_Next-hidden {
  display: none;
}
