/*
|--------------------------------------------------------------------------
| Stats
|--------------------------------------------------------------------------
| @namespace: bld-
|
*/
.bld-Stats_Items {
  grid-row-gap: 10px;
  grid-template-columns: repeat(3, 1fr);

  display: grid;
}

.bld-Stats_Item {
  justify-content: space-between;

  display: flex;
  padding-right: var(--Grid_Gutter);
  padding-left: @padding-right;

  &:nth-child(-n + 3) {
    padding-bottom: 10px;

    border-bottom: 1px solid var(--Color_Border);
  }

  &:nth-child(3n) {
    padding-right: 0;
  }

  &:nth-child(3n-2) {
    padding-left: 0;
  }
}

.bld-Stats_Label {
  display: inline-block;
  margin-right: 10px;

  font-weight: 600;
}

.bld-Stats_Value {
  @include Font_C;

  font-weight: 600;

  color: var(--RatingColor);
}

.bld-Stats_Value-great {
  --RatingColor: var(--Color_Great);
}
.bld-Stats_Value-good {
  --RatingColor: var(--Color_Good);
}
.bld-Stats_Value-average {
  --RatingColor: var(--Color_Average);
}
.bld-Stats_Value-fair {
  --RatingColor: var(--Color_Fair);
}
.bld-Stats_Value-poor {
  --RatingColor: var(--Color_Poor);
}
