{% extends "base.html" %}
{% import "players/macros/players.html" as player_macros %}

{% block content_above %}
  <div class="pg-Strapline">
    <div class="pg-Strapline_Inner">
      <div class="pg-Strapline_Body">
        <div class="pg-Strapline_Content">
          <h1 class="pg-Strapline_Title">Fifa {{ settings.CURRENT_FIFA_VERSION }} {{ pages.current }}</h1>
          <p class="pg-Strapline_Text">{{ object }}</p>
        </div>

        <div class="pg-Strapline_Advert">
          <img alt="" src="http://placehold.it/728x90">
        </div>
      </div>
    </div>
  </div>

  <div class="pg-Breadcrumbs">
    <div class="pg-Breadcrumbs_Inner">
      <div class="pg-Breadcrumbs_Body">
        <nav class="bdc-Breadcrumb">
          <div class="bdc-Breadcrumb_Items"
               itemscope=""
               itemtype="http://schema.org/BreadcrumbList">
            <div class="bdc-Breadcrumb_Item"
                 itemprop="itemListElement"
                 itemscope=""
                 itemtype="http://schema.org/ListItem">
              <a itemprop="item" class="bdc-Breadcrumb_Link" href="/">
                <span itemprop="name">
                  Home
                </span>
                <meta itemprop="position" content="1">
              </a>
            </div>

            <div class="bdc-Breadcrumb_Divider">
              {% include 'angle-down.svg' %}
            </div>

            <div class="bdc-Breadcrumb_Item"
                 itemprop="itemListElement"
                 itemscope=""
                 itemtype="http://schema.org/ListItem">
              <a itemprop="item"
                 class="bdc-Breadcrumb_Link"
                 href="{{ pages.current.get_absolute_url() }}">
                <span itemprop="name">
                  {{ pages.current }}
                </span>
                <meta itemprop="position" content="2">
              </a>
            </div>

            <div class="bdc-Breadcrumb_Divider">
              {% include 'angle-down.svg' %}
            </div>

            <div class="bdc-Item"
                 itemprop="itemListElement"
                 itemscope=""
                 itemtype="http://schema.org/ListItem">
              <span itemprop="name">
                {{ object }}
              </span>
              <meta itemprop="position" content="3">
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
{% endblock %}

{% block main %}
  <div class="pck-Detail">
    <div class="pck-Detail_Players">
      {{ player_macros.card_list(players) }}
    </div>

    <footer class="pck-Detail_Footer">
      <div class="pck-Detail_Form">
        {% if request.user.is_authenticated %}
          <form action="{{ object.get_absolute_url() }}" class="frm-Form" method="POST">
            <input type="hidden" name="page" value="{{ pages.current.pk }}">
            <input type="hidden" name="user" value="{{ request.user.pk }}">
            <input type="hidden" name="type" value="{{ object.pk }}">
            <input type="hidden" name="value" value="0">

            {% for player in players %}
              <input type="hidden" name="players" value="{{ player.pk }}">
            {% endfor %}

            <div class="frm-Form_Items frm-Form_Items-tight">
              <div class="frm-Form_Item frm-Form_Item-full frm-Form_Item-floatingLabel js-FloatingLabel">
                <label class="frm-Form_Label js-FloatingLabel_Label" for="title">
                  Squad Name:
                </label>

                <input type="text"
                       class="frm-Form_Input js-FloatingLabel_Input"
                       placeholder="Pack name"
                       name="title"
                       id="title" />
              </div>
            </div>

            <div class="frm-Form_Actions">
              <button type="submit" class="frm-Form_Submit btn-Primary">submit</button>
            </div>
          </form>
        {% endif %}
      </div>
    </footer>
  </div>
{% endblock %}

{% block aside %}
  <div class="asi-Blocks">
    <div class="asi-Block">
      <img alt="" src="http://placehold.it/300x250">
    </div>
  </div>
{% endblock %}
