{% extends "base.html" %}
{% import "players/macros/players.html" as player_macros %}

{% block content_above %}
  <div class="pg-Strapline">
    <div class="pg-Strapline_Inner">
      <div class="pg-Strapline_Body">
        <div class="pg-Strapline_Content">
          <h1 class="pg-Strapline_Title">Fifa 17 {{ pages.current }}</h1>
          <p class="pg-Strapline_Text">{{ object }}</p>
        </div>

        <div class="pg-Strapline_Advert">
          <img alt="" src="http://placehold.it/728x90">
        </div>
      </div>
    </div>
  </div>

  <div class="pg-Breadcrumbs">
    <div class="pg-Breadcrumbs_Inner">
      <div class="pg-Breadcrumbs_Body">
        <nav class="bdc-Breadcrumb">
          <div class="bdc-Breadcrumb_Items"
               itemscope=""
               itemtype="http://schema.org/BreadcrumbList">
            <div class="bdc-Breadcrumb_Item"
                 itemprop="itemListElement"
                 itemscope=""
                 itemtype="http://schema.org/ListItem">
              <a itemprop="item" class="bdc-Breadcrumb_Link" href="/">
                <span itemprop="name">
                  Home
                </span>
                <meta itemprop="position" content="1">
              </a>
            </div>

            <div class="bdc-Breadcrumb_Divider">
              {% include 'angle-down.svg' %}
            </div>

            <div class="bdc-Breadcrumb_Item"
                 itemprop="itemListElement"
                 itemscope=""
                 itemtype="http://schema.org/ListItem">
              <a itemprop="item"
                 class="bdc-Breadcrumb_Link"
                 href="{{ pages.current.get_absolute_url() }}">
                <span itemprop="name">
                  {{ pages.current }}
                </span>
                <meta itemprop="position" content="2">
              </a>
            </div>

            <div class="bdc-Breadcrumb_Divider">
              {% include 'angle-down.svg' %}
            </div>

            <div class="bdc-Item"
                 itemprop="itemListElement"
                 itemscope=""
                 itemtype="http://schema.org/ListItem">
              <span itemprop="name">
                {{ object }}
              </span>
              <meta itemprop="position" content="3">
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
{% endblock %}

{% block main %}
  {{ player_macros.card_list(players) }}

  {% if request.user.is_authenticated %}
    <form action="{{ type.get_absolute_url() }}" method="POST">
      <input name="title" placeholder="title">
      <input type="hidden" name="page" value="{{ pages.current.pk }}">
      <input type="hidden" name="user" value="{{ request.user.pk }}">
      <input type="hidden" name="type" value="{{ type.pk }}">
      <input type="hidden" name="value" value="0">

      {% for player in players %}
        <input type="hidden" name="players" value="{{ player.pk }}">
      {% endfor %}

      <button>submit</button>
    </form>
  {% endif %}
{% endblock %}

{% block aside %}
  <div class="asi-Blocks">
    <div class="asi-Block">
      <img alt="" src="http://placehold.it/300x250">
    </div>
  </div>
{% endblock %}
