/*
|--------------------------------------------------------------------------
| Layout
|--------------------------------------------------------------------------
| Global layouts, normally used for layout out the main & aside + other
| recurring layouts
|
| @namespace: lyt-
|
*/
.lyt-Site {
  /* Prefer to use the actual term for it (iOS) */
  /* stylelint-disable selector-class-pattern */
  .is-iOS.nav-IsOpen & {
    position: fixed;

    overflow: hidden;
  }
  /* stylelint-enable */
}

.lyt-Content-mainAside {
  margin-top: 2vr;
  margin-bottom: @margin-top;
}

.lyt-Content_Inner {
  .lyt-Content-mainAside & {
    @apply --GridContainer;
  }
}

/*
|--------------------------------------------------------------------------
| Content
|--------------------------------------------------------------------------
|
*/
.lyt-Content_Body {
  .lyt-Content-mainAside & {
    @apply --GridRow;
  }
}

/*
|--------------------------------------------------------------------------
| Main
|--------------------------------------------------------------------------
|
*/
.lyt-Main {
  .lyt-Content-mainAside & {
    @apply --GridColumn;

    flex: 1;
  }

  .lyt-Content-mainTight & {
    flex-basis: calc(7 / 12 * 100%);
    flex-grow: 0;

    margin-right: auto;
    margin-left: auto;
  }
}

/*
|--------------------------------------------------------------------------
| Aside
|--------------------------------------------------------------------------
|
*/
.lyt-Aside {
  .lyt-Content-mainAside & {
    @apply --GridColumn;

    flex-shrink: 0;

    width: 300px;
  }

  .lyt-Content-asideSwap & {
    order: -1;
  }
}
