/*
|--------------------------------------------------------------------------
| Layout
|--------------------------------------------------------------------------
| Global layouts, normally used for layout out the main & aside + other
| recurring layouts
|
| @namespace: lyt-
|
*/
.lyt-Site {
  /* Prefer to use the actual term for it (iOS) */
  /* stylelint-disable selector-class-pattern */
  .is-iOS.nav-IsOpen & {
    position: fixed;

    overflow: hidden;
  }
  /* stylelint-enable */
}

.lyt-Content-full {
  margin-top: 2vr;
  margin-bottom: @margin-top;

  .pg-Breadcrumbs + & {
    margin-top: 0.75vr;
  }
}

.lyt-Content-mainAside {
  margin-top: 2vr;
  margin-bottom: @margin-top;

  .pg-Breadcrumbs + & {
    margin-top: 0.75vr;
  }
}

.lyt-Content-wide {
  padding-top: 2vr;
  padding-bottom: @padding-top;

  .pg-Breadcrumbs + & {
    margin-top: 0.75vr;
  }
}

.lyt-Content-grey {
  background-color: var(--Color_Grey-light);
}

.lyt-Content_Inner {
  .lyt-Content-wide & {
    @include Grid_Container;
  }

  .lyt-Content-mainAside & {
    @include Grid_Container;
  }
}

/*
|--------------------------------------------------------------------------
| Content
|--------------------------------------------------------------------------
|
*/
.lyt-Content_Body {
  .lyt-Content-mainAside & {
    grid-column-gap: calc(var(--Grid_Gutter) * 2);
    grid-template-columns: 1fr 300px;

    display: grid;
  }

  .lyt-Content-asideSwap & {
    grid-template-columns: 300px 1fr;
  }

  .lyt-Content-mainTight & {
    grid-column-gap: 0;
    grid-template-columns: 1fr calc(7 / 12 * 100%) 1fr;
  }
}

/*
|--------------------------------------------------------------------------
| Main
|--------------------------------------------------------------------------
|
*/
.lyt-Main {
  .lyt-Content-mainTight & {
    grid-column: 2;
  }
}

/*
|--------------------------------------------------------------------------
| Aside
|--------------------------------------------------------------------------
|
*/
.lyt-Aside {
  .lyt-Content-mainAside & {
    width: 300px;
  }

  .lyt-Content-asideSwap & {
    order: -1;
  }
}
