{% extends "layouts/ea-object-detail.html" %}
{% import "macros/adverts.html" as adverts %}
{% import "macros/page.html" as page %}
{% set title = '{} | Top rated {} players and ratings in FIFA {} Ultimate Team'.format(object, object, settings.CURRENT_FIFA_VERSION) %}
{% set description = 'Find all of the FIFA {} players and stats from {}'.format(settings.CURRENT_FIFA_VERSION, object) %}

{% block meta_description %}{{ description }}{% endblock %}

{% block og_description %}{{ description }}{% endblock %}
{% block og_image %}{{ get_absolute_domain_url() }}{{ static('ea-images/{}/{}.png'.format(object._meta.app_label, object.ea_id)) }}{% endblock %}

{% block twitter_description %}{{ description }}{% endblock %}
{% block twitter_image %}{{ get_absolute_domain_url() }}{{ static('ea-images/{}/{}.png'.format(object._meta.app_label, object.ea_id)) }}{% endblock %}

{% block strapline_image %}<img class="pg-Strapline_Image"
                                alt=""
                                src="{{ static('ea-images/clubs/{}.png'.format(club.ea_id)) }}">{% endblock %}

{% block strapline_title %}{{ object }}{% endblock %}
{% block strapline_text %}Highest rated FIFA {{ settings.CURRENT_FIFA_VERSION }} {{ object }} players{% endblock %}

{% block main %}
  <div class="plyr-CardBlock">
    <header class="plyr-CardBlock_Header">
      <h2 class="plyr-CardBlock_Title">Attackers</h2>
    </header>

    <div class="plyr-CardBlock_Body">
      {{ player_macros.card_list(club.attackers()) }}
    </div>
  </div>

  <div class="plyr-CardBlock">
    <header class="plyr-CardBlock_Header">
      <h2 class="plyr-CardBlock_Title">Midfielders</h2>
    </header>

    <div class="plyr-CardBlock_Body">
      {{ player_macros.card_list(club.midfielders()) }}
    </div>
  </div>

  <div class="plyr-CardBlock">
    <header class="plyr-CardBlock_Header">
      <h2 class="plyr-CardBlock_Title">Defenders</h2>
    </header>

    <div class="plyr-CardBlock_Body">
      {{ player_macros.card_list(club.defenders()) }}
    </div>
  </div>

  <div class="plyr-CardBlock">
    <header class="plyr-CardBlock_Header">
      <h2 class="plyr-CardBlock_Title">Goalkeepers</h2>
    </header>

    <div class="plyr-CardBlock_Body">
      {{ player_macros.card_list(club.goalkeepers()) }}
    </div>
  </div>
{% endblock %}

{% block aside_key_values_above %}
  <li class="asi-KeyValues_Item">
    <p class="asi-KeyValues_Key">League</p>
    <p class="asi-KeyValues_Value">
      <a href="{{ object.league.get_absolute_url() }}">
        {{ object.league }}
        <img src="{{ static('ea-images/leagues/{}.png'.format(object.league.ea_id)) }}" height="24">
      </a>
    </p>
  </li>
{% endblock %}
