/*
|--------------------------------------------------------------------------
| Object row
|--------------------------------------------------------------------------
| @namespace: ea-
|
*/

/*
|--------------------------------------------------------------------------
| Image
|--------------------------------------------------------------------------
|
*/
.ea-ObjectRow_Image {
  align-self: flex-start;
}

/*
|--------------------------------------------------------------------------
| Cell
|--------------------------------------------------------------------------
|
*/
.ea-ObjectRow_Cell {
  position: relative;

  width: 100%;
}

.ea-ObjectRow_CellTitle {
  @include Font_Tiny;

  position: absolute;
  top: calc(50% + 7px);
  left: 50%;

  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;

  opacity: 0;
  visibility: hidden;

  transform: translateX(-50%);

  .ea-ObjectsTable_Row:hover & {
    opacity: 1;
    visibility: visible;
  }
}

/*
|--------------------------------------------------------------------------
| Actions
|--------------------------------------------------------------------------
|
*/
.ea-ObjectRow_Actions {
  justify-content: center;

  display: flex;

  opacity: 0;

  .ea-ObjectsTable_Row:hover & {
    opacity: 1;
  }
}

.ea-ObjectRow_Action {
  margin-right: 8px;

  font-size: 15px;
  font-weight: 600;
  line-height: 20px;

  &:last-child {
    margin-right: 0;
  }
}
