/*
|--------------------------------------------------------------------------
| Article item
|--------------------------------------------------------------------------
| @namespace: art-
|
*/

/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
|
*/
.art-ArticleItem_Header {
  margin-bottom: 2vr;
}

/*
|--------------------------------------------------------------------------
| Body
|--------------------------------------------------------------------------
|
*/
.art-ArticleItem_Title {
  margin-bottom: 1vr;

  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
}

.art-ArticleItem_TitleLink {
  color: var(--Color_Dark-1);

  transition: color 0.2s;

  &:hover {
    color: var(--Color_Anchor);
  }
}

/*
|--------------------------------------------------------------------------
| Meta
|--------------------------------------------------------------------------
|
*/
.art-ArticleItem_Meta {
  margin-bottom: 1vr;
  padding-bottom: @margin-bottom;

  font-size: 14px;
  line-height: 20px;

  border-bottom: 1px solid var(--Color_Border);
  color: var(--Color_Dark-2);
}

.art-ArticleItem_MetaItems {
  flex-wrap: wrap;

  display: flex;
}

.art-ArticleItem_MetaItem {
  margin-right: var(--Grid_Gutter);

  &:last-child {
    margin-right: 0;
  }
}

/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
|
*/
.art-ArticleItem_Footer {
  margin-top: 3vr;
}
