<nav class="nav-Navigation">
  <ul class="nav-Navigation_Items">
    {% for entry in navigation %}
      <li class="nav-Navigation_Item{% if entry.children %} nav-Navigation_Item-hasDropdown{% endif %}"
          aria-current="{% if entry.here %}true{% else %}false{% endif %}">
        <a class="nav-Navigation_Link" href="{{ entry.url }}">
          {{ entry.page }}

          {% if entry.children %}
            <span class="nav-Navigation_DropdownIndicator"></span>
          {% endif %}
        </a>

        {% if entry.children %}
          <ul class="nav-Navigation_Dropdown">
            {% for sub_entry in entry.children %}
              {% if not sub_entry.url %}
                <li class="nav-Navigation_DropdownItem nav-Navigation_DropdownItem-separator">
                  {{ sub_entry.title }}
                </li>
              {% else %}
                <li class="nav-Navigation_DropdownItem">
                  <a class="nav-Navigation_DropdownLink"
                     href="{{ sub_entry.url }}">
                    {{ sub_entry.title }}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>
