{% macro card_list(players, card_collection=False, sorts=None, tight=False) %}
  <div class="plyr-CardList">
    <ul class="plyr-CardList_Items{% if tight %} plyr-CardList_Items-tight{% endif %}">
      {% for player in players %}
        <li class="plyr-CardList_Item{% if sorts or caller %} plyr-CardList_Item-stacked{% endif %}">
          {{ player.render_card(faded=card_collection) }}

          {% if sorts and sorts.current %}
            <p class="plyr-CardList_Text">
              {{ sorts.label }}: {{ player[sorts.current] }}
            </p>
          {% endif %}

          {% if caller %}
            {{ caller(player) }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endmacro %}

{% macro small_card_list(players) %}
  <div class="plyr-SmallCardList">
    <ul class="plyr-SmallCardList_Items">
      {% for player in players %}
        <li class="plyr-SmallCardList_Item">
          {{ player.render_card(size='small') }}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endmacro %}
