{% macro player_search(class, js_class, placeholder, extra) %}
  <div class="{{ class }} {{ js_class }}" tabindex="0" {% if extra %}{% for attr, value in extra.items() %}{{ attr }}={{ value }}{% endfor %}{% endif %}>
    <input type="search"
           class="{{ class }}_Input {{ js_class }}_Input"
           placeholder="{{ placeholder }}">
    <span class="{{ class }}_Icon">
      {% include 'search.svg' %}
    </span>

    <ul class="{{ js_class }}_Results plyr-SearchResults" aria-hidden="true" tabindex="-1"></ul>
  </div>
{% endmacro %}
