<{{ el }} class="plyr-Card plyr-Card-{{ size }} plyr-Card-{{ player.color if not color else color }}{% if faded %} plyr-Card-faded{% endif %}"
   {% if el == 'a' %}href="{{ player.get_absolute_url() }}"{% endif %}
   data-card-data="{{ player.card_json_data }}">
  <header class="plyr-Card_Header">
    <div class="plyr-Card_Meta">
      <span class="plyr-Card_Rating">{{ player.rating }}</span>
      <span class="plyr-Card_Position">{{ player.position }}</span>
      <img alt=""
           src="{{ static('ea-images/clubs/{}.png'.format(player.club.ea_id)) }}"
           class="plyr-Card_Club">
      <img alt=""
           src="{{ static('ea-images/nations/{}.png'.format(player.nation.ea_id)) }}"
           class="plyr-Card_Nation">
    </div>

    <img alt=""
         src="{{ static('ea-images/players/{}.png'.format(player.ea_id)) }}"
         class="plyr-Card_Image">
  </header>

  <div class="plyr-Card_Body">
    <p class="plyr-Card_Name">{{ player.name }}</p>

    <div class="plyr-Card_Extra">
      <p class="plyr-Card_Workrates">{{ player.work_rate_att[0] }} / {{ player.work_rate_def[0] }}</p>
      <p class="plyr-Card_Stars">{{ player.skill_moves }}* SM</p>
      <p class="plyr-Card_Stars">{{ player.weak_foot }}* WF</p>
    </div>

    <div class="plyr-Card_Stats">
      {% for key, value in player.card_stats %}
        <div class="plyr-Card_Stat plyr-Card_Stat-{{ loop.index }}{% if rpp %} js-RPP_Base js-RPP_Base-card{% endif %}"
             {% if rpp %}data-rpp-field="cardAtt{{ loop.index }}"{% endif %}>
          {% if rpp %}
            <span class="plyr-Card_Difference js-RPP_CardDifference"></span>
          {% endif %}
          <span class="plyr-Card_StatValue{% if rpp %} js-RPP_CardValue{% endif %}">{{ value }}</span>
          <span class="plyr-Card_StatKey">{{ key }}</span>
        </div>
      {% endfor %}
    </div>
  </div>

  {% if chemistry != None %}
    <footer class="plyr-Card_Footer">
      <p class="plyr-Card_Chem">
        Chem: <span class="plyr-Card_ChemValue">{{ chemistry }}</span>
      </p>
    </footer>
  {% endif %}
</{{ el }}>
