{% extends "base.html" %}
{% import "players/macros/filters.html" as filters_macros with context %}
{% import "players/macros/players.html" as player_macros %}

{% block content_above %}
  <div class="pg-Strapline">
    <div class="pg-Strapline_Inner">
      <div class="pg-Strapline_Body">
        <div class="pg-Strapline_ImageContainer">
          <img class="pg-Strapline_Image"
               alt=""
               src="{{ static('ea-images/{}/{}.png'.format(object._meta.app_label, object.ea_id)) }}">
        </div>

        <div class="pg-Strapline_Content">
          <h1 class="pg-Strapline_Title">{{ object }}</h1>
          <p class="pg-Strapline_Text">Highest rated Fifa 17 {{ object }} players</p>
        </div>

        <div class="pg-Strapline_Advert">
          <img alt="" src="http://placehold.it/728x90">
        </div>
      </div>
    </div>
  </div>

  <div class="pg-Breadcrumbs">
    <div class="pg-Breadcrumbs_Inner">
      <div class="pg-Breadcrumbs_Body">
        <nav class="bdc-Breadcrumb">
          <div class="bdc-Breadcrumb_Items"
               itemscope=""
               itemtype="http://schema.org/BreadcrumbList">
            <div class="bdc-Breadcrumb_Item"
                 itemprop="itemListElement"
                 itemscope=""
                 itemtype="http://schema.org/ListItem">
              <a itemprop="item" class="bdc-Breadcrumb_Link" href="/">
                <span itemprop="name">
                  Home
                </span>
                <meta itemprop="position" content="1">
              </a>
            </div>

            <div class="bdc-Breadcrumb_Divider">
              {% include 'angle-down.svg' %}
            </div>

            <div class="bdc-Breadcrumb_Item"
                 itemprop="itemListElement"
                 itemscope=""
                 itemtype="http://schema.org/ListItem">
              <a itemprop="item"
                 class="bdc-Breadcrumb_Link"
                 href="{{ pages.current.get_absolute_url() }}">
                <span itemprop="name">
                  {{ object._meta.app_label | capitalize() }}
                </span>
                <meta itemprop="position" content="2">
              </a>
            </div>

            <div class="bdc-Breadcrumb_Divider">
              {% include 'angle-down.svg' %}
            </div>

            <div class="bdc-Item"
                 itemprop="itemListElement"
                 itemscope=""
                 itemtype="http://schema.org/ListItem">
              <span itemprop="name">
                {{ object }}
              </span>
              <meta itemprop="position" content="3">
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
{% endblock %}

{% block main %}
  {{ filters_macros.filters(filters) }}

  {{ player_macros.card_list(players) }}

  {{ render_pagination(players) }}
{% endblock %}

{% block aside %}
  <div class="asi-Blocks">
    <div class="asi-Block">
      <img alt="" src="http://placehold.it/300x250">
    </div>

    {% block aside_blocks_above %}{% endblock %}

    <div class="asi-Block">
      <h4 class="asi-Block_Title">{{ object }} Summary</h4>

      <ul class="asi-KeyValues">
        {% block aside_key_values_above %}{% endblock %}

        <li class="asi-KeyValues_Item">
          <p class="asi-KeyValues_Key">Average rating</p>
          <p class="asi-KeyValues_Value">{{ object.average_rating }}</p>
        </li>

        <li class="asi-KeyValues_Item">
          <p class="asi-KeyValues_Key">Total players</p>
          <p class="asi-KeyValues_Value">{{ object.total_players }}</p>
        </li>

        <li class="asi-KeyValues_Item">
          <p class="asi-KeyValues_Key">Total special</p>
          <p class="asi-KeyValues_Value">{{ object.total_special }}</p>
        </li>

        <li class="asi-KeyValues_Item">
          <p class="asi-KeyValues_Key">Total TOTW</p>
          <p class="asi-KeyValues_Value">{{ object.total_totw }}</p>
        </li>

        <li class="asi-KeyValues_Item">
          <p class="asi-KeyValues_Key">Total legends</p>
          <p class="asi-KeyValues_Value">{{ object.total_legends }}</p>
        </li>

        <li class="asi-KeyValues_Item">
          <p class="asi-KeyValues_Key">Total gold</p>
          <p class="asi-KeyValues_Value">{{ object.total_gold }}</p>
        </li>

        <li class="asi-KeyValues_Item">
          <p class="asi-KeyValues_Key">Total silver</p>
          <p class="asi-KeyValues_Value">{{ object.total_silver }}</p>
        </li>

        <li class="asi-KeyValues_Item">
          <p class="asi-KeyValues_Key">Total bronze</p>
          <p class="asi-KeyValues_Value">{{ object.total_bronze }}</p>
        </li>
      </ul>
    </div>

    {% block aside_blocks %}{% endblock %}
  </div>
{% endblock %}
