{% extends "base.html" %}
{% import "comments/macros/comments.html" as comments with context %}
{% import "macros/share.html" as share with context %}
{% import "players/macros/players.html" as player_macros %}

{% block og_title %}{% endblock %}
{% block og_image %}{% endblock %}
{% block twitter_title %}{% endblock %}
{% block twitter_image %}{% endblock %}

{% block content_above %}
  <div class="pg-Strapline">
    <div class="pg-Strapline_Inner">
      <div class="pg-Strapline_Body">
        <div class="pg-Strapline_Content">
          <h1 class="pg-Strapline_Title">{{ player.first_name }} {{ player.last_name }}</h1>
          <p class="pg-Strapline_Text">{{ player.player_type | capitalize() }}</p>
        </div>

        <div class="pg-Strapline_Advert">
          <img alt="" src="http://placehold.it/728x90">
        </div>
      </div>
    </div>
  </div>

  {% block above_breadcrumbs %}{% endblock %}

  {% block breadcrumbs %}
    <div class="pg-Breadcrumbs">
      <div class="pg-Breadcrumbs_Inner">
        <div class="pg-Breadcrumbs_Body">
          <nav class="bdc-Breadcrumb">
            <div class="bdc-Breadcrumb_Items"
                 itemscope=""
                 itemtype="http://schema.org/BreadcrumbList">
              <div class="bdc-Breadcrumb_Item"
                   itemprop="itemListElement"
                   itemscope=""
                   itemtype="http://schema.org/ListItem">
                <a itemprop="item" class="bdc-Breadcrumb_Link" href="/">
                  <span itemprop="name">
                    Home
                  </span>
                  <meta itemprop="position" content="1">
                </a>
              </div>

              <div class="bdc-Breadcrumb_Divider">
                {% include 'angle-down.svg' %}
              </div>

              <div class="bdc-Breadcrumb_Item"
                   itemprop="itemListElement"
                   itemscope=""
                   itemtype="http://schema.org/ListItem">
                <a itemprop="item"
                   class="bdc-Breadcrumb_Link"
                   href="{{ pages.current.get_absolute_url() }}">
                  <span itemprop="name">
                    {{ object._meta.app_label | capitalize() }}
                  </span>
                  <meta itemprop="position" content="2">
                </a>
              </div>

              <div class="bdc-Breadcrumb_Divider">
                {% include 'angle-down.svg' %}
              </div>

              <div class="bdc-Breadcrumb_Item"
                   itemprop="itemListElement"
                   itemscope=""
                   itemtype="http://schema.org/ListItem">
                <span itemprop="name">
                  {{ object }}
                </span>
                <meta itemprop="position" content="3">
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  {% endblock %}
{% endblock %}

{% block main %}
  <article class="plyr-Detail">
    <div class="plyr-Detail_Share">
      {{ share.share_bar(player.name) }}
    </div>

    {% if self.header() %}
      <header class="plyr-Detail_Header">
        {% block header %}{% endblock %}
      </header>
    {% endif %}

    <nav class="plyr-Detail_Navigation">
      <ul class="plyr-Detail_NavigationItems">
        <li class="plyr-Detail_NavigationItem"
            aria-current="{{ 'true' if request.path == player.get_absolute_url() else 'false' }}">
          <a class="plyr-Detail_NavigationLink" href="{{ player.get_absolute_url() }}">Stats</a>
        </li>

        <li class="plyr-Detail_NavigationItem"
            aria-current="{{ 'true' if request.path == player.get_similar_absolute_url() else 'false' }}">
          <a class="plyr-Detail_NavigationLink"
             href="{{ player.get_similar_absolute_url() }}">
            Similar players
          </a>
        </li>

        <li class="plyr-Detail_NavigationItem"
            aria-current="{{ 'true' if request.path.startswith(player.get_chemistry_absolute_url()) else 'false' }}">
          <a class="plyr-Detail_NavigationLink"
             href="{{ player.get_chemistry_absolute_url() }}">
            Chemistry
          </a>
        </li>

        <li class="plyr-Detail_NavigationItem"
            aria-current="{{ 'true' if request.path.startswith(player.get_compare_absolute_url()) else 'false' }}">
          <a class="plyr-Detail_NavigationLink"
             href="{{ player.get_compare_absolute_url() }}">
            Compare
          </a>
        </li>
      </ul>
    </nav>

    <div class="plyr-Detail_Body">
      {% block body %}{% endblock %}
    </div>
  </article>
{% endblock %}

{% block aside %}
  <div class="asi-Blocks asi-Blocks-noSticky">
    <div class="asi-Block">
      <img alt="" src="http://placehold.it/300x250">
    </div>

    <div class="asi-Block">
      <h4 class="asi-Block_Title">{{ object }} Rating</h4>

      <div class="asi-Block_Split">
        <div class="asi-Ratings js-ObjectRating"
             data-url="{{ player.get_absolute_url() }}"
             data-user="{{ user.id }}"
             data-object="{{ player.id }}">
          <button class="asi-Ratings_Control asi-Ratings_Control-up js-ObjectRating_Control"
                  data-action="up">
            <span class="asi-Ratings_Text">Up</span>
            <span class="asi-Ratings_Icon">{% include 'like.svg' %}</span>
          </button>
          <p class="asi-Ratings_Value js-ObjectRating_Value">{{ player.likes }}</p>
          <button class="asi-Ratings_Control asi-Ratings_Control-down js-ObjectRating_Control"
                  data-action="down">
            <span class="asi-Ratings_Text">Down</span>
            <span class="asi-Ratings_Icon">{% include 'dislike.svg' %}</span>
          </button>
        </div>

        {% if user.is_authenticated() %}
          <a class="asi-Block_Link btn-Primary"
             href="{{ player.get_favourite_absolute_url() }}"
             aria-current="{{ 'true' if player in user.favouriteplayers.players.all() else 'false' }}">
            Favourite
          </a>
        {% endif %}
      </div>
    </div>

    <div class="asi-Block">
      <h4 class="asi-Block_Title">{{ object }} Summary</h4>

      <ul class="asi-KeyValues">
        <li class="asi-KeyValues_Item">
          <p class="asi-KeyValues_Key">Club</p>
          <a class="asi-KeyValues_Value" href="{{ player.club.get_absolute_url() }}">
            {{ player.club }}
            <img src="{{ static('ea-images/clubs/{}.png'.format(player.club.ea_id)) }}"
                 width="24">
          </a>
        </li>

        <li class="asi-KeyValues_Item">
          <p class="asi-KeyValues_Key">League</p>
          <a class="asi-KeyValues_Value" href="{{ player.league.get_absolute_url() }}">
            {{ player.league }}
            <img src="{{ static('ea-images/leagues/{}.png'.format(player.league.ea_id)) }}"
                 width="24">
          </a>
        </li>

        <li class="asi-KeyValues_Item">
          <p class="asi-KeyValues_Key">Nation</p>
          <a class="asi-KeyValues_Value" href="{{ player.nation.get_absolute_url() }}">
            {{ player.nation }}
            <img src="{{ static('ea-images/nations/{}.png'.format(player.nation.ea_id)) }}"
                 width="24">
          </a>
        </li>

        <li class="asi-KeyValues_Item">
          <p class="asi-KeyValues_Key">Age</p>
          <p class="asi-KeyValues_Value">{{ player.age }}</p>
        </li>

        {% if player.source %}
          <li class="asi-KeyValues_Item">
            <p class="asi-KeyValues_Key">Source</p>
            <a class="asi-KeyValues_Value" href="{{ player.get_source_squad().get_absolute_url() }}">
              {{ player.source }}
            </a>
          </li>
        {% endif %}

        <li class="asi-KeyValues_Item">
          <p class="asi-KeyValues_Key">Height</p>
          <p class="asi-KeyValues_Value">{{ player.height }}cm</p>
        </li>
      </ul>
    </div>

    {% if request.path != player.get_absolute_url() %}
      <div class="asi-Block">
        {{ player.render_card('large') }}
      </div>
    {% endif %}

    {% block aside_blocks %}{% endblock %}
  </div>
{% endblock %}

{% block content_below %}
  {{ comments.comments() }}
{% endblock %}
