{% extends "base.html" %}
{% import "players/macros/players.html" as player_macros %}

{% block og_title %}{% endblock %}
{% block og_image %}{% endblock %}
{% block twitter_title %}{% endblock %}
{% block twitter_image %}{% endblock %}

{% block content_above %}
  <div class="pg-Strapline">
    <div class="pg-Strapline_Inner">
      <div class="pg-Strapline_Body">
        <div class="pg-Strapline_Content">
          <h1 class="pg-Strapline_Title">{{ player.first_name }} {{ player.last_name }}</h1>
          <p class="pg-Strapline_Text">{{ player.player_type | capitalize() }}</p>
        </div>

        <div class="pg-Strapline_Advert">
          <img alt="" src="http://placehold.it/728x90">
        </div>
      </div>
    </div>
  </div>

  {% block breadcrumbs %}
    <div class="pg-Breadcrumbs">
      <div class="pg-Breadcrumbs_Inner">
        <div class="pg-Breadcrumbs_Body">
          <nav class="bdc-Breadcrumb">
            <div class="bdc-Breadcrumb_Items"
                 itemscope=""
                 itemtype="http://schema.org/BreadcrumbList">
              <div class="bdc-Breadcrumb_Item"
                   itemprop="itemListElement"
                   itemscope=""
                   itemtype="http://schema.org/ListItem">
                <a itemprop="item" class="bdc-Breadcrumb_Link" href="/">
                  <span itemprop="name">
                    Home
                  </span>
                  <meta itemprop="position" content="1">
                </a>
              </div>

              <div class="bdc-Breadcrumb_Divider">
                {% include 'angle-down.svg' %}
              </div>

              <div class="bdc-Breadcrumb_Item"
                   itemprop="itemListElement"
                   itemscope=""
                   itemtype="http://schema.org/ListItem">
                <a itemprop="item"
                   class="bdc-Breadcrumb_Link"
                   href="{{ pages.current.get_absolute_url() }}">
                  <span itemprop="name">
                    {{ object._meta.app_label | capitalize() }}
                  </span>
                  <meta itemprop="position" content="2">
                </a>
              </div>

              <div class="bdc-Breadcrumb_Divider">
                {% include 'angle-down.svg' %}
              </div>

              <div class="bdc-Item"
                   itemprop="itemListElement"
                   itemscope=""
                   itemtype="http://schema.org/ListItem">
                <span itemprop="name">
                  {{ object }}
                </span>
                <meta itemprop="position" content="3">
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  {% endblock %}
{% endblock %}

{% block main %}
  <article class="plyr-Detail">
    <div class="plyr-Detail_Share">
      <div class="shr-Bar">
        <ul class="shr-Bar_Items">
          <li class="shr-Bar_Item shr-Bar_Item-twitter">
            <a class="shr-Bar_Share" href="#">
              {% include "twitter.svg" %}

              <span class="shr-Bar_ShareText">Share {{ player.name }} on Twitter</span>
            </a>
          </li>

          <li class="shr-Bar_Item shr-Bar_Item-facebook">
            <a class="shr-Bar_Share" href="#">
              {% include "facebook.svg" %}

              <span class="shr-Bar_ShareText">Share {{ player.name }} on Facebook</span>
            </a>
          </li>

          <li class="shr-Bar_Item shr-Bar_Item-link"></li>
        </ul>
      </div>
    </div>

    <header class="plyr-Detail_Header">
      <div class="plyr-Detail_Cards">
        <div class="plyr-CardSelector">
          <div class="plyr-CardSelector_VariantsContainer">
            <button class="plyr-CardSelector_Action plyr-CardSelector_Action-up"
                    type="button">
              {% include "angle-down.svg" %}
            </button>

            <div class="plyr-CardSelector_Variants">
              {% for variant in player.get_variants() %}
                <a class="plyr-CardSelector_Variant plyr-CardSelector_Variant-{{ variant.color }}"
                   data-card-data="{{ variant.card_json_data }}"
                   href="{{ variant.get_absolute_url() }}"></a>
              {% endfor %}
            </div>

            <button class="plyr-CardSelector_Action plyr-CardSelector_Action-down"
                    type="button">
              {% include "angle-down.svg" %}
            </button>
          </div>

          <div class="plyr-CardSelector_Card">
            {{ player.render_card('lg') }}
          </div>
        </div>
      </div>

      <div class="plyr-Detail_HeaderContent">
        <h2 class="plyr-Detail_HeaderTitle">{{ player.name }}</h2>
        <p class="plyr-Detail_Type">{{ player.player_type | capitalize() }}</p>

        <div class="plyr-Detail_Ratings">
          <div class="plyr-FutilyRatings">
            <h3 class="plyr-FutilyRatings_Title">Fifa Ratings</h3>

            <ul class="plyr-FutilyRatings_Items">
              {% for key, stat in player.card_stats_full %}
                <li class="plyr-FutilyRatings_Item plyr-FutilyRatings_Item-{{ loop.cycle(1, 4, 2, 5, 3, 6) }}">
                  <p class="plyr-FutilyRatings_Key">{{ key }}:</p>
                  <p class="plyr-FutilyRatings_Value">
                    <span class="plyr-FutilyRatings_ValueDifference"></span>
                    {{ stat }}
                  </p>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="plyr-Detail_Ratings">
          <div class="plyr-FutilyRatings">
            <h3 class="plyr-FutilyRatings_Title">Futily Ratings</h3>

            <ul class="plyr-FutilyRatings_Items">
              <li class="plyr-FutilyRatings_Item">
                <p class="plyr-FutilyRatings_Key">Key:</p>
                <p class="plyr-FutilyRatings_Value">1234</p>
              </li>

              <li class="plyr-FutilyRatings_Item">
                <p class="plyr-FutilyRatings_Key">Key:</p>
                <p class="plyr-FutilyRatings_Value">1234</p>
              </li>

              <li class="plyr-FutilyRatings_Item">
                <p class="plyr-FutilyRatings_Key">Key:</p>
                <p class="plyr-FutilyRatings_Value">1234</p>
              </li>

              <li class="plyr-FutilyRatings_Item">
                <p class="plyr-FutilyRatings_Key">Key:</p>
                <p class="plyr-FutilyRatings_Value">1234</p>
              </li>

              <li class="plyr-FutilyRatings_Item">
                <p class="plyr-FutilyRatings_Key">Total stats:</p>
                <p class="plyr-FutilyRatings_Value">{{ player.total_stats }}</p>
              </li>

              <li class="plyr-FutilyRatings_Item">
                <p class="plyr-FutilyRatings_Key">Total IGS:</p>
                <p class="plyr-FutilyRatings_Value">{{ player.total_ingame_stats }}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <nav class="plyr-Detail_Navigation">
      <ul class="plyr-Detail_NavigationItems">
        <li class="plyr-Detail_NavigationItem" aria-current="{{ 'true' if request.path == player.get_absolute_url() else 'false' }}">
          <a class="plyr-Detail_NavigationLink" href="{{ player.get_absolute_url() }}">Stats</a>
        </li>

        <li class="plyr-Detail_NavigationItem" aria-current="{{ 'true' if request.path == player.get_similar_absolute_url() else 'false' }}">
          <a class="plyr-Detail_NavigationLink"
             href="{{ player.get_similar_absolute_url() }}">
            Similar players
          </a>
        </li>

        <li class="plyr-Detail_NavigationItem" aria-current="{{ 'true' if request.path.startswith(player.get_chemistry_absolute_url()) else 'false' }}">
          <a class="plyr-Detail_NavigationLink"
             href="{{ player.get_chemistry_absolute_url() }}">
            Chemistry
          </a>
        </li>

        <li class="plyr-Detail_NavigationItem" aria-current="false">
          <a class="plyr-Detail_NavigationLink"
             href="#">
            Compare
          </a>
        </li>
      </ul>
    </nav>

    <div class="plyr-Detail_Body">
      {% block body %}{% endblock %}
    </div>
  </article>
{% endblock %}

{% block aside %}
  <div class="asi-Blocks">
    <div class="asi-Block">
      <img alt="" src="http://placehold.it/300x250">
    </div>

    <div class="asi-Block">
      <h4 class="asi-Block_Title">{{ object }} Summary</h4>

      <ul class="asi-KeyValues">
        <li class="asi-KeyValues_Item">
          <p class="asi-KeyValues_Key">Club</p>
          <a class="asi-KeyValues_Value" href="{{ player.club.get_absolute_url() }}">
            {{ player.club }}
          </a>
        </li>

        <li class="asi-KeyValues_Item">
          <p class="asi-KeyValues_Key">League</p>
          <a class="asi-KeyValues_Value" href="{{ player.league.get_absolute_url() }}">
            {{ player.league }}
          </a>
        </li>

        <li class="asi-KeyValues_Item">
          <p class="asi-KeyValues_Key">Nation</p>
          <a class="asi-KeyValues_Value" href="{{ player.nation.get_absolute_url() }}">
            {{ player.nation }}
          </a>
        </li>

        <li class="asi-KeyValues_Item">
          <p class="asi-KeyValues_Key">Age</p>
          <p class="asi-KeyValues_Value">{{ player.age }}</p>
        </li>

        <li class="asi-KeyValues_Item">
          <p class="asi-KeyValues_Key">Source</p>
          <p class="asi-KeyValues_Value">{{ player.source }}</p>
        </li>

        <li class="asi-KeyValues_Item">
          <p class="asi-KeyValues_Key">Height</p>
          <p class="asi-KeyValues_Value">{{ player.height }}cm</p>
        </li>
      </ul>
    </div>

    {% block aside_blocks %}{% endblock %}
  </div>
{% endblock %}
