{% extends "base.html" %}
{% import "players/macros/players.html" as player_macros %}

{% block content_class %}{% endblock %}

{% block strapline_title %}FIFA {{ settings.CURRENT_FIFA_VERSION }} Player Database{% endblock %}
{% block strapline_text %}Top FIFA {{ settings.CURRENT_FIFA_VERSION }} players{% endblock %}

{% block main %}
  <div class="plyr-CardList">
    <h2 class="typ-Title-medium">Large</h2>
    <ul class="plyr-CardList_Items plyr-CardList_Items-large">
      {% for player in players %}
        <li class="plyr-CardList_Item{% if sorts or caller %} plyr-CardList_Item-stacked{% endif %}">
          {{ player.render_card(size='large', color=colors[loop.index0]) }}
        </li>
      {% endfor %}
    </ul>

    <h2 class="typ-Title-medium">Medium</h2>
    <ul class="plyr-CardList_Items">
      {% for player in players %}
        <li class="plyr-CardList_Item{% if sorts or caller %} plyr-CardList_Item-stacked{% endif %}">
          {{ player.render_card(color=colors[loop.index0]) }}
        </li>
      {% endfor %}
    </ul>

    <h2 class="typ-Title-medium">Small</h2>
    <ul class="plyr-CardList_Items">
      {% for player in players %}
        <li class="plyr-CardList_Item{% if sorts or caller %} plyr-CardList_Item-stacked{% endif %}">
          {{ player.render_card(size='small', color=colors[loop.index0]) }}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
