{% extends "players/_base.html" %}

{% block header %}
  <div class="plyr-Detail_Cards">
    <div class="plyr-CardSelector">
      <div class="plyr-CardSelector_VariantsContainer">
        <button class="plyr-CardSelector_Action plyr-CardSelector_Action-up"
                type="button">
          {% include "angle-down.svg" %}
        </button>

        <div class="plyr-CardSelector_Variants">
          {% for variant in player.get_variants() %}
            <a class="plyr-CardSelector_Variant plyr-CardSelector_Variant-{{ variant.color }}"
               data-card-data="{{ variant.card_json_data }}"
               href="{{ variant.get_absolute_url() }}"></a>
          {% endfor %}
        </div>

        <button class="plyr-CardSelector_Action plyr-CardSelector_Action-down"
                type="button">
          {% include "angle-down.svg" %}
        </button>
      </div>

      <div class="plyr-CardSelector_Card">
        {{ player.render_card('lg') }}
      </div>
    </div>
  </div>

  <div class="plyr-Detail_HeaderContent">
    <h2 class="plyr-Detail_HeaderTitle">{{ player.name }}</h2>
    <p class="plyr-Detail_Type">{{ player.player_type | capitalize() }}</p>

    <div class="plyr-Detail_Ratings">
      <div class="plyr-FutilyRatings">
        <h3 class="plyr-FutilyRatings_Title">Fifa Ratings</h3>

        <ul class="plyr-FutilyRatings_Items">
          {% for key, stat in player.card_stats_full %}
            <li class="plyr-FutilyRatings_Item plyr-FutilyRatings_Item-{{ loop.cycle(1, 4, 2, 5, 3, 6) }}">
              <p class="plyr-FutilyRatings_Key">{{ key }}:</p>
              <p class="plyr-FutilyRatings_Value">
                <span class="plyr-FutilyRatings_ValueDifference"></span>
                {{ stat }}
              </p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="plyr-Detail_Ratings">
      <div class="plyr-FutilyRatings">
        <h3 class="plyr-FutilyRatings_Title">Futily Ratings</h3>

        <ul class="plyr-FutilyRatings_Items">
          <li class="plyr-FutilyRatings_Item">
            <p class="plyr-FutilyRatings_Key">Key:</p>
            <p class="plyr-FutilyRatings_Value">1234</p>
          </li>

          <li class="plyr-FutilyRatings_Item">
            <p class="plyr-FutilyRatings_Key">Key:</p>
            <p class="plyr-FutilyRatings_Value">1234</p>
          </li>

          <li class="plyr-FutilyRatings_Item">
            <p class="plyr-FutilyRatings_Key">Key:</p>
            <p class="plyr-FutilyRatings_Value">1234</p>
          </li>

          <li class="plyr-FutilyRatings_Item">
            <p class="plyr-FutilyRatings_Key">Key:</p>
            <p class="plyr-FutilyRatings_Value">1234</p>
          </li>

          <li class="plyr-FutilyRatings_Item">
            <p class="plyr-FutilyRatings_Key">Total stats:</p>
            <p class="plyr-FutilyRatings_Value">{{ player.total_stats }}</p>
          </li>

          <li class="plyr-FutilyRatings_Item">
            <p class="plyr-FutilyRatings_Key">Total IGS:</p>
            <p class="plyr-FutilyRatings_Value">{{ player.total_ingame_stats }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

{% block body %}
  <div class="plyr-Detail_Section">
    <header class="plyr-Detail_SectionHeader">
      <h3 class="plyr-Detail_Title">
        <strong class="plyr-Detail_Emphasis">Ingame</strong> stats
      </h3>
    </header>

    <div class="plyr-Detail_SectionBody">
      <div class="plyr-IngameStats">
        <div class="plyr-IngameStats_Items">
          {% set instance = player.__class__ %}
          {% for group in player.ingame_stat_groups() %}
            {% set group_value = getattr(player, group.field) %}
            <div class="plyr-IngameStats_Item">
              <div class="plyr-StatGroup">
                <header class="plyr-StatGroup_Header">
                  <h4 class="plyr-StatGroup_Title">{{ group.label.title() }}</h4>
                  <p class="plyr-StatGroup_GroupValue plyr-StatGroup_GroupValue-{{ stat_grade(group_value) }}">{{ group_value }}</p>

                  <svg class="plyr-StatGroup_Bar">
                    <rect class="plyr-StatGroup_BarOverlay plyr-StatGroup_BarOverlay-{{ stat_grade(group_value) }}"
                          height="100%"
                          width="{{ group_value }}%"></rect>
                  </svg>
                </header>

                <div class="plyr-StatGroup_Body">
                  <ul class="plyr-StatGroup_Items">
                    {% for item in group['items'] %}
                      {% set value = getattr(player, item) %}
                      <li class="plyr-StatGroup_Item">
                        <p class="plyr-StatGroup_Key">{{ instance._meta.get_field(item).verbose_name.title() }}</p>
                        <p class="plyr-StatGroup_Value plyr-StatGroup_Value-{{ stat_grade(value) }}">{{ value }}</p>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="plyr-Detail_Section">
    <header class="plyr-Detail_SectionHeader">
      <h3 class="plyr-Detail_Title">
        <strong class="plyr-Detail_Emphasis">Ingame</strong> information
      </h3>
    </header>

    <div class="plyr-Detail_SectionBody">
      <div class="plyr-Information">
        <div class="plyr-Information_Columns">
          <div class="plyr-Information_Column">
            <h4 class="plyr-Information_Title">Traits</h4>

            <ul class="plyr-Information_Items">
              {% for trait in player.traits %}
                <li class="plyr-Information_Item">
                  {{ trait }}
                </li>
              {% endfor %}
            </ul>
          </div>

          <div class="plyr-Information_Column">
            <h4 class="plyr-Information_Title">Specialties</h4>

            <ul class="plyr-Information_Items">
              {% for specialty in player.specialities %}
                <li class="plyr-Information_Item">
                  {{ specialty }}
                </li>
              {% endfor %}
            </ul>
          </div>

          <div class="plyr-Information_Column">
            <h4 class="plyr-Information_Title">Characteristics</h4>

            <ul class="plyr-Information_Items">
              <li class="plyr-Information_Item">
                <p class="plyr-Information_Key">Foot</p>
                <p class="plyr-Information_Value">{{ player.foot }}</p>
              </li>

              <li class="plyr-Information_Item">
                <p class="plyr-Information_Key">Attack Workrate</p>
                <p class="plyr-Information_Value">{{ player.work_rate_att }}</p>
              </li>

              <li class="plyr-Information_Item">
                <p class="plyr-Information_Key">Defensive Workrate</p>
                <p class="plyr-Information_Value">{{ player.work_rate_def }}</p>
              </li>

              <li class="plyr-Information_Item">
                <p class="plyr-Information_Key">Weak Foot</p>
                <p class="plyr-Information_Value">{{ player.weak_foot }}
                  <span class="plyr-Information_Icon">{% include "star.svg" %}</span>
                </p>
              </li>

              <li class="plyr-Information_Item">
                <p class="plyr-Information_Key">Skill Moves</p>
                <p class="plyr-Information_Value">{{ player.skill_moves }}
                  <span class="plyr-Information_Icon">{% include "star.svg" %}</span>
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="plyr-Detail_Section">
    <header class="plyr-Detail_SectionHeader">
      <h3 class="plyr-Detail_Title">
        <strong class="plyr-Detail_Emphasis">Similar</strong> players
      </h3>

      <a class="plyr-Detail_Link"
         href="{{ player.get_similar_absolute_url() }}">View all similar players
      </a>
    </header>

    <div class="plyr-Detail_SectionBody">
      {% if player.get_initial_similar_players() %}
        {{ player_macros.card_list(player.get_initial_similar_players()) }}
      {% else %}
        <p>There are no similar players to {{ player.name }}, he's just that unique!</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
