{% extends "base.html" %}
{% import "macros/adverts.html" as adverts %}
{% import "players/macros/filters.html" as filters_macros with context %}
{% import "players/macros/players.html" as player_macros %}
{% set title = 'FIFA {} perfect chemistry players'.format(settings.CURRENT_FIFA_VERSION) %}
{% set description = 'Find FIFA {} Ultimate Team perfect chemistry players. Check their prices, stats and perfect links'.format(settings.CURRENT_FIFA_VERSION) %}

{% block meta_description %}{{ description }}{% endblock %}
{% block og_description %}{{ description }}{% endblock %}
{% block twitter_description %}{{ description }}{% endblock %}

{% block strapline_title %}FIFA {{ settings.CURRENT_FIFA_VERSION }} Perfect chemistry{% endblock %}
{% block strapline_text %}Top FIFA {{ settings.CURRENT_FIFA_VERSION }} players with perfect chemistry{% endblock %}

{% block main %}
  {{ filters_macros.filters(filters, sorts) }}

  <div class="plyr-PerfectChem">
    <ul class="plyr-PerfectChem_Items">
      {% for player in players %}
        <li class="plyr-PerfectChem_Item">
          <div class="plyr-PerfectItem">
            <div class="plyr-PerfectItem_Player">
              {{ player.render_card() }}
            </div>

            <div class="plyr-PerfectItem_Options">
              {{ player_macros.card_list(player.get_chemistry_players()['perfect'], tight=True) }}
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>

  {{ render_pagination(players) }}
{% endblock %}

{% block aside %}
  <div class="asi-Blocks">
    <div class="asi-Block">
      {{ adverts.aside() }}
    </div>
  </div>
{% endblock %}
