{% extends "players/_base.html" %}
{% import "players/macros/players.html" as player_macros %}

{% block breadcrumbs %}
  <div class="pg-Breadcrumbs">
    <div class="pg-Breadcrumbs_Inner">
      <div class="pg-Breadcrumbs_Body">
        <nav class="bdc-Breadcrumb">
          <div class="bdc-Breadcrumb_Items"
               itemscope=""
               itemtype="http://schema.org/BreadcrumbList">
            <div class="bdc-Breadcrumb_Item"
                 itemprop="itemListElement"
                 itemscope=""
                 itemtype="http://schema.org/ListItem">
              <a itemprop="item" class="bdc-Breadcrumb_Link" href="/">
                <span itemprop="name">
                  Home
                </span>
                <meta itemprop="position" content="1">
              </a>
            </div>

            <div class="bdc-Breadcrumb_Divider">
              {% include 'angle-down.svg' %}
            </div>

            <div class="bdc-Breadcrumb_Item"
                 itemprop="itemListElement"
                 itemscope=""
                 itemtype="http://schema.org/ListItem">
              <a itemprop="item"
                 class="bdc-Breadcrumb_Link"
                 href="{{ pages.current.get_absolute_url() }}">
                <span itemprop="name">
                  {{ object._meta.app_label | capitalize() }}
                </span>
                <meta itemprop="position" content="2">
              </a>
            </div>

            <div class="bdc-Breadcrumb_Divider">
              {% include 'angle-down.svg' %}
            </div>

            <div class="bdc-Item"
                 itemprop="itemListElement"
                 itemscope=""
                 itemtype="http://schema.org/ListItem">
              <a itemprop="item"
                 class="bdc-Breadcrumb_Link"
                 href="{{ player.get_absolute_url() }}">
                <span itemprop="name">
                  {{ object }}
                </span>
                <meta itemprop="position" content="3">
              </a>
            </div>

            <div class="bdc-Breadcrumb_Divider">
              {% include 'angle-down.svg' %}
            </div>

            <div class="bdc-Item"
                 itemprop="itemListElement"
                 itemscope=""
                 itemtype="http://schema.org/ListItem">
              <a itemprop="item"
                 class="bdc-Breadcrumb_Link"
                 href="{{ player.get_chemistry_absolute_url() }}">
                <span itemprop="name">
                  Chemistry
                </span>
                <meta itemprop="position" content="4">
              </a>
            </div>

            <div class="bdc-Breadcrumb_Divider">
              {% include 'angle-down.svg' %}
            </div>

            <div class="bdc-Item"
                 itemprop="itemListElement"
                 itemscope=""
                 itemtype="http://schema.org/ListItem">
              <span itemprop="name">
                {{ view.kwargs.chem_type | title() }}
              </span>
              <meta itemprop="position" content="5">
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
{% endblock %}

{% block body %}
  <div class="plyr-Detail_Section">
    <header class="plyr-Detail_SectionHeader">
      <h3 class="plyr-Detail_Title">
        <strong class="plyr-Detail_Emphasis">{{ view.kwargs.chem_type | title() }}</strong> players

        <span class="plyr-Detail_TitleSmall">{{ players.paginator.count }} players</span>
      </h3>
    </header>

    <div class="plyr-Detail_SectionBody">
      {{ player_macros.card_list(players) }}

      {{ render_pagination(players) }}
    </div>
  </div>
{% endblock %}
