{% extends "players/_base.html" %}
{% import "macros/page.html" as page with context %}
{% import "players/macros/filters.html" as filters_macros with context %}
{% import "players/macros/players.html" as player_macros %}

{% block strapline_text %}Similar players{% endblock %}

{% block body %}
  {{ filters_macros.filters(filters, sorts) }}

  <div class="plyr-Detail_Section">
    <header class="plyr-Detail_SectionHeader">
      <h3 class="plyr-Detail_Title">
        <strong class="plyr-Detail_Emphasis">Similar</strong> players

        <span class="plyr-Detail_TitleSmall">{{ players.paginator.count }} players</span>
      </h3>
    </header>

    <div class="plyr-Detail_SectionBody">
      {{ player_macros.card_list(players, sorts=sorts) }}

      {{ render_pagination(players) }}
    </div>
  </div>
{% endblock %}
