{% extends "players/_base.html" %}

{% block body %}
  <div class="plyr-Detail_Section">
    <header class="plyr-Detail_SectionHeader">
      <h3 class="plyr-Detail_Title">
        <strong class="plyr-Detail_Emphasis">Ingame</strong> stats
      </h3>
    </header>

    <div class="plyr-Detail_SectionBody">
      <div class="plyr-IngameStats">
        <div class="plyr-IngameStats_Items">
          {% set instance = player.__class__ %}
          {% for group in player.ingame_stat_groups() %}
            {% set group_value = getattr(player, group.field) %}
            <div class="plyr-IngameStats_Item">
              <div class="plyr-StatGroup">
                <header class="plyr-StatGroup_Header plyr-StatGroup_Header-{{ stat_grade(group_value) }}">
                  <h4 class="plyr-StatGroup_Title">{{ group.label.title() }}</h4>
                  <p class="plyr-StatGroup_GroupValue">{{ group_value }}</p>

                  <svg class="plyr-StatGroup_Bar">
                    <rect class="plyr-StatGroup_BarOverlay"
                          height="100%"
                          width="{{ group_value }}%"></rect>
                  </svg>
                </header>

                <div class="plyr-StatGroup_Body">
                  <ul class="plyr-StatGroup_Items">
                    {% for item in group['items'] %}
                      {% set value = getattr(player, item) %}
                      <li class="plyr-StatGroup_Item plyr-StatGroup_Item-{{ stat_grade(value) }}">
                        <p class="plyr-StatGroup_Key">{{ instance._meta.get_field(item).verbose_name.title() }}</p>
                        <p class="plyr-StatGroup_Value">{{ value }}</p>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="plyr-Detail_Section">
    <header class="plyr-Detail_SectionHeader">
      <h3 class="plyr-Detail_Title">
        <strong class="plyr-Detail_Emphasis">Ingame</strong> information
      </h3>
    </header>

    <div class="plyr-Detail_SectionBody">
      <div class="plyr-Information">
        <div class="plyr-Information_Columns">
          <div class="plyr-Information_Column">
            <h4 class="plyr-Information_Title">Traits</h4>

            <ul class="plyr-Information_Items">
              {% for trait in player.traits %}
                <li class="plyr-Information_Item">
                  {{ trait }}
                </li>
              {% endfor %}
            </ul>
          </div>

          <div class="plyr-Information_Column">
            <h4 class="plyr-Information_Title">Specialties</h4>

            <ul class="plyr-Information_Items">
              {% for specialty in player.specialities %}
                <li class="plyr-Information_Item">
                  {{ specialty }}
                </li>
              {% endfor %}
            </ul>
          </div>

          <div class="plyr-Information_Column">
            <h4 class="plyr-Information_Title">Characteristics</h4>

            <ul class="plyr-Information_Items">
              <li class="plyr-Information_Item">
                <p class="plyr-Information_Key">Foot</p>
                <p class="plyr-Information_Value">{{ player.foot }}</p>
              </li>

              <li class="plyr-Information_Item">
                <p class="plyr-Information_Key">Attack Workrate</p>
                <p class="plyr-Information_Value">{{ player.work_rate_att }}</p>
              </li>

              <li class="plyr-Information_Item">
                <p class="plyr-Information_Key">Defensive Workrate</p>
                <p class="plyr-Information_Value">{{ player.work_rate_def }}</p>
              </li>

              <li class="plyr-Information_Item">
                <p class="plyr-Information_Key">Weak Foot</p>
                <p class="plyr-Information_Value">{{ player.weak_foot }}
                  <span class="plyr-Information_Icon">{% include "star.svg" %}</span>
                </p>
              </li>

              <li class="plyr-Information_Item">
                <p class="plyr-Information_Key">Skill Moves</p>
                <p class="plyr-Information_Value">{{ player.skill_moves }}
                  <span class="plyr-Information_Icon">{% include "star.svg" %}</span>
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="plyr-Detail_Section">
    <header class="plyr-Detail_SectionHeader">
      <h3 class="plyr-Detail_Title">
        <strong class="plyr-Detail_Emphasis">Similar</strong> players
      </h3>

      <a class="plyr-Detail_Link"
         href="{{ player.get_similar_absolute_url() }}">View all similar players
      </a>
    </header>

    <div class="plyr-Detail_SectionBody">
      {{ player_macros.card_list(player.get_initial_similar_players()) }}
    </div>
  </div>
{% endblock %}
