{% extends "base.html" %}
{% import "macros/adverts.html" as adverts %}
{% import "players/macros/filters.html" as filters_macros with context %}
{% import "players/macros/players.html" as player_macros %}
{% set title = 'Latest FIFA {} players'.format(settings.CURRENT_FIFA_VERSION) %}
{% set description = 'Find the latest FIFA {} Ultimate Team players. Check their prices and stats'.format(settings.CURRENT_FIFA_VERSION) %}

{% block meta_description %}{{ description }}{% endblock %}
{% block og_description %}{{ description }}{% endblock %}
{% block twitter_description %}{{ description }}{% endblock %}

{% block strapline_title %}FIFA {{ settings.CURRENT_FIFA_VERSION }} Player Database{% endblock %}
{% block strapline_text %}Top FIFA {{ settings.CURRENT_FIFA_VERSION }} players{% endblock %}

{% block aside %}
  <div class="asi-Blocks">
    <div class="asi-Block">
      {{ adverts.aside() }}
    </div>
  </div>
{% endblock %}

{% block main %}
  {{ filters_macros.filters(filters) }}

  {{ player_macros.card_list(players) }}

  {{ render_pagination(players) }}
{% endblock %}
