{% extends "base.html" %}
{% import "players/macros/filters.html" as filters_macros with context %}
{% import "players/macros/players.html" as player_macros %}

{% block content_above %}
  <div class="pg-Strapline">
    <div class="pg-Strapline_Inner">
      <div class="pg-Strapline_Body">
        <div class="pg-Strapline_Content">
          <h1 class="pg-Strapline_Title">Fifa 17 Perfect chemistry</h1>
          <p class="pg-Strapline_Text">Top Fifa 17 players with perfect chemistry</p>
        </div>

        <div class="pg-Strapline_Advert">
          <img alt="" src="http://placehold.it/728x90">
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block main %}
  {{ filters_macros.filters(filters, sorts) }}

  <div class="plyr-PerfectChem">
    <ul class="plyr-PerfectChem_Items">
      {% for player in players %}
        <li class="plyr-PerfectChem_Item">
          <div class="plyr-PerfectItem">
            <div class="plyr-PerfectItem_Player">
              {{ player.render_card() }}
            </div>

            <div class="plyr-PerfectItem_Seperator"></div>

            <div class="plyr-PerfectItem_Options">
              {{ player_macros.card_list(player.get_chemistry_players()['perfect'], tight=True) }}
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>

  {{ render_pagination(players) }}
{% endblock %}

{% block aside %}
  <div class="asi-Blocks">
    <div class="asi-Block">
      <img alt="" src="http://placehold.it/300x250">
    </div>
  </div>
{% endblock %}
