{% extends "base.html" %}
{% import "players/macros/filters.html" as filters_macros with context %}
{% import "players/macros/players.html" as player_macros %}

{% block strapline_title %}Fifa {{ settings.CURRENT_FIFA_VERSION }} Player Database{% endblock %}
{% block strapline_text %}Top Fifa {{ settings.CURRENT_FIFA_VERSION }} players{% endblock %}

{% block aside %}
  <div class="asi-Blocks">
    <div class="asi-Block">
      <img alt="" src="http://placehold.it/300x250">
    </div>
  </div>
{% endblock %}

{% block main %}
  {{ filters_macros.filters(filters) }}

  {{ player_macros.card_list(players) }}

  {{ render_pagination(players) }}
{% endblock %}
