{% extends "layouts/ea-object-detail.html" %}

{% block aside_blocks_class %}asi-Blocks-noSticky{% endblock %}

{% block aside_blocks %}
  <div class="asi-Block">
    <h4 class="asi-Block_Title">{{ object }} Leagues</h4>

    <div class="asi-Clubs">
      <ul class="asi-Clubs_Items">
        {% for league in nation.league_set.order_by('ea_id') %}
          <li class="asi-Clubs_Item">
            <a href="{{ league.get_absolute_url() }}" class="asi-Club">
              <img class="asi-Club_Image"
                   src="{{ static('ea-images/leagues/{}.png'.format(league.ea_id)) }}">
              <h4 class="asi-Club_Title typ-Title-small">{{ league }}</h4>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
