/*
|--------------------------------------------------------------------------
| Comments
|--------------------------------------------------------------------------
| @namespace: cmm-
|
*/
.cmm-Comments_Inner {
  @include Grid_Container;
}

/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
|
*/
.cmm-Comments_Header {
  margin-bottom: 1vr;
}

/*
|--------------------------------------------------------------------------
| Items
|--------------------------------------------------------------------------
|
*/
.cmm-Comments_Items {
  grid-gap: 0.5vr;

  display: grid;
}

.cmm-Comments_Item-odd {
  background-color: #fff;
}

.cmm-Comments_Item-even {
  background-color: rgb(247, 247, 248);
}
