/*
|--------------------------------------------------------------------------
| Item
|--------------------------------------------------------------------------
| @namespace: cmm-
|
*/
.cmm-Item {
  padding: 0.5vr var(--Grid_Gutter);

  border: 1px solid var(--Color_Border);
  border-radius: 4px;

  &:hover {
    border-color: var(--Color_Brand-1);
  }
}

.cmm-Item_Children {
  margin-top: 0.5vr;
}
