{% extends "base.html" %}

{% block content_class %}lyt-Content-full{% endblock %}

{% block content_above %}
  <div class="pg-Strapline">
    <div class="pg-Strapline_Inner">
      <div class="pg-Strapline_Body">
        <div class="pg-Strapline_Content">
          <h1 class="pg-Strapline_Title">{{ object }}</h1>
          <p class="pg-Strapline_Text">{% block content_above_text %}Profile{% endblock %}</p>
        </div>

        <div class="pg-Strapline_Advert">
          <img alt="" src="http://placehold.it/728x90">
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block main %}
  <div class="nav-Side">
    <aside class="nav-Side_Aside">
      <div class="asi-Blocks">
        <div class="asi-Block">
          <img alt="" src="http://placehold.it/300x250">
        </div>
      </div>

      <nav class="nav-Side_Items">
        {% for link in side_nav %}
          <a class="nav-Side_Item"
             href="{{ link.url }}"
             aria-current="{{ link.current }}">{{ link.label }}</a>
        {% endfor %}

        {% if object == request.user %}
          <a class="nav-Side_Item"
             href="{{ object.get_settings_url() }}"
             aria-current="{{ 'true' if object.get_settings_url() == request.path else 'false' }}">Settings
          </a>

          <a class="nav-Side_Item"
             href="{{ object.get_password_change_url() }}"
             aria-current="{{ 'true' if object.get_password_change_url() == request.path else 'false' }}">
            Change password
          </a>
        {% endif %}
      </nav>

      <div class="asi-Blocks">
        <div class="asi-Block">
          <h3 class="typ-Title typ-Title-small">{{ object }}'s details</h3>

          <p class="typ-Text"><strong>User #</strong>: {{ object.id }}</p>
          <p class="typ-Text"><strong>Joined</strong>: {{ object.created | date('jS F Y') }}</p>
          <p class="typ-Text"><strong>Last login</strong>: {{ object.last_login | date('jS F Y') }}
          </p>

          <hr>

          <p class="typ-Text"><strong>Following:</strong> {{ object.get_following.count() }}</p>
          <p class="typ-Text"><strong>Followers:</strong> <span class="js-UserFollow_Followers">{{ object.get_followers.count() }}</span></p>

          {% if user.is_authenticated() %}
            <button class="btn-Primary js-UserFollow ut-SmallMarginTop"
                    data-action="{{ url('users:follow', username=object.username) }}"
                    data-is-following="{{ 'true' if user.is_following(object) else 'false' }}">
              {% if user.is_following(object) %}
                <span class="js-UserFollow_Term">Following</span> {{ object }}
              {% else %}
                <span class="js-UserFollow_Term">Follow</span> {{ object }}
              {% endif %}
            </button>
          {% endif %}
        </div>

        {% if object.psn or object.xbox or object.origin %}
          <div class="asi-Block">
            <h3 class="typ-Title typ-Title-small">{{ object }}'s platform names</h3>

            <ul class="soc-Socials">
              {% if object.psn %}
                <li class="soc-Socials_Item">
                  <div class="soc-Social soc-Social-psn">
                    {% include 'playstation.svg' %}

                    <p class="soc-Social_Overlay">{{ object.psn }}</p>
                  </div>
                </li>
              {% endif %}

              {% if object.xbox %}
                <li class="soc-Socials_Item">
                  <div class="soc-Social soc-Social-xbox">
                    {% include 'xbox.svg' %}

                    <p class="soc-Social_Overlay">{{ object.xbox }}</p>
                  </div>
                </li>
              {% endif %}

              {% if object.origin %}
                <li class="soc-Socials_Item">
                  <div class="soc-Social soc-Social-origin">
                    {% include 'pc.svg' %}

                    <p class="soc-Social_Overlay">{{ object.origin }}</p>
                  </div>
                </li>
              {% endif %}
            </ul>
          </div>
        {% endif %}

        {% if object.twitter or object.youtube or object.twitch or object.facebook %}
          <div class="asi-Block">
            <h3 class="typ-Title typ-Title-small">{{ object }}'s social channels</h3>

            <ul class="soc-Socials">
              {% if object.twitter %}
                <li class="soc-Socials_Item">
                  <a class="soc-Social soc-Social-twitter" href="#1">{% include 'twitter.svg' %}</a>
                </li>
              {% endif %}

              {% if object.youtube %}
                <li class="soc-Socials_Item">
                  <a class="soc-Social soc-Social-youtube" href="#1">{% include 'youtube.svg' %}</a>
                </li>
              {% endif %}

              {% if object.twitch %}
                <li class="soc-Socials_Item">
                  <a class="soc-Social soc-Social-twitch" href="#1">{% include 'twitch.svg' %}</a>
                </li>
              {% endif %}

              {% if object.facebook %}
                <li class="soc-Socials_Item">
                  <a class="soc-Social soc-Social-facebook"
                     href="#1">{% include 'facebook.svg' %}</a>
                </li>
              {% endif %}
            </ul>
          </div>
        {% endif %}

        {% if object.favourite_player or object.favourite_club or object.favourite_nation %}
          <div class="asi-Block">
            <h3 class="typ-Title typ-Title-small">{{ object }}'s favourites</h3>

            <p>{{ object.favourite_player }}</p>
            <p>{{ object.favourite_club }}</p>
            <p>{{ object.favourite_nation }}</p>
          </div>
        {% endif %}

        {% block aside_blocks %}{% endblock %}
      </div>
    </aside>

    <div class="nav-Side_Panel">
      {% block side_panel %}{% endblock %}
    </div>
  </div>
{% endblock %}
