{% extends "base.html" %}
{% import "forms/macros/forms.html" as forms %}
{% import "macros/page.html" as page with context %}
{% set title = 'Login' %}

{% set breadcrumbs = [
  {
    'label': 'Login',
    'link': url('users:login'),
  }
] %}

{% block strapline_title %}Login{% endblock %}
{% block strapline_text %}Login to your {{ settings.SITE_NAME }} account{% endblock %}

{% block content_class %}{{ super() }} lyt-Content-mainTight{% endblock %}

{% block main %}
  <div class="usr-Entry">
    <div class="usr-Entry_Columns usr-Entry_Columns-swapped">
      <div class="usr-Entry_Column usr-Entry_Column-one">
        <div class="usr-EntryForm">
          <form class="usr-EntryForm_Form frm-Form" method="POST">
            {% csrf_token %}

            <div class="frm-Form_Items frm-Form_Items-tight">
              {{ forms.input(form.username) }}
              {{ forms.input(form.password) }}
            </div>

            <div class="frm-Form_Actions">
              <button type="submit" class="frm-Form_Submit btn-Primary">Log in</button>
            </div>
          </form>
        </div>
      </div>

      <div class="usr-Entry_Column usr-Entry_Column-two">
        <div class="usr-EntryList">
          <ul class="usr-EntryList_Items">
            <li class="usr-EntryList_Item">
              <h4 class="usr-EntryList_Title">Don't have an account?</h4>
              <a class="usr-EntryList_Link" href="{{ build_url('users:register') }}">Register</a>
            </li>

            <li class="usr-EntryList_Item">
              <h4 class="usr-EntryList_Title">Forgot your account details?</h4>
              <a class="usr-EntryList_Link" href="#resetUsername">Username</a>
              /
              <a class="usr-EntryList_Link" href="{{ url('users:password_reset') }}">Password</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
