{% extends "base.html" %}

{% block content_class %}{{ super() }} lyt-Content-mainTight{% endblock %}

{% block main %}
  {% if validlink %}
    <form method="post" class="frm-Form">
      {% csrf_token %}

      <p class="frm-Form_Text">
        {% trans %}Please enter your new password twice so we can verify you typed it in correctly.{% endtrans %}</p>

      <fieldset class="frm-Form_Fieldset">
        <div class="frm-Form_Items">
          <div class="frm-Form_Item">
            {{ form.new_password1.errors }}
            <label class="frm-Form_Label" for="id_new_password1">
              {% trans %}New password:{% endtrans %}</label>
            {{ form.new_password1 }}
          </div>

          <div class="frm-Form_Item">
            {{ form.new_password2.errors }}
            <label class="frm-Form_Label" for="id_new_password2">
              {% trans %}Confirm password:{% endtrans %}</label>
            {{ form.new_password2 }}
          </div>
        </div>

        <div class="frm-Form_Actions">
          <button class="frm-Form_Submit btn-Primary">{% trans %}Change my password{% endtrans %}</button>
        </div>
      </fieldset>
    </form>

  {% else %}
    <p class="frm-Form_Text">
      {% trans %}The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.{% endtrans %}
    </p>
  {% endif %}
{% endblock %}
