{% extends "base.html" %}

{% block content_class %}{{ super() }} lyt-Content-mainTight{% endblock %}

{% block strapline_title %}Register{% endblock %}
{% block strapline_text %}Register for a {{ settings.SITE_NAME }} account{% endblock %}

{% block main %}
  <div class="usr-Entry">
    <div class="usr-Entry_Columns">
      <div class="usr-Entry_Column usr-Entry_Column-left">
        <div class="usr-EntryForm">
          <form class="usr-EntryForm_Form frm-Form" method="POST">
            {% csrf_token %}

            <div class="frm-Form_Items frm-Form_Items-tight">
              {% for field in form %}
                <div class="frm-Form_Item frm-Form_Item-full frm-Form_Item-floatingLabel js-FloatingLabel">
                  <label class="frm-Form_Label js-FloatingLabel_Label"
                         for="{{ field.id_for_label }}">{{ field.label }}</label>

                  {{ field }}
                </div>
              {% endfor %}
            </div>

            <div class="frm-Form_Actions">
              <button type="submit" class="frm-Form_Submit btn-Primary">Register</button>
            </div>
          </form>
        </div>
      </div>

      <div class="usr-Entry_Column usr-Entry_Column-right">
        <div class="usr-EntryList">
          <ul class="usr-EntryList_Items">
            <li class="usr-EntryList_Item">
              <h4 class="usr-EntryList_Title">Already have an account?</h4>
              <a class="usr-EntryList_Link" href="{{ build_url('users:login') }}">Log in</a>
            </li>

            <li class="usr-EntryList_Item">
              <h4 class="usr-EntryList_Title">Forgot your account details?</h4>
              <a class="usr-EntryList_Link" href="#resetUsername">Username</a> / <a class="usr-EntryList_Link" href="#resetPassword">Password</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
