{% extends "users/_collection_base.html" %}
{% import "macros/page.html" as page %}
{% import "players/macros/players.html" as player_macros %}

{% block content_above_text %}{{ object }}'s card collection - {{ club }}{% endblock %}

{% block content_above %}
  {{ super() }}

  {{ page.breadcrumbs([
    {
      'label': object,
      'link': object.get_absolute_url(),
    },
    {
      'label': "{}'s card collection".format(object),
      'link': object.get_collection_url(),
    },
    {
      'label': league,
      'link': object.get_collection_league_url(league),
    },
    {
      'label': club,
    }
  ]) }}
{% endblock %}

{% block collection_title_end %} - {{ club }}{% endblock %}

{% block collection_main %}
  <div class="plyr-CardBlock">
    <header class="plyr-CardBlock_Header">
      <h2 class="plyr-CardBlock_Title">Collected</h2>
    </header>

    <div class="plyr-CardBlock_Body">
      {{ player_macros.card_list(collected_players) }}
    </div>
  </div>

  <div class="plyr-CardBlock">
    <header class="plyr-CardBlock_Header">
      <h2 class="plyr-CardBlock_Title">Still to collect</h2>
    </header>

    <div class="plyr-CardBlock_Body">
      {{ player_macros.card_list(uncollected_players, True) }}
    </div>
  </div>
{% endblock %}
