{% extends "users/_collection_base.html" %}

{% block title %}{{ object }}'s card collection{% endblock %}

{% block collection_main %}
  <div class="clc-Objects">
    <div class="clc-Objects_Items">
      {% for league in leagues %}
        <div class="clc-Objects_Item">
          <a class="clc-Object"
             href="{{ object.get_collection_league_url(league) }}">
            <div class="clc-Object_ImageContainer">
              <img class="clc-Object_Image"
                   alt=""
                   src="{{ static('ea-images/leagues/{}.png'.format(league.ea_id)) }}">
            </div>

            <h3 class="clc-Object_Title">{{ league }}</h3>

            <p class="clc-Object_SubTitle">Collection</p>
            <p class="clc-Object_Collection">
              <span class="clc-Object_Collected">{{ object.cardcollection.players.filter(league=league).count() }}</span> / <span class="clc-Object_ToCollect">{{ league.total_players }}</span>
            </p>

            <span class="clc-Object_Link btn-Primary">View League</span>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
