{% extends "users/_collection_base.html" %}
{% import "players/macros/players.html" as player_macros %}

{% block title %}{{ object }}'s card collection - {{ club }}{% endblock %}

{% block strapline_text %}{{ object }}'s card collection - {{ club }}{% endblock %}

{% block collection_title_end %} - {{ club }}{% endblock %}

{% block collection_main %}
  <div class="plyr-CardBlock">
    <header class="plyr-CardBlock_Header">
      <h2 class="plyr-CardBlock_Title">Collected</h2>
    </header>

    <div class="plyr-CardBlock_Body">
      {{ player_macros.card_list(collected_players) }}
    </div>
  </div>

  <div class="plyr-CardBlock">
    <header class="plyr-CardBlock_Header">
      <h2 class="plyr-CardBlock_Title">Still to collect</h2>
    </header>

    <div class="plyr-CardBlock_Body">
      {{ player_macros.card_list(uncollected_players, True) }}
    </div>
  </div>
{% endblock %}
