{% extends "users/_base.html" %}

{% block title %}{{ object }}'s squads{% endblock %}

{% block side_panel %}
  <div class="ea-ObjectsTable">
    <header class="ea-ObjectsTable_Header">
      <div class="ea-ObjectsTable_Row">
        <div class="ea-ObjectsTable_RowLeft">
          <div class="ea-ObjectsTable_Cell ea-ObjectsTable_Cell-flex ea-ObjectsTable_Cell-left">Squad</div>
        </div>

        <div class="ea-ObjectsTable_RowRight">
          <div class="ea-ObjectsTable_Cell ea-ObjectsTable_Cell-120">Formation</div>
          <div class="ea-ObjectsTable_Cell ea-ObjectsTable_Cell-80">Chem</div>
          <div class="ea-ObjectsTable_Cell ea-ObjectsTable_Cell-80">Rating</div>
          <div class="ea-ObjectsTable_Cell ea-ObjectsTable_Cell-160"></div>
          <div class="ea-ObjectsTable_Cell ea-ObjectsTable_Cell-120">Created</div>
        </div>
      </div>
    </header>

    <div class="ea-ObjectsTable_Body">
      {% for squad in object.squad_set.order_by('-created') %}
        <div class="ea-ObjectsTable_Row">
          <div class="ea-ObjectsTable_RowLeft">
            <div class="ea-ObjectsTable_Cell ea-ObjectsTable_Cell-flex ea-ObjectsTable_Cell-left">
              <h3 class="ea-ObjectRow_Title">{{ squad }}</h3>
            </div>
          </div>

          <div class="ea-ObjectsTable_RowRight">
            <div class="ea-ObjectsTable_Cell ea-ObjectsTable_Cell-120">
              <div class="ea-ObjectRow_Cell">
                <span class="ea-ObjectRow_CellText">{{ squad.formation }}</span>
                <span class="ea-ObjectRow_CellTitle">Formation</span>
              </div>
            </div>

            <div class="ea-ObjectsTable_Cell ea-ObjectsTable_Cell-80">
              <div class="ea-ObjectRow_Cell">
                <span class="ea-ObjectRow_CellText">{{ squad.chemistry }}</span>
                <span class="ea-ObjectRow_CellTitle">Chemistry</span>
              </div>
            </div>

            <div class="ea-ObjectsTable_Cell ea-ObjectsTable_Cell-80">
              <div class="ea-ObjectRow_Cell">
                <span class="ea-ObjectRow_CellText">{{ squad.rating }}</span>
                <span class="ea-ObjectRow_CellTitle">Rating</span>
              </div>
            </div>

            <div class="ea-ObjectsTable_Cell ea-ObjectsTable_Cell-160">
              <div class="ea-ObjectRow_Cell">
                <div class="ea-ObjectRow_Actions">
                  <a class="ea-ObjectRow_Action" href="{{ squad.get_absolute_url() }}">View</a>
                  <a class="ea-ObjectRow_Action" href="{{ squad.get_update_url() }}">Edit</a>
                  {% if user.is_authenticated and object != user %}
                    <a class="ea-ObjectRow_Action" href="{{ squad.get_copy_url() }}">Copy</a>
                  {% endif %}
                </div>
              </div>
            </div>

            <div class="ea-ObjectsTable_Cell ea-ObjectsTable_Cell-120">
              <div class="ea-ObjectRow_Cell">
                <span class="ea-ObjectRow_CellText">{{ squad.created | date("jS N 'y") }}</span>
                <span class="ea-ObjectRow_CellTitle">Created</span>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block aside_blocks %}

{% endblock %}
