{% extends "users/_base.html" %}

{% block title %}{{ object }}'s following{% endblock %}

{% block side_panel %}
  <div class="usr-Index usr-Index-full">
    <div class="usr-Index_Panel">
      <header class="usr-Index_PanelHeader">
        <h3 class="usr-Index_PanelTitle">Users {{ object }}'s <strong class="usr-Index_Emphasis">following</strong></h3>
      </header>

      <div class="usr-Index_PanelBody">
        <ul>
          {% for following_user in object.get_following %}
            <li>
              <a href="{{ following_user.get_absolute_url() }}">{{ following_user }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
