{% extends "users/_base.html" %}
{% import "players/macros/search.html" as search %}

{% block title %}{{ object }}'s settings{% endblock %}

{% block strapline_text %}Settings{% endblock %}

{% block side_panel %}
  <form class="frm-Form" method="POST">
    {% csrf_token %}

    {% for group in form.groups %}
      <fieldset class="frm-Form_Fieldset">
        <header class="frm-Form_FieldsetHeader">
          <legend class="frm-Form_Legend">{{ group.legend }}</legend>
          {% if group.help_text %}
            <p class="frm-Form_LegendHelp">{{ group.help_text }}</p>
          {% endif %}
        </header>

        <div class="frm-Form_FieldsetBody">
          <div class="frm-Form_Items{% if group.legend == 'Platforms' or group.legend == 'Favourites' %} frm-Form_Items-3col{% endif %}">
            {% for field in group.fields %}
              {% if field.label == 'Favourite player' or field.label == 'Favourite club' or field.label == 'Favourite nation' %}
                <div class="frm-Form_Item">
                  {% if field.label == 'Favourite player' %}
                    {{ search.player_search(
                      'sch-Settings',
                      'js-SettingsPlayerSearch',
                      'Find player',
                      {'data-input-field': field.name }) }}

                    <div class="frm-Form_Extra frm-Form_Extra-player">
                      {% if user.favourite_player %}
                        <div class="plyr-SearchResult plyr-SearchResult-{{ user.favourite_player.color }}" tabindex="-1">
                          <img class="plyr-SearchResult_Nation" src="{{ static('ea-images/nations/{}.png'.format(user.favourite_player.nation.ea_id)) }}">
                          <img class="plyr-SearchResult_Club" src="{{ static('ea-images/clubs/{}.png'.format(user.favourite_player.club.ea_id)) }}">
                          <p class="plyr-SearchResult_Name">{{ user.favourite_player }}</p>
                          <span class="plyr-SearchResult_Position">{{ user.favourite_player.position }}</span>
                          <img class="plyr-SearchResult_Player" src="{{ static('ea-images/players/{}.png'.format(user.favourite_player.ea_id)) }}">

                          <span class="plyr-SearchResult_Rating">{{ user.favourite_player.rating }}</span>
                          <span class="plyr-SearchResult_RatingIcon"></span>
                        </div>
                      {% endif %}
                    </div>
                  {% elif field.label == 'Favourite club' %}
                    {{ search.player_search(
                      'sch-Settings',
                      'js-SettingsClubSearch',
                      'Find club',
                      {'data-input-field': field.name }) }}

                    <div class="frm-Form_Extra frm-Form_Extra-club">
                      {% if user.favourite_club %}
                        <div class="plyr-SearchResult plyr-SearchResult-object" tabindex="-1">
                          <img class="plyr-SearchResult_Club" src="{{ static('ea-images/clubs/{}.png'.format(user.favourite_club.ea_id)) }}">
                          <p class="plyr-SearchResult_Name">{{ user.favourite_club }}</p>
                        </div>
                      {% endif %}
                    </div>
                  {% elif field.label == 'Favourite nation' %}
                    {{ search.player_search(
                      'sch-Settings',
                      'js-SettingsNationSearch',
                      'Find nation',
                      {'data-input-field': field.name }) }}

                    <div class="frm-Form_Extra frm-Form_Extra-nation">
                      {% if user.favourite_nation %}
                        <div class="plyr-SearchResult plyr-SearchResult-object" tabindex="-1">
                          <img class="plyr-SearchResult_Nation" src="{{ static('ea-images/nations/{}.png'.format(user.favourite_nation.ea_id)) }}">
                          <p class="plyr-SearchResult_Name">{{ user.favourite_nation }}</p>
                        </div>
                      {% endif %}
                    </div>
                  {% endif %}
                  <input type="hidden"
                         name="{{ field.name }}"
                         value="{{ user.favourite_player.id }}"
                         id="{{ field.id_for_label }}">
                </div>
              {% else %}
                <div class="frm-Form_Item
                      {% if field.field.widget.__class__.__name__ == 'Textarea' %} frm-Form_Item-full{% endif %}
                      {% if field.label == 'Psn' %}
                        frm-Form_Item-hasIcon frm-Form_Item-psn
                      {% elif field.label == 'Xbox' %}
                        frm-Form_Item-hasIcon frm-Form_Item-xbox
                      {% elif field.label == 'Origin' %}
                        frm-Form_Item-hasIcon frm-Form_Item-origin
                      {% elif field.label == 'Twitter' %}
                        frm-Form_Item-hasIcon frm-Form_Item-twitter
                      {% elif field.label == 'Youtube' %}
                        frm-Form_Item-hasIcon frm-Form_Item-youtube
                      {% elif field.label == 'Twitch' %}
                        frm-Form_Item-hasIcon frm-Form_Item-twitch
                      {% elif field.label == 'Facebook' %}
                        frm-Form_Item-hasIcon frm-Form_Item-facebook
                      {% endif %}">
                  <label class="frm-Form_Label"
                         for="{{ field.id_for_label }}">{{ field.label }}</label>
                  {{ field }}

                  {% if field.label == 'Psn' %}
                    <span class="frm-Form_InputIcon">
                      {% include 'playstation.svg' %}
                    </span>
                  {% elif field.label == 'Xbox' %}
                    <span class="frm-Form_InputIcon">
                      {% include 'xbox.svg' %}
                    </span>
                  {% elif field.label == 'Origin' %}
                    <span class="frm-Form_InputIcon">
                      {% include 'pc.svg' %}
                    </span>
                  {% elif field.label == 'Twitter' %}
                    <span class="frm-Form_InputIcon">
                      {% include 'twitter.svg' %}
                    </span>
                  {% elif field.label == 'Youtube' %}
                    <span class="frm-Form_InputIcon">
                      {% include 'youtube.svg' %}
                    </span>
                  {% elif field.label == 'Twitch' %}
                    <span class="frm-Form_InputIcon">
                      {% include 'twitch.svg' %}
                    </span>
                  {% elif field.label == 'Facebook' %}
                    <span class="frm-Form_InputIcon">
                      {% include 'facebook.svg' %}
                    </span>
                  {% endif %}
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </fieldset>
    {% endfor %}

    <div class="frm-Form_Actions">
      <button class="frm-Form_Submit btn-Primary">Save</button>
    </div>
  </form>
{% endblock %}
