{% extends "users/_collection_base.html" %}
{% import "macros/page.html" as page %}

{% block content_above_text %}{{ object }}'s card collection - {{ league }}{% endblock %}

{% block content_above %}
  {{ super() }}

  {{ page.breadcrumbs([
    {
      'label': object,
      'link': object.get_absolute_url(),
    },
    {
      'label': "{}'s card collection".format(object),
      'link': object.get_collection_url(),
    },
    {
      'label': league,
    }
  ]) }}
{% endblock %}

{% block collection_title_end %} - {{ league }}{% endblock %}

{% block collection_main %}
  <div class="clc-Objects">
    <div class="clc-Objects_Items">
      {% for club in clubs %}
        <div class="clc-Objects_Item">
          <a class="clc-Object"
             href="{{ object.get_collection_club_url(league, club) }}">
            <div class="clc-Object_ImageContainer">
              <img class="clc-Object_Image"
                   alt=""
                   src="{{ static('ea-images/clubs/{}.png'.format(club.ea_id)) }}">
            </div>

            <h3 class="clc-Object_Title">{{ club }}</h3>

            <p class="clc-Object_SubTitle">Collection</p>
            <p class="clc-Object_Collection">
              <span class="clc-Object_Collected">{{ object.cardcollection.players.filter(club=club).count() }}</span> / <span class="clc-Object_ToCollect">{{ club.total_players }}</span>
            </p>

            <span class="clc-Object_Link btn-Primary">View Club</span>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
