{% macro share_bar(title) %}
  {% with %}
    {% set url_e = path_to_url(request.path)|urlencode %}
    {% set title_e = title|urlencode %}

    <div class="shr-Bar">
      <ul class="shr-Bar_Items">
        <li class="shr-Bar_Item shr-Bar_Item-twitter">
          <a class="shr-Bar_Share"
             href="https://twitter.com/intent/tweet?url={{ url_e }}&amp;text=Check out {{ title }} on Futily! {{ title_e }}">
            {% include "twitter.svg" %}

            <span class="shr-Bar_ShareText">Share {{ title }} on Twitter</span>
          </a>
        </li>

        <li class="shr-Bar_Item shr-Bar_Item-facebook">
          <a class="shr-Bar_Share" href="https://www.facebook.com/sharer.php?u={{ url_e }}">
            {% include "facebook.svg" %}

            <span class="shr-Bar_ShareText">Share {{ title }} on Facebook</span>
          </a>
        </li>

        <li class="shr-Bar_Item shr-Bar_Item-link"></li>
      </ul>
    </div>
  {% endwith %}
{% endmacro %}
