/*
|--------------------------------------------------------------------------
| Features
|--------------------------------------------------------------------------
| @namespace: ftr-
|
*/
.ftr-Features_Items {
  @media (--sm) {
    @include Grid_Row;

    flex-wrap: wrap;
  }
}

.ftr-Features_Item {
  @media (--sm) {
    @include Grid_Column;

    width: calc(percentage(1, 2) - (var(--Grid_Gutter) * 2));
    margin-top: calc(var(--Grid_Gutter) * 2);
  }

  &:nth-child(-n + 2) {
    @media (--sm) {
      margin-top: 0;
    }
  }
}
