/*
|--------------------------------------------------------------------------
| Index
|--------------------------------------------------------------------------
| @namespace: usr-
|
*/
.usr-Index {
  grid-column-gap: calc(var(--Grid_Gutter) * 2);
  grid-template-columns: 1fr 300px;

  display: grid;
}

.usr-Index-full {
  display: block;
}

.usr-Index_Right {
  grid-column: 2 / -1;
}

.usr-Index_PanelHeader {
  align-items: center;
  justify-content: space-between;

  display: flex;
  margin-bottom: 2vr;
  padding-bottom: 1vr;

  border-bottom: 2px solid var(--Color_Border);
}

.usr-Index_PanelTitle {
  @include Font_G;

  font-weight: 400;
}

.usr-Index_Emphasis {
  font-weight: 600;
}
