/*
|--------------------------------------------------------------------------
| Breadcrumb
|--------------------------------------------------------------------------
| @namespace: bdc-
|
*/
.bdc-Breadcrumb {
  color: #a1b1bc;
}

.bdc-Breadcrumb_Items {
  @include Font_A;

  align-items: center;

  display: flex;
}

.bdc-Breadcrumb_Link {
  color: currentColor;

  &:hover {
    color: var(--Color_Green);
  }
}

/*
|--------------------------------------------------------------------------
| Divider
|--------------------------------------------------------------------------
|
*/
.bdc-Breadcrumb_Divider {
  align-items: center;
  justify-content: center;

  display: flex;
  margin-right: var(--Grid_Gutter);
  margin-left: @margin-right;

  /* stylelint-disable */
  svg {
    width: 8px;
    height: @width;

    transform: rotate(-90deg);
  }
  /* stylelint-enable */
}
