/*
|--------------------------------------------------------------------------
| Markdown
|--------------------------------------------------------------------------
| @namespace: md-
|
*/
/* stylelint-disable selector-max-type */
.md-Markdown {
  p {
    margin-bottom: 0.5vr;
  }

  /* We want every first and last item to never have their relative margin */
  /* stylelint-disable selector-max-universal, declaration-no-important */
  > *:first-child {
    margin-top: 0 !important;

    /* This covers cases like images */
    > *:first-child {
      margin-top: 0 !important;
    }
  }

  > *:last-child {
    margin-bottom: 0 !important;

    /* This covers cases like images */
    > *:last-child {
      margin-bottom: 0 !important;
    }
  }
}
/* stylelint-enable */
