/*
|--------------------------------------------------------------------------
| Pagination
|--------------------------------------------------------------------------
| @namespace: pgn-
|
*/
.pgn-Pagination {
  align-items: center;
  justify-content: center;

  display: flex;
  margin-top: 2vr;
}

/*
|--------------------------------------------------------------------------
| Items
|--------------------------------------------------------------------------
|
*/
.pgn-Pagination_Items {
  display: flex;
}

.pgn-Pagination_Item {
  margin-right: 2px;
  margin-left: @margin-right;

  @media (--xxs-viewport) {
    display: none;
  }

  &[aria-current='page'] {
    @media (--xxs-viewport) {
      display: block;
    }
  }
}

.pgn-Pagination_Link {
  @include Font_A;

  align-items: center;
  justify-content: center;

  display: flex;
  width: 30px;
  height: @width;

  font-weight: 600;

  border: 0;
  border-radius: 5px;
  color: #2c3e50;

  @media (--xxs-viewport) {
    width: auto;
    padding-right: var(--Grid_Gutter);
    padding-left: @padding-right;
  }

  &:not([disabled]):hover {
    background-color: var(--Color_Brand-1);
    color: #fff;
  }

  [aria-current='page'] & {
    background-color: var(--Color_Brand-1);
    color: #fff;

    &:hover {
      background-color: var(--Color_Brand-1);
    }
  }
}

.pgn-Pagination_LinkOf {
  display: none;

  @media (--xxs-viewport) {
    display: block;
    margin-left: 3px;
  }
}

/*
|--------------------------------------------------------------------------
| Control
|--------------------------------------------------------------------------
|
*/
.pgn-Pagination_Control {
  @include Font_A;

  align-items: center;

  display: flex;
  height: 30px;
  padding-right: 10px;
  padding-left: @padding-right;

  font-family: inherit;
  font-weight: 600;

  background-color: var(--Color_Support-supplement);
  border: 0;
  border-radius: 5px;
  color: #fff;

  &:hover {
    background-color: var(--Color_Brand-1);
  }

  &[disabled] {
    background-color: var(--Color_Light-3);
    cursor: not-allowed;
  }
  &.pgn-Pagination_Control-prev {
    margin-right: var(--Grid_Gutter);
  }
  &.pgn-Pagination_Control-next {
    margin-left: var(--Grid_Gutter);
  }
}

.pgn-Pagination_ControlText {
  .pgn-Pagination_Control-prev & {
    margin-left: 5px;
  }
  .pgn-Pagination_Control-next & {
    margin-right: 5px;
  }
}
