/*
|--------------------------------------------------------------------------
| Inline label
|--------------------------------------------------------------------------
| @namespace: frm-
|
*/
.frm-InlineLabel {
  cursor: pointer;

  .asi-FilterFlyout_Option & {
    display: block;
    width: 100%;
  }
}
