/*
|--------------------------------------------------------------------------
| Article
|--------------------------------------------------------------------------
| @namespace: pg-
|
*/
.pg-Article_Header {
  margin-bottom: 1vr;
}

.pg-Article_Title {
  margin-bottom: 1vr;

  font-size: 36px;
  font-weight: 600;
  line-height: 42px;
}
