/*
|--------------------------------------------------------------------------
| Bottom banner
|--------------------------------------------------------------------------
| @namespace: pg-
|
*/
.pg-BottomBanner {
  margin-top: 2vr;
  margin-bottom: @margin-top;
}

.pg-BottomBanner_Inner {
  @include Grid_Container;
}

.pg-BottomBanner_Body {
  text-align: center;
}
