/*
|--------------------------------------------------------------------------
| Section
|--------------------------------------------------------------------------
| @namespace: pg-
|
*/
.pg-Section {
  margin-bottom: 2vr;

  &:last-child {
    margin-bottom: 0;
  }
}

.pg-Section_Header {
  align-items: baseline;
  justify-content: space-between;

  display: flex;
  margin-bottom: 1vr;
  padding-bottom: 15px;

  border-bottom: 2px solid var(--Color_Border);
}

.pg-Section_Title {
  @include Font_G;

  font-weight: 400;
}

.pg-Section_Name {
  @include Font_C;

  font-weight: 600;
}

.pg-Section_Emphasis {
  font-weight: 600;
}

.pg-Section_TitleSmall {
  margin-left: 10px;
}

.pg-Section_Link {
  font-weight: 600;
}
