/*
|--------------------------------------------------------------------------
| Strapline
|--------------------------------------------------------------------------
| @namespace: pg-
|
*/
.pg-Strapline {
  padding-top: 1.25vr;
  padding-bottom: @padding-top;

  background-color: var(--Color_Grey-light);
  border-bottom: 1px solid var(--Color_Border);
}

.pg-Strapline_Inner {
  @include Grid_Container;
}

.pg-Strapline_Body {
  align-items: center;

  display: flex;
}

/*
|--------------------------------------------------------------------------
| Image
|--------------------------------------------------------------------------
|
*/
.pg-Strapline_ImageContainer {
  flex-basis: 80px;
  flex-shrink: 0;

  margin-right: var(--Grid_Gutter);
}

/*
|--------------------------------------------------------------------------
| Content
|--------------------------------------------------------------------------
|
*/
.pg-Strapline_Content {
  margin-right: auto;
}

.pg-Strapline_Title {
  @include Font_G;

  font-weight: 600;
}

.pg-Strapline_Text {
  @include Font_C;

  margin-top: 0.25vr;
}

.pg-Strapline_Advert {
  flex-shrink: 0;

  margin-left: calc(var(--Grid_Gutter) * 2);
}
