/*
|--------------------------------------------------------------------------
| Requirements
|--------------------------------------------------------------------------
| @namespace: bld-
|
*/
.sbc-Requirements_Title {
  @include Font_C;

  margin-bottom: 1vr;
}

/*
|--------------------------------------------------------------------------
| Items
|--------------------------------------------------------------------------
|
*/
.sbc-Requirements_Items {
  flex-direction: column;

  display: inline-flex;

  .pg-Section & {
    display: block;

    list-style: square inside;
  }
}

.sbc-Requirements_Item {
  margin-bottom: 1vr;

  &:last-child {
    margin-bottom: 0;
  }
}
